[2016-07-01 10:12] leandro-lucarella-sociomantic opened #1 "Create a logo for Ocean"
## Summary

Create a logo for Sociomantic main core library we just open-sourced called Ocean.
## Brief Description

This is base library for D focused on high-performance applications. It's used to create applications that are fast and use networks mainly.
## Why Ocean is cool / important?

Ocean allows developers to create fast and efficient applications. Is the core library powering the whole S

[2016-07-01 10:24] leandro-lucarella-sociomantic opened #2 "Check ocean.math.Probability license"
As found out by http://forum.dlang.org/post/wxxglugezdgqqgsiaebn@forum.dlang.org, the https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/math/Probability.d module original code has a different license than the stated by the D module.

This module comes from Tango: http://www.dsource.org/projects/tango/browser/trunk/tango/math/Probability.d and we kept the original copyright notice,

[2016-07-01 10:29] leandro-lucarella-sociomantic commented on #2
E-mail to Stephen L. Moshier sent.

[2016-07-01 10:34] leandro-lucarella-sociomantic commented on #2
Domain doesn't even exist. Damn. OK, found the official webpage with another contact address, will try that. http://www.moshier.net/#Cephes

[2016-07-01 11:23] joseph-wakeling-sociomantic commented on #1
https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa ;-)

[2016-07-01 12:20] gautam-kotian-sociomantic commented on #1
@alaksiej-stankievicx-sociomantic had an interesting idea in our internal chat about a ship on an ocean with "D" being its sail...

[2016-07-11 14:24] leandro-lucarella-sociomantic opened #3 "Generate and publish documentation"

[2016-07-18 17:13] leandro-lucarella-sociomantic commented on #2
Steve Moshier approved the change of license to Boost+BSD :tada:

[2016-08-04 08:34] dylan-cromwell-sociomantic commented on #1
I think there is a typo above @leandro-lucarella-sociomantic when it says "Why is Makd cool / important" shouldn't it be Ocean?

[2016-08-04 09:14] leandro-lucarella-sociomantic commented on #1
Yes, of course, copy&paste error :)

[2016-08-10 11:56] dylan-cromwell-sociomantic commented on #1
@leandro-lucarella-sociomantic this has been submitted to Design. I will follow the project to it's completion and post iterations here for your (and others') feedback. I have altered the deadline to 1 month later, 15/9/16 as I think giving 1 month is reasonable.

[2016-09-21 17:17] #2 closed, assigned to leandro-lucarella-sociomantic

[2017-01-17 19:40] leandro-lucarella-sociomantic opened #7 "Sync v2.3.{10,11,12}, v2.4.{1,2,3} and v2.5.0 releases"

[2017-01-17 21:49] leandro-lucarella-sociomantic commented on #7
Done:

* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.3.10-preview
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.3.11-preview
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.3.12-preview
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.4.1-preview
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.4.2-preview
* https://githu

[2017-01-17 21:49] #7 closed, assigned to leandro-lucarella-sociomantic

[2017-02-06 12:32] leandro-lucarella-sociomantic opened #8 "Sync new internal releases v2.4.4 and v2.5.1"

[2017-02-06 12:32] leandro-lucarella-sociomantic commented on #8
Done!

* https://github.com/sociomantic/ocean/releases/tag/v2.4.4
* https://github.com/sociomantic/ocean/releases/tag/v2.5.1

[2017-02-06 12:32] #8 closed, assigned to leandro-lucarella-sociomantic

[2017-02-06 12:35] nemanja-boric-sociomantic commented on #8
Wrong links ;-)

[2017-02-08 12:39] leandro-lucarella-sociomantic opened #9 "Be able to compile using upstream compiler"
For now Ocean for D2 is stuck at 2.070.x, but even then there are custom modifications that are needed to be able to build / use it (this compiler is built as part of Ocean automated testing by applying [patches to the upstream compiler](https://github.com/sociomantic-tsunami/ocean/tree/v2.4.x/docker/dmd-transitional/patches).

These are the issues:

- [x] `GC.stats` (https://github.com/dlang/drun

[2017-02-08 16:17] mihails-strasuns-sociomantic commented on #9
There are various issue that have already been fixed in later versions of upstream compiler but have to be picked for 2.070 base we use. For example:

1) `GC.stats` (https://github.com/dlang/druntime/pull/1610), available starting with 2.072
2) 5.1 GCC fixup (https://github.com/dlang/dmd/pull/5686), available starting with 2.072
3) Extra C bindings, available starting with 2.073

Those changes pro

[2017-02-08 16:35] leandro-lucarella-sociomantic commented on #9
Thanks, updated the summary with a TODO list.

[2017-02-08 16:37] mihails-strasuns-sociomantic commented on #9
Do you need a full list of fixes in later versions with PR links? I only picked some as an example.

[2017-02-17 16:17] leandro-lucarella-sociomantic opened #13 "Sync new internal releases v2.4.5, v2.5.2 and v2.5.3"

[2017-02-17 16:36] leandro-lucarella-sociomantic commented on #13
Done:

* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.4.5-preview
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.5.2-preview
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.5.3-preview

[2017-02-17 16:36] #13 closed, assigned to leandro-lucarella-sociomantic

[2017-02-20 11:59] mathias-baumann-sociomantic commented on #1
That schedule worked out great :>

[2017-02-28 17:17] leandro-lucarella-sociomantic opened #15 "Fix docker cache for travis builds"
Right now for some reason travis seems to be failing to cache the images that we pull and push to the docker registry to work as a cache, thus making the whole pulling and pushing just another time drain.

I already contacted Travis CI and they gave me some sort of experimental SSH access to the VM a job was run on, so I will be able to debug this and hopefully find a solution.

Since to be able t

[2017-02-28 17:20] mihails-strasuns-sociomantic commented on #15
Acknowledged

[2017-02-28 17:40] leandro-lucarella-sociomantic opened #16 "Sync internal releases v2.4.6 v2.5.4 v2.6.0 v2.6.1"
Hopefully the last one!

[2017-03-09 14:13] leandro-lucarella-sociomantic commented on #16
v2.6.x sync https://github.com/sociomantic-tsunami/ocean/pull/17

[2017-03-09 15:49] leandro-lucarella-sociomantic commented on #16
Done:

* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.5.4-preview
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.4.6-preview

[2017-03-09 16:42] leandro-lucarella-sociomantic commented on #16
Done:
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.6.0
* https://github.com/sociomantic-tsunami/ocean/releases/tag/v2.6.1

:tada:

[2017-03-09 16:42] #16 closed, assigned to leandro-lucarella-sociomantic

[2017-03-09 16:43] leandro-lucarella-sociomantic commented on #3
https://readthedocs.org/ can be an option.

[2017-03-10 08:48] gavin-norman-sociomantic opened #25 "Fix and re-enable disabled integration test"
#24 disables the `signalfd` test due to a level of flakiness. This should be fixed / rewritten and re-enabled.

[2017-03-10 15:46] mathias-lang-sociomantic opened #33 "Support Formatter from ocean.time.Time"
Right now `format("{}", someTimestamp)` prints `{ ticks_: 636247008000000000 }` instead of `03/10/17 00:00:00`

Good old Tango supports it via [this horror](https://github.com/sociomantic-tsunami/ocean/blob/286a81bbabb0f422c268c53642f97fd832648390/src/ocean/text/convert/Layout_tango.d#L859-L871).

With the `Formatter`, we can just provide a `toString` method. Feel free to assign me.

[2017-03-10 22:04] Mirma commented on #3
readthedocs.org is mostly used for manuals, isn't it. Maybe you can provide an example when using it for documenting an API. Because this seems to be the use case here.

`harbored-mod` is an option but its [default style](http://defenestrate.eu/docs/tharsis-core/api/tharsis/entity.html) style needs to be improved. I feel it does not look good. Maybe there are other well designed and usable styles

[2017-03-13 08:20] nemanja-boric-sociomantic commented on #3
We were already (internally) generating the documentation using harbored-mod. The advantage of it is that it avoids DDOC macros/syntax which makes the documentation inlined in source code quite unreadable IMHO (and in opinion of some others), but it uses markdown which is a fine compromise. There are several functional quirks in harbored-mod that need to be tide up as well.

[2017-03-13 11:30] leandro-lucarella-sociomantic commented on #3
I thought you could just use readthedocs as a hosting of static pages, but on a quick look it seems like you have to build your docs in there. Another alternative would be [GitHub Pages](https://pages.github.com/) (I'm not super excited about having a branch for generated docs that grow and grow in the repo though, although in terms of storage it will probably be very efficient because it can pote

[2017-03-13 12:11] mihails-strasuns commented on #3
To me using github pages sounds like a most natural choice.

[2017-03-13 12:11] mihails-strasuns-sociomantic commented on #3
To me using github pages sounds like a most natural choice.

[2017-03-13 15:17] nemanja-boric-sociomantic opened #36 "`TimerExt` should allow for GC-free allocations"
Currently, `TimerExt` of `DaemonApp` is based on the `TimerSet`, which with few more inheritance layer goes back to `TimeoutManager`. `TimeoutManager` by default uses `BucketElementGCAllocator` for allocating internals, which uses GC to allocate.

However, `TimeoutManager` allows for configuring this, so another allocation strategies may be used, such malloc/free via `BucketElementMallocAllocator`

[2017-03-13 15:19] nemanja-boric-sociomantic commented on #36
cc @vasileios-kyrillidis-sociomantic

[2017-03-13 15:28] mathias-lang-sociomantic opened #37 "Allow to reconfigure loggers live from UnixSocket"
Now that we have UnixSocket support in DaemonApp, it would be nice to get a set of basic commands in (which can be overriden / skipped if the dev wants to).

One of those would be the ability to change logger configurations live, so one can temporarily enable / disable some loggers for debugging purpose.

[2017-03-13 15:53] gavin-norman-sociomantic commented on #36
Interesting. Is there an actual use-case for this? I mean, I agree that it's theoretically possible, but also feel that such implementation details should be avoided at the level of the app classes, wherever possible.

As far as I've seen, the `TimerExt` is normally just used at app startup to set up a few timers.

[2017-03-13 16:04] nemanja-boric-sociomantic commented on #36
There is an actual use-case for this. It all comes down to:

apparently not being true. Application will actually allocate on every timer firing event (I will dig a little bit more to find out why), which generates a lot of opportunity for GC collections, even if there's no other GC activity in the application

[2017-03-13 16:05] nemanja-boric-sociomantic commented on #36
This is the map that actually allocates underneath: https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/time/timeout/TimeoutManager.d#L229

[2017-03-13 16:14] nemanja-boric-sociomantic commented on #36
Periodic stacktrace:

[code]

[2017-03-14 08:26] gavin-norman-sociomantic commented on #36
That sounds like a bug to me.

[2017-03-14 08:28] gavin-norman-sociomantic commented on #37
Huh cool idea!

[2017-03-14 09:55] jens-mueller-sociomantic opened #40 "`toDString` should accept `Const!(char)*`"
The function `toDString` in `ocean.text.util.String` should be more general by accepting `Const!(char)*` instead of `char*`. Consider the case when you have a C string

[code]

Currently you cannot call `toDString` because `c_string` is `const`. You can easily end up with a `const` C string when calling a C library. As a work around you can copy `c_string` to a `char*`. To me the proper fix is all

[2017-03-14 10:02] nemanja-boric-sociomantic commented on #36
If this is not expected (somehow I got impression that it is), that this is indeed a bug. I will take a look.

[2017-03-14 10:29] andrew-stevenson-sociomantic commented on #36
IIUC its every time a new timer event is scheduled. It just so happens that some code schedules the next timer when the last one has fired.

[2017-03-14 10:33] gavin-norman-sociomantic commented on #36
We discussed this verbally. It seems like it comes down to changes in the default behaviour of `Map` over the years. My assumptions about it were out-dated ;)

[2017-03-14 10:37] mathias-lang-sociomantic commented on #40
Actually it should accept `inout` since it's the textbook reason for its existence.

[2017-03-14 10:58] jens-mueller-sociomantic commented on #40
True. If `inout` works out that would be even better.

[2017-03-14 13:55] #36 closed, assigned to nemanja-boric-sociomantic

[2017-03-15 11:12] gavin-norman-sociomantic opened #41 "Add void sink delegate support to Formatter"
The return value of the sink delegate (`size_t delegate ( cstring chunk )`) is currently unused. For more convenient usage, it'd be nice for `Formatter` to support void sink delegates.

[2017-03-15 11:16] david-eckardt-sociomantic commented on #41
Oh yes, please do that.

[2017-03-15 11:38] mathias-lang-sociomantic opened #43 "Document supported format string in Formatter"
It's a common request, and would be nice to have comprehensive docs on that.
The format is inherited from `Layout`, and is currently DMD-style documentated (read the code).

[2017-03-17 15:29] gavin-norman-sociomantic opened #46 "Task.await() with timeout"
There are many situations where you want to wait for a Task to finish _or_ a certain time to pass. (e.g. connecting to a server with some bail-out logic if the connection isn't promptly established.)

[2017-03-20 22:15] mathias-lang-sociomantic opened #52 "UnixSocket: Let handlers interact with users"
Working on https://github.com/sociomantic-tsunami/ocean/issues/37 I found myself wishing a way to interact with the user. Currently commands are one-shot: One send a command, an action is performed and one or multiple messages are sent back.

However, certain actions are complex or dangerous, in which case the handler might want to interact with the user. For example, here's an example of using `a

[2017-03-21 08:32] nemanja-boric-sociomantic commented on #52
Correct, and this is something that we want to do anyway, but it shouldn't be a problem, given ocean existing infrastructure.

[2017-03-21 08:32] nemanja-boric-sociomantic commented on #52
I will look into this.

[2017-03-21 14:35] #25 closed, assigned to nobody

[2017-03-21 14:40] joseph-wakeling-sociomantic commented on #46
Just to note: this covers a lot of use-cases, but there will be times when _one_ aspect of a task is a hard blocker but another can be timed out.

I guess the sane behaviour here is that if called without a timeout, `Task.await()` waits for as long as it takes, so it's in the user's hands what is wanted ... ?

[2017-03-21 14:45] gavin-norman-sociomantic commented on #46
An example, if I understand what you mean, would be something like awaiting connection to a distributed server. You could do that with something like this:
[code]

[2017-03-21 14:56] joseph-wakeling-sociomantic commented on #46
Yes, that sounds like a good approach.

[2017-03-21 15:22] joseph-wakeling-sociomantic commented on #46
Would also be helpful if it was possible to provide a notification delegate of some kind to handle the cases where (i) the wait ended because the task exited successfully and (ii) the wait ended because the timeout was reached.

[2017-03-21 15:26] nemanja-boric-sociomantic commented on #46
Given the tendency of task code to flow linearly, I would think the cleanest option would be just to provide this via return boolean or `out` parameter?

[code]

[2017-03-21 15:29] gavin-norman-sociomantic commented on #46
Yeah, we can provide a return value.

[2017-03-22 17:20] #40 closed, assigned to nobody

[2017-03-23 12:47] mihails-strasuns-sociomantic opened #58 "Check if scheduler state restriction is necesary in `await`"
I can't remember the reason why https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/task/Scheduler.d#L455 was added, will need to investigate that again.

[2017-03-24 10:30] gavin-norman-sociomantic commented on #58
This issue was raised due to this assert firing in code like the following, which intuitively looks like a valid use case:
[code]

[2017-03-24 11:40] daniel-zullo-sociomantic opened #63 "Resize BitArray does not update the pad bits if the dimension does not change"
According to the documentation of the function `length()` in the `BitArray`, the new bits will be initialized to zero. Unfortunately if the dimension of the `BitArray` is not changed then the bits remains the same
(they are not set to zero).

https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/core/BitArray.d#L70-L98

[code]

Recently we fixed a bug and added a unit test but unfortu

[2017-03-24 11:41] daniel-zullo-sociomantic commented on #63
If you agree on this issue then I'll be happy to send a patch to fix it.

[2017-03-24 11:43] nemanja-boric-sociomantic commented on #63
Yes, this sounds like it needs fixing!

[2017-03-28 15:02] #58 closed, assigned to mihails-strasuns-sociomantic

[2017-03-29 17:19] mathias-lang-sociomantic commented on #33
Fixed by #35

[2017-03-29 17:19] #33 closed, assigned to mathias-lang-sociomantic

[2017-04-07 13:48] scott-gibson-sociomantic opened #69 "`ocean.sys.Stats.d` reports infinite memory percentage usage."
Example logfile - `2017-04-07 13:32:22,893 cpu_user:89.94 cpu_system:9.89 cpu_total:99.83 vsz:224120832 rss:190791680 mem_percentage:inf`

Server reports 62.7G RAM.

[2017-04-10 09:44] nemanja-boric-sociomantic commented on #69
Fixed in #70

[2017-04-10 09:44] #69 closed, assigned to nobody

[2017-04-18 18:29] david-eckardt-sociomantic opened #79 "Deserializer trouble with const(T[])[] struct fields"
`Deserializer` does not correctly deserialise `const(T[])[]` struct fields. The problem is a qualifier-incompatible way of checking for a dynamic array in [`sliceSubArrays`](https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/util/serialize/contiguous/Deserializer.d#L1050-L1052).
For the reference type qualifier inexperienced, this is how it fails:
[code]
So far so good, this can be

[2017-04-19 15:10] mathias-lang-sociomantic commented on #37
Started working on this

[2017-04-21 16:16] hatem-oraby-sociomantic opened #84 "Provide an ocean-d2 repo"
Currently if you have a D2 only application and you decided to use ocean then you have to do the following:
- Make sure that you have [d1to2fix](https://github.com/sociomantic-tsunami/d1to2fix/) installed on your system
- Add Ocean as a submodule
- Go to the ocean submodule directory and checkout the desired branch
- Add [Makd](https://github.com/sociomantic-tsunami/makd/) as a submodule to ocean

[2017-04-21 16:21] leandro-lucarella-sociomantic commented on #84
Yeah, I think simplifying access to D2 users is key for people to even dare to have an eye on Ocean, so I think a plan like this could be a very good start. We still have the major issue of not being able to use upstream compilers yet, but hopefully that will be sorted out not too far in the future if the DIP about `@future` gets accepted and implemented soon so we can solve the `Throwable.message

[2017-04-22 09:32] mihails-strasuns-sociomantic commented on #79
Currently by design it should not be legal at all to deserialize into struct with any `const` fields - I am surprised (and worried) it compiles at all. Intended pattern would be to serialize struct as const but to deserialize as mutable - otherwise deserializer would have to blindly agree to mutating `const` field.

What was original code that has triggerred the issue?

[2017-04-22 16:18] mihails-strasuns-sociomantic commented on #84
Last time it was discussed, automatic generation of branches with `-d2` suffix in the same repo was the intended approach. I think it works better than dedicated repo because it prevents confusion where to create issues/PRs and makes it more obvious that content is automatically generated.

[2017-04-24 07:20] gavin-norman-sociomantic commented on #84
Oh that's great!

[2017-04-24 08:10] gavin-norman-sociomantic opened #85 "Enhance Buffer to minimise calls to `enableStomping` / `assumeSafeAppend`"
Code like the following is very common:
[code]
Live testing of calling such code in a tight loop has revealed that the impact of `enableStomping` (which, in turn, calls `assumeSafeAppend`) on the D2 build is significant. (One concrete example: iterating over a large database in memory and writing it out to disk was about 20% slower in the D2 build.)

One way to fix this is to never reduce the leng

[2017-04-24 08:15] mihails-strasuns-sociomantic commented on #85
Note that this requires storing extra manual `capacity` field which makes performance _worse_ in some other cases (afair @mathias-lang-sociomantic checked that when investigating original `ApendBuffer`). In my opinion best approach would be to make it compile-time flag of `Buffer` to chose between two behaviours, though not sure yet which to make default.

[2017-04-24 11:25] hatem-oraby-sociomantic commented on #84
Both would work fine, however there are few pros and cons to each side:
- Pros for a separate D2 repo:
  - Creating a separate repo would remove noise from the original repo
  - I think it'll be easier to add it to dub since it will also have correct version number (without a `-d2` suffix).
  - We can disable the issues and PRs in the new repo and we can make Travis CI inject a line to the readme

[2017-04-24 11:29] nemanja-boric-sociomantic commented on #84
This only apply to applications that are not converted to D2 during build time, but have D2 commited code, though, and at that point you could reference the another repo anyway.

[2017-04-24 11:38] david-eckardt-sociomantic commented on #79
Yes, unfortunately it did compile and just silently skipped the `const` fields, producing garbage.
What exactly would it be a problem to deserialise structs with `const` fields? After all `const` only means one cannot change it through this name, not that it will never change (in fact it won't unless you modify the referenced buffer with serialised data, which you shouldn't).
Or is it about losing

[2017-04-24 12:03] mihails-strasuns-sociomantic commented on #79
It was combination of two points:

1) Adding `const` support increases maintenance complexity considerably. As long as contiguous property is not violated, it should not be possible to trigger UD this way (because underlying data buffer is always mutable) but it is something that needs to be kept in mind for every single change as type system does not protect you here (we cast everything to plain

[2017-04-24 12:43] david-eckardt-sociomantic commented on #79
True, but `const` support needs to be added at least in the way that it is detected and rejected. Without handling `const` in any way the deserialiser  produces garbage. In  #80 the actual complication and increased maintenance burden is the code which detects `const` while handling it after it hast been detected is relatively simple: Just cast it away.
A radically simple alternative would be to c

[2017-04-24 12:46] mihails-strasuns-sociomantic commented on #79
Yeah, rejecting such structs is a must of course, existing situation is unacceptable. I will create a separate PR just for that.

[2017-04-24 12:48] david-eckardt-sociomantic commented on #79
I could change #80 to reject `const` if detected rather than handling it.

[2017-04-24 12:49] david-eckardt-sociomantic commented on #79
But my main point is complexity/maintenance burden, which wouldn't change. Would you rather do a whole-struct check using `__traits(compiles)` or something similar?

[2017-04-24 12:57] mihails-strasuns-sociomantic commented on #79
I don't think simple whole-struct check is possible for our case (for example, it will pass if structs contains `cstring`), my intended approach was to add dedicated `ocean.core.Traits` template, `containsQualified` which may or may not return qualified field name (I don't mind either way).

[2017-04-24 13:07] david-eckardt-sociomantic commented on #79
I'm not sure if this is much better: `containsQualified` would just do the exact same type recursion as the serialiser. (In fairness, this is the case for `ContainsDynamicArray` as well, so it could be a good idea.)

[2017-04-24 13:11] david-eckardt-sociomantic commented on #79
Hm, isn't `isPOD` what we really want? There are even more D2 struct features that should be rejected, disabled post-blit or struct constructors for example.

[2017-04-24 13:20] mihails-strasuns-sociomantic commented on #79
True, repeating type recursion is annoying but in my opinion it is much easier to maintain bunch of  highly specialized recursions than one generic one (i.e. we duplicate it in `Contiguous` invariant already).

What is the definition of `isPOD` you refer to? I don't see one in ocean.

[2017-04-24 13:29] david-eckardt-sociomantic commented on #79
[`__traits(isPOD)`](http://dlang.org/spec/traits.html#isPOD) -- IIRC a struct without construction or copying constraints and only mutable fields (not sure if POD means the latter as the documentation doesn't define POD).

[2017-04-24 13:32] mihails-strasuns-sociomantic commented on #79
I don't think that trait cares about mutability at all : https://dpaste.dzfl.pl/6602096c8053

[2017-04-24 13:33] david-eckardt-sociomantic commented on #79
Ok, but non-POD should be rejected as well, shouldn't it?

[2017-04-24 13:35] mihails-strasuns-sociomantic commented on #79
http://dlang.org/glossary.html#pod seems to match our goals, but I would only commit it after trying out with bunch of structs we serialize :)

[2017-04-24 13:40] mathias-lang-sociomantic commented on #79
Initialized and copied. I think that means 'copied from', so a `struct` including non-mutable element fall under this definition as well.

[2017-04-24 15:38] david-eckardt-sociomantic commented on #79
Think of all the struct inheritance with virtual functions we have in our code base.

[2017-04-24 16:38] david-eckardt-sociomantic commented on #79
I'm still not entirely sure about whether support to reject `const` struct fields. IIUC type system wise supporting it is fine so the reason for rejecting it would be to avoid additional complexity and the higher maintenance burden. Is this a good reason? I wonder:
- The `const` support code is already in #80.
- The complexity is already high; looking at the code I don't think `const` support unre

[2017-04-25 15:27] leandro-lucarella-sociomantic commented on #84
We tried in the past with putting converted D2 code in the same repo but for me it didn't worked well, it pollutes a lot the blessed repo with what is basically garbage for developers. These automatically converted branches would only be useful for pure-users.

To keep things simple I wonder if just adding a `.tag.gz` with the converted code to the GitHub releases wouldn't be enough. We could do t

[2017-04-25 15:38] hatem-oraby-sociomantic commented on #84
I think this would be inconvenient. You can't download it through git cli and you have to extract and set it up. Also you we won't be able to add it to dub (unless dub has support for `tar.gz` that I'm not aware or of).

It claims to support it: https://docs.travis-ci.com/user/cron-jobs/

[2017-04-25 17:20] leandro-lucarella-sociomantic commented on #84
Can't you upload stuff to dub?

[2017-04-25 17:27] hatem-oraby-sociomantic commented on #84
Not that I'm aware of: https://code.dlang.org/publish

[2017-04-25 18:01] mihails-strasuns-sociomantic commented on #84
tarball also doesn't fit well with the idea that D2-only applications will eventually depend on already converted version in a submodule

[2017-04-26 09:44] mihails-strasuns-sociomantic opened #87 "Serializer must process `Contiguous!(S)` fields as structs"
Currently this test fails with contiguity contract violated:

[code]

[code]

Problem happens because `Contiguous` struct is simply a wrapper on top of `void[]` from the PoV of the type system. As such, it will be serialized same as plain `void[]` array, as a raw sequence of bytes - meaning any internal pointers it contains won't be updated to refer to new buffer.

The only possible fix is to add

[2017-04-26 11:15] hatem-oraby-sociomantic commented on #84
I tried to implement a script that takes each tag and converts to D2 it and sync it to a remote repo:
https://github.com/oraby/ocean/commit/fe7219f3a01d8beb2417091dc8ce4c02078d3bb3

@leandro-lucarella-sociomantic  (and anyone else who maintains the CI): if we agreed to use a remote repo, does that script conver everything needed to make a cron-job or there are more missing steps?

[2017-04-26 12:43] leandro-lucarella-sociomantic commented on #84
I'll have a look.

[2017-04-26 13:08] leandro-lucarella-sociomantic commented on #84
BTW, I created the repo already, in case someone else can review/test before I can: https://github.com/sociomantic-tsunami/ocean-d2

[2017-04-26 13:14] joseph-wakeling-sociomantic opened #89 "Replace format function in ocean.text.convert.Float"
The `ocean.text.convert.Float` module defines a specialized `format` function that writes a formatted string of a floating point number into a provided buffer.  This is used under the hood in `ocean.text.convert.Formatter` to handle floating-point values.

However, having this separate public `format` definition produces a naming clash any time anyone wants to import both `ocean.text.convert.Float

[2017-04-26 13:16] joseph-wakeling-sociomantic commented on #89
Note, downstream users of `ocean.text.convert.Float.format` ought to be able to use `snformat` (from the `Formatter` module) as a replacement for all their use-cases.

[2017-04-26 15:20] mathias-lang-sociomantic commented on #85
Maybe we could look into making it a sticky attribute, so we only call it once ?

[2017-04-26 16:51] hatem-oraby-sociomantic commented on #84
How can I test it? or is it only for those with write permissions?

Also, can you disable Issues and Wiki on that repo.

[2017-04-28 15:23] leandro-lucarella-sociomantic commented on #84
Yes!

[2017-04-28 15:24] leandro-lucarella-sociomantic commented on #84
You should probably add a [pull request template](https://github.com/blog/2111-issue-and-pull-request-templates) too to discourage people from opening a PR.

[2017-04-28 16:15] hatem-oraby-sociomantic commented on #84
This sounds like a new idea as well, I can write it but I need someone with write-access to commit it.

[2017-05-02 10:37] mihails-strasuns-sociomantic opened #95 "Replace `pragma` with `static assert` in serializer and re-enable relevant tests"
Follow-up for https://github.com/sociomantic-tsunami/ocean/pull/94 to be done in next major release. Informational warning about using `const` with deserializer should be replaced with hard assertion and tests that ensure such code is rejected has to be re-enabled.

[2017-05-02 10:55] mihails-strasuns-sociomantic commented on #85
Interesting idea, though may required some lobbying in upstream to accept it.

[2017-05-02 10:56] nemanja-boric-sociomantic commented on #85
I think @mathias-lang-sociomantic is referring to `ocean.core.Buffer` having a sticky attribute you set once ?

[2017-05-02 14:25] mihails-strasuns-sociomantic opened #96 "Ocean must pass tests when run with `-release`"
Essentially another form of the goal to clean up `assert` usage in ocean to make `-release` flag feasible for our applications. Right now it doesn't even pass tests because some failed assertions are checked with `testThrown`.

[2017-05-02 14:27] mihails-strasuns-sociomantic commented on #96
For the reference, the one failure I noticed was `./src/ocean/core/SmartUnion.d:139: test error: Expected 'Exception' to be thrown, but it wasn't`

[2017-05-02 16:45] mathias-lang-sociomantic commented on #85
Yeah, something that would be set by `Buffer`. But it needs to inform the GC about it, which still requires upstream support.

[2017-05-03 12:51] #87 closed, assigned to david-eckardt-sociomantic, mihails-strasuns-sociomantic

[2017-05-03 15:30] mathias-lang-sociomantic opened #99 "Imported symbols cannot be exposed through aggregate"
Thanks to the new import rules in 2.071.0+, the design of `LibFeatures` doesn't work.

The definition is currently:
[code]

And the usage is:
[code]

However this doesn't work with new import rules, which make import scope not accessible from outside of an aggregate.
CC @mihails-strasuns-sociomantic

[2017-05-03 15:38] mihails-strasuns-sociomantic commented on #99
Damn, I rely on this behaviour in quite some places. Do you know if `public import` works in such context?

[2017-05-03 15:43] mathias-lang-sociomantic commented on #99
It does not. `import` within an aggregate's scope is completely inaccessible from outside this aggregate nowadays (including deriving classes).

[2017-05-03 15:59] mihails-strasuns-sociomantic commented on #99
http://forum.dlang.org/post/pmezncogehwjnvjrxwns@forum.dlang.org
http://forum.dlang.org/post/mr33a2$26ut$1@digitalmars.com

I probably should file a regression report to bugzilla >_<

[2017-05-03 16:26] mathias-lang-sociomantic commented on #99
We had some discussions in:
- https://issues.dlang.org/show_bug.cgi?id=15966
- https://issues.dlang.org/show_bug.cgi?id=15925

I don't know how doable it'll be to convince Walter. ATM I cannot think of a failure scenario, but that'll make some code odd (because you'll allow `public import` but they wouldn't be 'inherited').

[2017-05-04 10:47] llucax commented on #84
Depending on how do you plan to integrate new code in the new ocean-d2 repo, you can do it yourself via the cron-job.

[2017-05-04 14:42] llucax commented on #84
I just checked in Travis, and the cron job just means running the same `.travis.yml` but at a regular interval (and it must be enabled in a per-branch basis, so each time a new branch is added we need to enable the cron job for the new branch), so the whole sync procedure doesn't seem to be a good fit for this.

I think the way to go is to just see if what it's currently being built is a tag and i

[2017-05-04 14:44] llucax commented on #84
Checking for `$TRAVIS_TAG` should do the trick (https://docs.travis-ci.com/user/environment-variables#Default-Environment-Variables).

[2017-05-05 02:55] oraby commented on #84
bummer, I've just saw that now after I've finished the sync script.
Here it is anyway:
https://github.com/oraby/ocean/commits/cli_sync

what I don't understand is when will travis build for a tag? I thought that branches are only tested and then tags are added later through direct pushing to the repo.

As far as I understand, this will break dub as dub looks for SemVer tags.

[2017-05-05 08:49] llucax commented on #84
😢

I made some comments anyway too. The good thing about this approach is, if we actually put the scripts in the ocean-d2 repo, is we keep this repo clean from this. But given that it is a bit more complex that way, I'm not sure it's justified.

Exactly when you push the tag, it is considered a branch by travis, see https://travis-ci.org/sociomantic-tsunami/ocean/branches for example.

That's stil

[2017-05-05 10:15] llucax commented on #84
Here is a proof of concept of a script to export D2 code once a tag is pushed: https://github.com/sociomantic-tsunami/ocean/pull/100

[2017-05-06 16:39] #84 closed, assigned to leandro-lucarella-sociomantic

[2017-05-08 07:58] gavin-norman-sociomantic commented on #99
Does this include within the same module? e.g.
[code]

[2017-05-08 12:12] mathias-lang-sociomantic commented on #99
Yes and no.
If you look at the `import` of `hasFeatureFromFunc`, it is in the same module, which covers your question (TL;DR: Doesn't work).

However your example would work, but only because selective imports are a special case: they introduce an alias in the scope they are in.

[2017-05-08 12:50] gavin-norman-sociomantic opened #106 "Types unsupported by ocean.text.convert.Formatter can cause mysterious compilation errors in unittest builds"
e.g.:
[code]
produces this error:
[code]
It's not immediately obvious to the user why calling `removeShift` causes unittests to fail.

[2017-05-08 12:53] nemanja-boric-sociomantic commented on #106
https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/core/Buffer.d#L123

I suggest simply replacing these tests with `enforce` (so the message is not rendered).

[2017-05-08 13:16] gavin-norman-sociomantic commented on #106
Seems like a hack.

[2017-05-08 13:17] mihails-strasuns-sociomantic commented on #106
I think I'd simply move buffer tests out of the template, it has already served its initial purpose.

[2017-05-08 13:23] nemanja-boric-sociomantic commented on #106
I find all core components should be as self-contained as they can (in other words - they should be perfectly fine using only primitives from the language, and not all the convenience of the standard library). Making `Array` depends on `Formatter` is not worth it - you would expect from `Array` that it would work in all scenarios (I see these unittests more as a sanity check), so the potential err

[2017-05-08 13:26] gavin-norman-sociomantic commented on #106
That seems fair.

[2017-05-08 13:27] leandro-lucarella-sociomantic commented on #9
Just for the records, we are pushing for [DIP1007](https://github.com/dlang/DIPs/blob/master/DIPs/DIP1007.md) to add a feature to declare `@future` symbols so we can add `Throwable.message` with a non-breaking migration path.

[2017-05-08 16:13] nemanja-boric-sociomantic opened #107 "PidLock extension should run before loggers"
In case logging system doesn't have enough permission to write to the log file, it can happen that
the application fails on permission denied exception, before trying to look for the other application instance.

While this  effectively prevents the application to run, it would be nice if the `PidLock` extension would check if the another instance is already running, before any other systems are st

[2017-05-09 07:12] gavin-norman-sociomantic commented on #107
I'm not sure this is about ordering. PID lock requires parsing the config file, doesn't it? Couldn't that also come up against permissions problems?

[2017-05-14 10:33] mathias-lang-sociomantic opened #111 "Issue 16521 will prevent us from upgrading DMD to 2.074"
https://issues.dlang.org/show_bug.cgi?id=16521

The issue itself is worked around in ocean, but with 2.074 it generates X deprecation messages for each instantiation of `sformat` - where X is the number of arguments. That makes deprecations completely unusable for us starting from 2.074.

[2017-05-16 08:50] mihails-strasuns-sociomantic commented on #79
Closing as we agreed to not support deserializing into `const` fields for now.

[2017-05-16 08:50] #79 closed, assigned to david-eckardt-sociomantic, mihails-strasuns-sociomantic

[2017-05-17 13:06] #41 closed, assigned to nobody

[2017-05-18 09:19] #106 closed, assigned to mihails-strasuns-sociomantic

[2017-05-25 08:23] mihails-strasuns-sociomantic commented on #99
https://issues.dlang.org/show_bug.cgi?id=17433
Will poke Martin/Walter via mail too.

[2017-05-25 08:27] mihails-strasuns-sociomantic commented on #99
Using specialized imports can be used as a workaround in some cases but I would like a more principled direction.

[2017-05-26 09:31] mathias-lang-sociomantic commented on #99
Specialized imports are awful because they're inconsistent with the `import` semantic.
[code]

This won't trigger the `assert`.

[code]

But this will, because it magically introduces an `alias`. I consider this a bug.

[2017-05-26 09:59] mihails-strasuns-sociomantic commented on #99
(you probably mean other way around, specialized ones introduce an alias)
Yeah, I agree that this either bug or misdesign though don't have high hopes it will be fixed. For now I am simply trying to figure out if Walter/Martin are aware of the situation.

[2017-05-26 11:08] gautam-kotian-sociomantic opened #130 "Make ocean.text.Search non-templated"
@don-clugston-sociomantic commented on an internal sociomantic project:

It is probably best to deprecate and later remove this module to prevent someone from trying to use it.

cc @mathias-lang-sociomantic

[2017-05-30 10:01] mihails-strasuns-sociomantic opened #132 "Deprecate BigInt and implement replacement"
Current tango inherited bigint implementation is absolutely useless for our goals as it allocates on mutations and doesn't have fixed binary layout. Fortunately no Sociomantic projects use it so it can be simply deprecated.

I will start working on simple replacement module ASAP.

[2017-06-06 12:29] #111 closed, assigned to nobody

[2017-06-06 13:11] nemanja-boric-sociomantic commented on #130
What would be the replacement for this? I agree, this Fructy thing isn't ideal, and I had to get away with explicit instantiation (which I made possible via https://github.com/sociomantic-tsunami/ocean/commit/cbe087208713f9b4bc54df52732f312a6fcf3a7f just because this reason):

[code]

But I don't think we have the replacement for the entire _module_.

[2017-06-06 13:16] gavin-norman-sociomantic commented on #130
I'd missed this issue. We have at least two projects which make heavy use of ocean.text.Search, so it can't be deprecated.

[2017-06-07 07:25] mihails-strasuns-sociomantic commented on #130
My understanding of @don-clugston-sociomantic proposal was that it would be good to remove `T` part of all these functions, making it all work on `const(char)[]` exclusively. That should keep exiting apps working, right?

Deprecating whole module is not an option of course.

[2017-06-07 07:54] gavin-norman-sociomantic commented on #130
I see. I'll rename the issue, in that case.

[2017-06-08 07:06] don-clugston-sociomantic commented on #95
Note that `dive.net.curl.CurlProcessSingle` uses the deserializer on `const` fields. Many of these fields are string literals.

[2017-06-08 07:59] gavin-norman-sociomantic commented on #95
This is the struct which is deserialized: https://github.com/sociomantic/dive/blob/v3.x.x/src/dive/net/curl/process/RequestParams.d#L88

[2017-06-08 08:03] mihails-strasuns-sociomantic commented on #95
This is going to be a big problem - while modifying request params processing either to not require const or not use serializer is not that hard, most of affected fields/functions are public and the module is used in many different projects.

Investigating various options currently.

[2017-06-08 09:13] mihails-strasuns-sociomantic commented on #95
Looking at the dive code again I wonder why serializer trick is used there at all, considering API relies on builder pattern anyway. Why can't it copy arguments when setting them? i.e. turn https://github.com/sociomantic/dive/blob/v3.x.x/src/dive/net/curl/process/RequestSetup.d#L597 into `req.params.copy(url)` and so on?

[2017-06-08 09:20] mihails-strasuns-sociomantic commented on #95
Ah, right, I remember now - because request struct is not reused on user side and that would allocate each time.

[2017-06-08 13:31] leandro-lucarella-sociomantic opened #149 "D2: Push converted D2 tags to this repo instead of ocean-d2"
The double-repo approach doesn't scale, so we'll use the same repo and just push tags with a `+d2` build metadata information appended to the version (so tag `v2.3.4` --- conversion D2 ---> `v2.3.4+d2`).

For reference, this is the PR that introduced the conversion and pushing: https://github.com/sociomantic-tsunami/ocean/pull/100

[2017-06-08 13:33] leandro-lucarella-sociomantic commented on #149
We probably need to move this to beaver to be able to reuse it in the different libraries.

[2017-06-08 13:35] leandro-lucarella-sociomantic commented on #149
We need to make sure the new tag is not converted again! :repeat:

[2017-06-08 13:38] leandro-lucarella-sociomantic commented on #149
https://github.com/sociomantic-tsunami/beaver/issues/7

[2017-06-12 11:18] joseph-wakeling-sociomantic commented on #43
Thanks @mathias-lang-sociomantic.  This will fill a VERY longstanding hole in the library documentation.

It's probably a good idea to also include this documentation in the old `Format` and `Layout` modules, even though those may be planned for long-term deprecation.

[2017-06-12 12:16] mihails-strasuns-sociomantic commented on #95
https://github.com/sociomantic-tsunami/ocean/pull/152

[2017-06-12 12:16] #95 closed, assigned to mihails-strasuns-sociomantic

[2017-06-13 12:28] nemanja-boric-sociomantic commented on #107
I forgot what happened to this one, I think it was the misconfiguration problem, not the real bug, but I forgot the details. Perhaps @joseph-wakeling-sociomantic can recall?

[2017-06-15 12:58] scott-gibson-sociomantic opened #155 "Base64 decoding of unpadded data leads to incomplete decoded data."
Extending the following unit test to check for the decoding of padded data shows that the decoding is broken.

https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/util/encode/Base64.d#L514
[code]
results in
[code]

[2017-06-17 13:30] gkotian opened #159 "Broken link in README"
In the section `D2 Compatibility`, the second paragraph ends with the sentence:
[code]
However, the link pointed to by `docker/dmd-transitional/patches` is broken.

(not making a PR as I don't know what the correct link is)

[2017-06-19 15:33] nemanja-boric-sociomantic opened #162 "ChrSplitIterator could accept data to split in the constructor"
The following pattern has been seen:

[code]

`ChrSplitIterator` could optionally accept data string in the constructor, so no call for unintuitive reset (in case of scope instances) is needed.

[2017-06-20 11:32] #159 closed, assigned to mihails-strasuns-sociomantic

[2017-06-20 17:02] dylan-cromwell-sociomantic commented on #1
@leandro-lucarella-sociomantic as can be expected Design is very busy with their daily work and we are not at a presentable design. I've set a meeting to catch-up and see if we can help expedite the process at all. They've requested it be July or August. I will keep you updated with any significant news but as I've been doing I will not just post comments if there is nothing important to report.

[2017-06-21 18:01] nemanja-boric-sociomantic opened #165 "Make use of `IP_FREEBIND` in listeners."
from `man 7 ip`:

[code]

[2017-06-22 13:33] david-eckardt-sociomantic commented on #165
How is this useful for us?

[2017-06-22 13:36] nemanja-boric-sociomantic commented on #165
As applications are able to bind on the given address, it is possible that no interfaces have yet obtained the IP address. In that case, it is desirable to start up the daemon anyway, so that it can startup with the routing  in parallel without crashing (as `bind` will fail), or without synchronizing the application to startup after it. `IP_FREEBIND` has been developed just for that case.

[2017-06-23 15:07] leandro-lucarella-sociomantic commented on #1
Same as with ocean, no worries! I'll remove the deadline here too as there is no real need for one.

[2017-06-28 12:33] #155 closed, assigned to nobody

[2017-06-28 17:22] mihails-strasuns-sociomantic opened #171 "Formatter must never format arrays as `null`"
[code]

This code must print `[]` twice. Right now it has special case for `arr.ptr is null` and will print `null` for a first call.

As this is a subtle breaking change, scheduling it to v4.0.0 for now.

[2017-06-28 17:22] mihails-strasuns-sociomantic commented on #171
FYI @mathias-lang-sociomantic

[2017-06-28 17:36] andrej-mitrovic-sociomantic commented on #171
For `char[]` I expect it to print ` `, as in, nothing. That's the behavior of the old code.

[2017-06-28 23:59] mathias-lang-sociomantic commented on #171
Why?

[2017-06-29 11:26] mihails-strasuns-sociomantic commented on #171
Because D spec / implementation has no such notion as "null array", content of pointer is purely implementation detail. We know of some ways to guarantee it will ne null or non-null but it is not defined in general - this issue, for example, was brought to me by @andrej-mitrovic-sociomantic because of tests starting to fail depending on how variable is declared as they expect specific consistent f

[2017-06-29 11:27] mihails-strasuns-sociomantic commented on #171
NB: Original snipet used to start with `int[] arr = [ ]` but I forgot the literal when writing it here ;)

[2017-06-30 12:31] mihails-strasuns-sociomantic commented on #132
Done via https://github.com/sociomantic-tsunami/ocean/pull/139

[2017-06-30 12:31] #132 closed, assigned to nobody

[2017-07-02 11:51] mathias-lang-sociomantic commented on #171
This is wrong. There's a difference between empty slices and null slices.
[code]

And when a change to this was attempted, Andrei was explicitly against it and it was reverted.
Not to defend the spec in that regard - I am not a fan of this behavior - but the difference is clear and (nowadays) quite widely known.

The correct terminology here would be reference. Slices, like classes, are reference

[2017-07-05 17:19] mihails-strasuns-sociomantic commented on #171
There is no inherent language difference. You can see it via `arr.ptr` and it bites you in conditions (`if` or `assert`) because compiler rewrites slices to `slice.ptr` in boolean contexts (and that really sucks). But no place in spec (https://dlang.org/spec/arrays.html) talks about null arrays as something distinct or defines in what situations to expect them.

You can't even know for sure when c

[2017-07-10 09:11] jens-mueller-sociomantic opened #182 "StringC.toCString can be Inout"
It should be possible to change `toCString` from
[code]

to

[code]

Because the implementation does not rely on `str` being mutable. Having it as `Inout` allows passing `cstring`s or even `istring`s.

Note this also applies to the `Wchar` overload.

[2017-07-10 10:31] mihails-strasuns-sociomantic commented on #182
I don't think `str` can't be mutable here - the very point of this function is appending to _the very same string_ in-place which you are not allowed to do if it contains const elements. `ref` bit is important here.

Unless I misunderstand something?

[2017-07-10 10:36] nemanja-boric-sociomantic commented on #182
Yes I think @mihails-strasuns-sociomantic is right. Only `toDString` can be inout, and they already are.

[2017-07-10 10:43] jens-mueller-sociomantic commented on #182
I don't get it. Why are you not allowed to append to a `cstring`?

[2017-07-10 10:46] mihails-strasuns-sociomantic commented on #182
You are allowed to append but it won't be in place, always resulting in allocating new GC root and abandoning original reference.

[2017-07-10 10:48] jens-mueller-sociomantic commented on #182
Even if there is capacity left? So it is conservative because there might be others referencing this?

[2017-07-10 10:54] mihails-strasuns-sociomantic commented on #182
Capacity in its regular sense is almost meaningless for const/immutable because you are not allowed to _ever_ overwrite immutable elements (and any const can be immutable in disguise). So only situation when already allocated GC chunk has some extra capacity to append in place is when tail of GC block was originally not used at all and your appended suffix is small enough to fit (as this memory is

[2017-07-10 11:02] jens-mueller-sociomantic commented on #182
I see the point: all elements are read-only (even the ones accessible through appending) and there is only a very rare occasion when this can be violated.

[2017-07-10 11:02] #182 closed, assigned to nobody

[2017-07-11 09:02] jens-mueller-sociomantic commented on #182
I reconsidered the issue because I believe we misunderstood. I wrote some test code. In my test code I am appending to an `mstring`, a `cstring` and an `istring`. I only append if their capacity is larger than their length. I verified that no GC allocation happens via `testNoAlloc`. To me this shows that you can append to a non-mutable string without allocation. So I still wonder why the signature

[2017-07-11 09:06] mathias-lang-sociomantic commented on #182
Can you share your test code ?

[2017-07-11 09:18] jens-mueller-sociomantic commented on #182
Try something like

[code]

`dup` will be only there in D2 as well. Didn't check for that.

[2017-07-11 09:25] jens-mueller-sociomantic commented on #182
BTW another observation is that in D2 for string literals capacity seems to be `0`. This way you can handle that case without allocating since they are null terminated already.

[2017-07-11 09:33] mathias-lang-sociomantic commented on #182
It only works in this specific case because the runtime knows it's safe. If you were to slice a to `a[0 .. 3]` it would allocate.

[2017-07-11 09:40] jens-mueller-sociomantic commented on #182
You mean the literal testing. Yes, that is the case. So checking for capacity won't work. What about the general issue? To me there are cases where you can safe the allocation that the current implementation does not cover. I still don't see what you gain by disallowing those cases?

[2017-07-11 09:49] mathias-lang-sociomantic commented on #182
No, I mean:
[code]

Your code does not allocate not by design, but because of an optimization the runtime make. In the general case, you cannot guarantee appending will not allocate and you should not try to.

You actually hit a sweet spot here. Consider:

[code]

This will allocate. The reason is that the runtime allocates on a 16 bytes alignment.

[2017-07-11 09:58] jens-mueller-sociomantic commented on #182
True. But this happens for the current implementation as well. If there is no room for the null byte it will need to allocate.
If you can show me how to avoid the allocation for `mstring`s which does not work for non-mutable strings, then I can see value in the current restriction of the signature.

[2017-07-11 10:03] jens-mueller-sociomantic commented on #182
What do you loose when you change the parameter type from `mstring` to `Inout!(char)[]`? This is what I don't see.

[2017-07-11 11:12] mathias-lang-sociomantic commented on #182
Safety & readability. You are basically making the code harder to read, because one would have to look up how the parameter that was allocated ended up here, what size it was, if it is even possible to know, and if it is a slice of a larger buffer or not, for a minor convenience for the writer.

Currently there is not a single place in our code which assume appending to a `cstring` / `istring` won

[2017-07-11 11:56] mihails-strasuns-sociomantic commented on #182
@jens-mueller-sociomantic so key thing about current `toCString` is that its argument is supposed to be a reusable buffer, something like this:

[code]

This can never be done with immutable strings. Yes, sometimes you can slip in that extra null byte because GC allocations are aligned and runtime knows you are the only owner of the slice (it is exactly the case I have mentioned in https://github.

[2017-07-11 12:07] jens-mueller-sociomantic commented on #182
Alright. `toCString`s use case is different than what I'm looking for. Essentially `toCString`'s signature communicates that it expects a reusable buffer to enable appending without allocation which wasn't clear to me.

[2017-07-11 12:59] mihails-strasuns-sociomantic commented on #182
Yeah, this is pretty much standard for ocean API's - I think you may have been caught by surprise by different memory allocation requirements common in your team specifically ;)

[2017-07-11 13:05] don-clugston-sociomantic commented on #171
This also affects ``Logger``, which now has a silent change in behaviour compared to ``Log``:
[code]
prints "comments: null" to the log. This is wrong.  That's the same output you would get with
[code]
This breaks several of our apps.

[2017-07-11 13:15] don-clugston-sociomantic opened #184 "ocean.util.log.Logger truncates in a way that Log did not"
Writing to a logger using ocean.util.log.Log ultimately does this:

[code]
Note that if no types are provided, it simply does an ``append`` rather than formatting the string.
``Logger`` behaves differently. It always formats. This means that it uses the buffer, which means the string is truncated at 2048 characters.

[2017-07-11 13:30] don-clugston-sociomantic commented on #184
This is an easy issue to work around, it is possible to replace calls to ``log.error("xxx")`` to ``log.append(Level.Error, "xxx")``, which is arguably clearer; the main problem is that it is a silent difference in behaviour. This is not the only silent difference.

The more serious problem is that because of https://github.com/sociomantic-tsunami/ocean/issues/171, it does not appear possible to wr

[2017-07-11 13:31] mathias-lang-sociomantic commented on #171
@mihails-strasuns-sociomantic : We both know how complete the written specs is. In this case, there is a difference in [`IdentityExpression`](https://dlang.org/spec/expression.html#IdentityExpression), where it says both length and array content must match.

Just out of curiosity, how does the logger output breaks the app ? Do you have a script that parses log files ?

Hum that would be a good rea

[2017-07-11 14:13] don-clugston-sociomantic commented on #171
In some modes of operation (a dry-run, essentially), the logs are actually the primary output of the app. These output files are actually used by non-D programmers to check for errors in the input data. That's a D2 blocker.

[2017-07-11 14:26] mathias-lang-sociomantic opened #186 "Deprecate / remove ocean.text.util.StringSearch"
It's old code which needlessly [allocates](https://github.com/sociomantic-tsunami/ocean/blob/f5948446bcd2e377e74eca81ee59c5252347b86b/src/ocean/text/util/StringSearch.d#L367-L379).
Like [a lot](https://github.com/sociomantic-tsunami/ocean/blob/f5948446bcd2e377e74eca81ee59c5252347b86b/src/ocean/text/util/StringSearch.d#L458). No really, [I mean it](https://github.com/sociomantic-tsunami/ocean/blob/

[2017-07-12 08:14] nemanja-boric-sociomantic commented on #171
Semi-related: some implementations of `printf` would print `(null)` - literally, when passing `(char*)NULL` to `%s`. I always found this confusing and against what I would expect. IOW - I don't know why would anybody want to print null literary, except in some cases (say nullable column in database, where there's a clean distinction between empty string and null).

[2017-07-12 10:12] jens-mueller-sociomantic opened #188 "Add `Time.fromUnixTime` to `ocean.time.Time`"
Add a static function to `Time` named for example `fromUnixTime` that converts a `time_t` to a `Time`. There seems to be no function of such functionality in ocean.

[2017-07-12 17:48] david-eckardt-sociomantic commented on #171
Yes and no.
- `null` arrays are a subset of empty arrays. I wouldn't call this a "difference between empty and `null` arrays" because...
- `null` arrays are empty just like any empty array. For the array content there is indeed no inherent language difference, both have the same content: None.
- But there is the keyword `null`. If you just want some empty array and use `null`, D gives you more tha

[2017-07-13 10:27] #171 closed, assigned to nobody

[2017-07-13 10:54] mihails-strasuns-sociomantic commented on #184
@mathias-lang-sociomantic is it a bug or a feature? :)

[2017-07-13 11:47] mathias-lang-sociomantic commented on #184
The previous behavior makes a lot of sense, and I definitely overlooked that case when changing that code, so definitely a bug. Working on a fix, but as usual, tests take longer to write than actual fix.

[2017-07-13 12:05] mihails-strasuns-sociomantic commented on #184
Thanks!

[2017-07-13 12:55] mathias-lang-sociomantic commented on #184
https://github.com/sociomantic-tsunami/ocean/pull/189

[2017-07-13 17:31] mathias-lang-sociomantic opened #190 "Allow reloading specific files through UnixSocket"
For files which are registered with `ReopenableFilesExt`, we need to be able to reopen a specific file via an `UnixSocket` command.
This should speed up the process for applications with many opened files.

For example it would be used as `echo "App reopen /srv/httpd/log/root.log /srv/httpd/log/important.log" | tee /srv/httpd/httpd.socket`.
@andrew-stevenson-sociomantic would that cover your needs

[2017-07-15 09:55] mihails-strasuns-sociomantic commented on #85
So, I did some research last week to see what can be done in runtime to support it. My findings so far:

1) Contrary to my previous beliefs, there is not actual field like capacity in metadata (which now makes sense as it differs in slices of same array) but instead a special-case in `_d_arraysetcapacity` to return `0` - https://github.com/dlang/druntime/blob/0de554a84091fb7094d46508c415dab66eb9b8

[2017-07-18 16:00] nemanja-boric-sociomantic opened #196 "Base64 should reject badly terminated data"
In case explicit padding, base64 decoder will throw an exception when there are more than two padding bytes. It should do the same when implicit padding is in use. Currently, old behavior is that it silently discards the last byte.

See #193

[2017-07-19 08:41] nemanja-boric-sociomantic commented on #184
@mihails-strasuns-sociomantic @mathias-lang-sociomantic can this be moved to v3.2.5 milestone? I want to release v2.8.5 and this is the last issue., but it seems already fixed.

[2017-07-19 09:33] mihails-strasuns-sociomantic commented on #184
Done

[2017-07-19 09:33] mathias-lang-sociomantic commented on #184
Yes. Since Logger are only in v3 the milestone is wrong.

[2017-07-19 10:02] nemanja-boric-sociomantic commented on #184
Fixed in #189

[2017-07-19 10:02] #184 closed, assigned to nobody

[2017-07-22 17:52] mihails-strasuns-sociomantic opened #204 "Flakey tests in random modules"
After we added code coverage checks, it started to complain sporadically about unexpected changes in few modules, most often `src/ocean/math/random/engines/KissCmwc.d`. Initially I dismissed it as either codecov or dmd bug, but recently I have realized that it is becomes those are tested with actual random seed and resulting coverage is not deterministic.

[2017-08-01 10:19] mathias-lang-sociomantic opened #205 "Logger: Assess the possibility of providing the appenders directly to `sformat`"
Currently every `Logger` allocates 2kB of data: https://github.com/sociomantic-tsunami/ocean/blob/d20a34bf80b41203b1f1ab6ececdeaf567458b2b/src/ocean/util/log/Logger.d#L457

This is used by the [`Logger.format`](https://github.com/sociomantic-tsunami/ocean/blob/d20a34bf80b41203b1f1ab6ececdeaf567458b2b/src/ocean/util/log/Logger.d#L870-L875). However this introduces a limit in the output message, and

[2017-08-01 10:42] mathias-lang-sociomantic opened #206 "Deprecate ocean.text.convert.{Format,Layout,Layout_tango}"
Those modules have been replaced by `ocean.text.convert.Formatter` and should be deprecated as they don't play well with D2.
`Format` depends on `Layout_tango`, as does `Layout`.

Once https://github.com/sociomantic-tsunami/ocean/pull/203 and https://github.com/sociomantic-tsunami/ocean/pull/187 have been pulled, we will be able to deprecate `Layout_tango`. As 203 includes a breaking change, this

[2017-08-01 16:12] andrej-mitrovic-sociomantic opened #207 "VersionArgsExt should allow emitting versioned struct information"
If you had an app that used a specific aquatic library that contained versioned structs (let's say it rhymes with brill), it would be really useful if the app emitted version information to the version log. For example:

[code]

[2017-08-01 16:12] andrej-mitrovic-sociomantic commented on #207
Specifically the `Writing FieldProfile v3 and AdvertiserFieldProfile v2.` part. It would be nice if we could let `VersionArgsExt` know how to emit this.

[2017-08-01 16:26] gavin-norman-sociomantic commented on #207
Huh, `tortoise` sounds a lot like https://github.com/sociomantic-tsunami/turtle/.

[2017-08-01 16:28] andrej-mitrovic-sociomantic commented on #207
Oh my, it's open-source!

[2017-08-01 17:47] leandro-lucarella-sociomantic opened #208 "Reduce CodeCov noise to signal ratio"
CodeCov as it is, is not being very useful, as we get red PRs that are OK.

I know there is #204, but it seems other project had issues with it, so maybe we can analyse taking similar [steps](https://github.com/dlang/druntime/pull/1874).

[2017-08-15 09:23] gavin-norman-sociomantic opened #212 "Convert all assertions to `verify`"
As discussed many time in the past, the different behaviour of assertions in D1/D2 is problematic. To quote some previous discussion:

Indeed, we are now at the stage of running important server apps in D2 builds and need to address this issue (the change of assertion behaviour) before progressing.

[2017-08-15 10:37] leandro-lucarella-sociomantic opened #213 "Create a specialized `enforce` to check for programming errors"
We have an internal guide that recommends using `enforce` even for programming errors when checks are cheap, so we can compile applications with `-release` without risking very nasty stuff happening in the live system because of the lack of simple sanity checks.

The problem with this is then it is very difficult to tell which checks are checking for programming errors and which are checking for n

[2017-08-15 10:39] leandro-lucarella-sociomantic commented on #213
This comes from an old internal issue that had a lot of discussion already, please feel free to post summaries of your POVs.

[2017-08-15 10:40] leandro-lucarella-sociomantic commented on #212
Related to #213, I wonder if we should finally introduce this programming error before doing this conversion.

[2017-08-15 10:42] gavin-norman-sociomantic commented on #213
It's important that this is _not_ an `Error` in D2! See #212.

[2017-08-15 10:43] gavin-norman-sociomantic commented on #213
Of the possible names listed above, I would favour `verify`.

[2017-08-15 10:45] gavin-norman-sociomantic commented on #213
By the way, this idea fits nicely with discussion around importing the existing `ocean.core.Enforce` module all over the place leading to cyclic imports. It was suggested that a minimal (i.e. with no dependencies) error-checking module be made for this use case.

[2017-08-15 12:54] mathias-lang-sociomantic commented on #213
It's also important to note that this will make `nothrow` totally unusable for us in the future.

[2017-08-15 12:56] gavin-norman-sociomantic commented on #213
Do `Error`s not "count" for the purposes of `nothrow` then?

(I do recall @mihails-strasuns-sociomantic making some very strong statements about `nothrow` and its evilness, in the past, anyway.)

[2017-08-15 12:59] nemanja-boric-sociomantic commented on #213
Yes, they are not counted. I see `Error`s just like `abort` on steroids, really.

The issue @mihails-strasuns-sociomantic was mentioning IIRC is that from the `nothrow` method one needs to ensure that either there's an exception handler and all exceptions are caught or that _all_ methods being called are also `nothrow`.

[2017-08-15 13:00] gavin-norman-sociomantic commented on #213
It sounds to me like `Error` was invented for the sake of `nothrow`, then.

[2017-08-15 13:03] nemanja-boric-sociomantic commented on #213
You're not the first one who thinks that: http://forum.dlang.org/post/mailman.1047.1337882017.24740.digitalmars-d@puremagic.com

[2017-08-15 13:07] gavin-norman-sociomantic commented on #213
Well, anyway, I think losing `nothrow` is a very small price to pay in order that vital servers don't crash due to unexpected bugs (what bugs are expected? haha).

[2017-08-15 13:12] mathias-lang-sociomantic commented on #212
How do we deal with bounds checking ?

[2017-08-15 13:53] nemanja-boric-sociomantic commented on #212
It was discussed to move with the ocean compiled as a library with `-release`.

[2017-08-15 13:59] mathias-lang-sociomantic commented on #212
It means we have to compile the whole project with `-release` or am I missing something ?

[2017-08-15 14:21] mihails-strasuns-sociomantic commented on #212
I don't see way out of it other than protect all places where it may happen with preceding `enforce`/`verify` of some sort.

I think it should be the goal eventually but of course that requires similar adjustments of other libs and thus will take plenty of time. Idea of providing copy-paste makd snippet to link ocean as `-release` built static library is one way to make such slow transition less p

[2017-08-16 14:17] leandro-lucarella-sociomantic commented on #213
I wonder where the steroids are though :thinking:

[2017-08-16 14:20] nemanja-boric-sociomantic commented on #213
Well, so that you can have some kind of the logging/last resort handler before you go and die. Something like multi platform `SIGABRT` handler (+ it wouldn't be a signal handler).

[2017-08-16 16:28] leandro-lucarella-sociomantic commented on #212
This really sucks and I think is not practical. OK, we can minimize then the `Error` problem, but we can't rely on getting rid of it completely, which will still be somehow problematic.

[2017-08-17 07:50] leandro-lucarella-sociomantic commented on #213
Or something like [atexit()](https://linux.die.net/man/3/atexit)? :)

[2017-08-17 07:54] leandro-lucarella-sociomantic commented on #213
Ah, maybe not, that only works on normal termination, I always thought it was always executed. But yeah, is nothing that you can't do with a little effort and IMHO is not something that is that useful generally (I wonder really how many people use such a feature) to make a completely parallel exception hierarchy of exceptions that don't really behave like exceptions, but sort of are...

[2017-08-17 12:06] mihails-strasuns-sociomantic commented on #213
Interesting comparison - in Rust entity akin to `Error` (`panic`) is the only allowed from of exceptions at all. All regular error handling must be done with return codes exclusively. But by spec panic there is only obliged to terminate current thread, not the whole process.

[2017-08-17 12:08] mihails-strasuns-sociomantic commented on #212
I actually don't think it is that bad. We rarely try to index arrays with some data that is not directly derived from its `.length` without previously doing some sanity checking on it - and that sounds like a reasonable approach overall. Code like this one https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/util/serialize/contiguous/Deserializer.d#L314 seems common.

[2017-08-17 12:27] leandro-lucarella-sociomantic commented on #213
Go also followed the path of no exceptions + return codes + last resort handling for (almost) unrecoverable errors.

[2017-08-17 12:28] nemanja-boric-sociomantic commented on #213
C as well :trollface:

[2017-08-17 12:30] leandro-lucarella-sociomantic commented on #212
But the whole point of this is for times when someone forgets to do the sanity checks :)
I see your point about not being the end of the world though, but I think it is still risky to have cases where the program can explode in your face when it is avoidable.

[2017-08-17 12:44] mihails-strasuns-sociomantic commented on #208
I am not aware of any other issues other than related to #204 in our projects. When there are no unrelated files, codecov numbers match dmd -cov reports. Linked solution is hardly a solution at all because it essentially disables coverage checks completely.

Major problem is that dmd own -cov reporting is not very good and, for example, ignores all CTFE. But I am not sure we can do anything about

[2017-08-17 12:46] mihails-strasuns-sociomantic commented on #204
Another source of flakey checks is `ISocket` - https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/sys/socket/model/ISocket.d#L139-L142 this condition may be true or not depending on some test timings.

[2017-08-17 12:48] mihails-strasuns-sociomantic commented on #212
I agree with that but to me it seems much more likely to be caught at (unit)testing stage than failed contract and thus much further in the realm of acceptable.

[2017-08-21 07:54] gavin-norman-sociomantic commented on #213
Sigh. This sounds great.

[2017-08-21 12:04] #213 closed, assigned to nobody

[2017-08-29 19:41] mihails-strasuns-sociomantic commented on #46
@joseph-wakeling-sociomantic @gavin-norman-sociomantic opinion needed - what should happen with awaited task after timeout? Should it be killed or left running (but without resume hook)?

[2017-08-30 08:12] gavin-norman-sociomantic commented on #46
Very good point. The important distinction seems to be between tasks which:
1. can safely be allowed to continue and end in their own time,
2. may be simply killed,
3. require some kind of explicit "stop" behaviour.

Type 3 is probably the most tricky and important. An obvious example would be a DHT (neo) GetAll request running in a task. For the task to end, the request must (ideally) be explicit

[2017-08-30 08:38] joseph-wakeling-sociomantic commented on #46
My use-case involves the task continuing to run.  The intended timeout is on _waiting for it to complete_, not on it completing at all (if that makes sense).

The particular use cases I have in mind are (i) waiting for a complete DHT handshake and (ii) waiting for `GetAll` request to complete.  In both cases it would be nice to time out on _waiting_ while allowing the procedures to continue until

[2017-08-30 08:40] joseph-wakeling-sociomantic commented on #46
I agree with @gavin-norman-sociomantic though that it's probably a good idea to support multiple use cases here, and that it's not obvious that merely killing the task is sufficient in all cases where we want things to just stop.

[2017-08-30 08:57] joseph-wakeling-sociomantic commented on #46
A thought that occurs: just as we make tasks responsible for copying their input data in an appropriate way, why not make tasks responsible for defining the mechanisms required to safely kill them?  (One can still have a hard-kill-upon-further-timeout.)

I suppose the caveat here is that it might still be a use-case-by-use-case requirement, and that it's probably safer to force the user to confron

[2017-08-30 17:27] mihails-strasuns-sociomantic commented on #46
Important note - requiring explicit "stop" is not something scheduler need to be aware of because you can catch `TaskKillException` at the top of your `run` method in specific task to do any custom "stop" thing before rethrowing.

The main question is about tasks that need to keep running in the background, like DHT handshake, after initial timeout. When I think about it, such tasks seem to be mor

[2017-08-30 17:28] mihails-strasuns-sociomantic commented on #46
(I have moved the milestone because implementing this is certain to require some back and forth discussion and 2.10 is on its way)

[2017-08-31 07:32] gavin-norman-sociomantic commented on #46
What you say sounds like a reasonable point to start from.

[2017-08-31 09:40] joseph-wakeling-sociomantic commented on #46
Yes, agree.  Explicitly killing a task on timeout should be the exception (pun intended...), not the default.

[2017-08-31 10:28] gavin-norman-sociomantic commented on #212
PR updating the error handling guidelines: https://github.com/sociomantic-tsunami/sociomantic/pull/10

[2017-09-01 18:11] leandro-lucarella-sociomantic commented on #204
`src/ocean/math/random/engines/CMWC.d` seems to be another flakey module.

We really need to fix this, it's making coverage reports super annoying and unreliable.

[2017-09-01 18:12] leandro-lucarella-sociomantic commented on #204
Probably anything calling `rSeed();` in the random package will be flakey.

[2017-09-02 04:08] leandro-lucarella-sociomantic commented on #204
OK, I've been looking at this, and I found a dirty way to make the test coverage reproducible (for the `random` modules for now), but I'm not sure if it's the best approach. I just change a global seed in `ocean.math.random.Random` from a randomly generated number (taken from `/dev/random`) to a reproducible sequence of numbers.

The problem is the code seems to have test to check the seeds or som

[2017-09-02 04:24] leandro-lucarella-sociomantic commented on #204
This is one of the approaches... https://github.com/sociomantic-tsunami/ocean/pull/233

[2017-09-03 15:59] mihails-strasuns-sociomantic commented on #204
I think most of code just uses whatever is default engine and it should be Kiss one.

[2017-09-04 00:52] leandro-lucarella-sociomantic commented on #204
Kiss rather than udev that uses the hardware as a source of entropy? :thinking:

[2017-09-04 07:41] mihails-strasuns-sociomantic commented on #204
https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/math/random/Random.d#L224-L226
and urandom is used to seed it - https://github.com/sociomantic-tsunami/ocean/blob/v2.x.x/src/ocean/math/random/Random.d#L1268-L1272

[2017-09-04 09:00] mihails-strasuns-sociomantic commented on #46
https://github.com/sociomantic-tsunami/ocean/pull/234

[2017-09-04 13:26] leandro-lucarella-sociomantic commented on #204
Yeah, my question is why would anyone won't prefer to just use URandom for everything and that's it (in Linux)?

[2017-09-04 14:39] mihails-strasuns-sociomantic commented on #204
Historical reasons :trollface:

[2017-09-04 15:11] david-eckardt-sociomantic commented on #204
I'd be fine with creating one small module with a template function returning uniform `(u)int`, `(u)long` and `double` random numbers, based on `/dev/urandom` in reality and a predictable pseudo-random sequence for tests, and ban all other random number generators (including all I've ever used in the code I've written ;).

[2017-09-04 17:36] leandro-lucarella-sociomantic commented on #204
Yeah, I was meaning as a way to move forward away from all the Tango bloat we inherited. We don't need that level of abstraction and options for random number generators. Although we should keep one reproducible pseudo-random generator for cases for unit tests and other corner cases where reproducibility might be desired.

[2017-09-05 08:51] gavin-norman-sociomantic commented on #204
I would also be in favour of stripping things down to the basics that we actually need. (Another PR.)

[2017-09-05 08:54] mihails-strasuns-sociomantic commented on #204
I don't mind though I have no idea how widely it is used right now and if some specific RNG requirements exist. @joseph-wakeling-sociomantic is probably the one who may be most picky about RNG stuff :)

[2017-09-05 09:01] joseph-wakeling-sociomantic commented on #204
Without looking into too much detail on this:

* if we have any sort of global RNG, it seems a VERY bad idea to me to re-seed it with anything deterministic, as this could interfere with other aspects of a downstream codebase's operations

* where deterministic tests are wanted for stuff using RNGs, it's probably best to have specific for-the-test-only RNG instances that are deterministically seed

[2017-09-05 09:02] joseph-wakeling-sociomantic commented on #204
BTW, I find the Tango RNG code to be a terrible mess anyway, so I'd be happy to see us move away from it to a better structured piece of work.

[2017-09-05 09:09] joseph-wakeling-sociomantic commented on #204
Probably the best way to split things, BTW, is to separate out the functionality into:

* random _generators_, which generate (pseudo-)random sequences of uniformly distributed random bits

* random _distributions_, which transform random bits into random variates drawn from other statistical distributions

(this is C++11 standard terminology).

Then both components can be implemented on an as-nee

[2017-09-05 09:16] mihails-strasuns-sociomantic commented on #204
@joseph-wakeling-sociomantic Question of what should be a proper RNG library is a bit more distant - right now I wanted your opinion about @leandro-lucarella-sociomantic proposal to kill all tango RNG engines completely and just hack `Random` to always use values straight from `/dev/urandom` - is there any chance it may be bad for optimization apps?

[2017-09-05 09:20] joseph-wakeling-sociomantic commented on #204
I do not think you should use `/dev/urandom` under the hood.  First, it'll be a big speed hit (which might matter in some cases).  Second, it'll drain the system entropy pool unnecessarily.

`Random` is fairly implicitly meant to be pseudo-random by default, and I don't think we should mess with that.  It would be better to separate out the random distributions that we actually need/want and kill

[2017-09-05 09:29] joseph-wakeling-sociomantic commented on #204
But the most important thing, as noted on @leandro-lucarella-sociomantic's patch:

I don't think that `version (UnitTest)` deterministic seeding is a viable solution for the problem, because it imposes a horrendous deterministic behaviour in a catch-all way. What if (for example) someone builds a program that uses random number generation and also uses the `-unittest` flag?

The correct solution i

[2017-09-05 09:29] mihails-strasuns-sociomantic commented on #212
Also related - https://github.com/sociomantic-tsunami/ocean/issues/96

[2017-09-05 11:03] david-eckardt-sociomantic commented on #204
I wonder. I understand your point, but especially when it comes to RNG entropy there are so many myths and misconceptions, and all statements I've read that actually reason about `urandom` rather than conveying hearsay conclude that one should just use it. I also prefer to question the claim of a performance impact until proven.

Yes. Any PRNG should be a struct with two public functions, one to s

[2017-09-05 11:15] nemanja-boric-sociomantic commented on #204
I believe (and I might be wrong) all these statements are made in context of `/dev/random` vs `/dev/urandom` (where the former can block, while the latter will use as much entropy for the RNG the system can provide and then just return values based on its current state). The general recommendation would be to prefer `/dev/urandom` over `/dev/random`, but not to prefer `/dev/urandom` over library P

[2017-09-05 11:59] joseph-wakeling-sociomantic commented on #204
There's a very significant speed difference between `/dev/urandom` and almost all good pseudo-RNGs.  They are designed with very different purposes in mind and we shouldn't mix them up.

`/dev/urandom` versus `/dev/random` discussions generally revolve around what is sufficiently non-predictable for the use-case in hand, and that's a completely separate discussion (where pseudo-RNGs are concerned,

[2017-09-05 12:25] david-eckardt-sociomantic commented on #204
Fair enough, I'm not exactly an expert. But one good PRNG for (like the WELL or the Mersenne Twister) for everyone should be enough, shouldn't it? That would make three options:
1. `/dev/urandom` or [`getrandom()`](http://man7.org/linux/man-pages/man2/getrandom.2.html)
2. PRNG with local state
3. PRNG with global state, seeded on startup

This would still be a relatively small set compared to the

[2017-09-05 12:30] joseph-wakeling-sociomantic commented on #204
I'm reluctant to cut PRNGs that already exist.  There are a variety of use-cases and concerns out there (for example, Mersenne Twister has certain very nice properties which still make it useful in some situations, but OTOH there are generators which in other respects are statistically much better).

Are the different PRNGs really a maintenance burden?  Isn't the issue here how they have been used

[2017-09-05 12:33] joseph-wakeling-sociomantic commented on #204
I'm not sure what forest of PRNGs you have in mind in ocean (from our Tango legacy).  The total number is not large, and they are already written and surely don't need much in the way of maintenance?

The mere existence of multiple PRNGs can't in itself be responsible for the flaky-unittest issue described here.

[2017-09-05 12:35] joseph-wakeling-sociomantic commented on #204
BTW, regarding:

... this should actually be a global instance of a PRNG.  Sorry to be picky, but it would be bad design to have a PRNG which inherently has global state.

(I suspect that you meant a global instance, but just to be clear.)

[2017-09-05 12:42] david-eckardt-sociomantic commented on #204
True, I was moving away from the issue, wondering why even several PRNGs are needed. But that's a different topic.

I just meant there are quite a couple in ocean/Tango and even more in C POSIX/stdlib. To a naive user like me this looks a bit excessive -- I'm sure one general-purpose PRNG would be enough. Again, this is not the issue here and a separate discussion.

[2017-09-05 13:53] nemanja-boric-sociomantic commented on #96
For the reference, I think the problem with the `SmartUnion` isn't the assert vs enforce, but `in` contract: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/core/SmartUnion.d#L506

[2017-09-05 13:56] mihails-strasuns-sociomantic commented on #96
contract == assert

[2017-09-05 14:54] gavin-norman-sociomantic commented on #212
Breakdown of `assert` occurrences by top-level package:
* `core`: 472
* `io`: 586
* `math`: 900
* `meta`: 191
* `net`: 202
* `stdc`: 14
* `sys`: 54
* `task`: 32
* `text`: 1339
* `time`: 601
* `util`: 1187

It might be a good idea to strip out unused code before doing this. (Or deprecate and not bother assessing deprecated code for assertions.)

[2017-09-05 15:25] gavin-norman-sociomantic commented on #212
Some easy cases exist in old unittests that were never converted to use `test` instead of `assert`.

[2017-09-05 16:09] #96 closed, assigned to nobody

[2017-09-05 16:16] gavin-norman-sociomantic commented on #212
It might be possible to auto-convert these using d1to2fix. @mihails-strasuns-sociomantic what do you think?

[2017-09-05 16:42] mihails-strasuns-sociomantic commented on #212
Shouldn't be too hard. I'll have a look.

[2017-09-06 08:45] gavin-norman-sociomantic commented on #212
Excellent. Let's try to do that first, then we can assess what remains.

[2017-09-06 08:49] gavin-norman-sociomantic opened #238 "Enhance doc of ocean.core.Test"
The module header just says "These helpers are supposed to be used in unittest blocks instead of asserts", but doesn't explain _why_. This needs to be explained.

[2017-09-07 12:18] nemanja-boric-sociomantic commented on #9
`Throwable.message` is now in upstream's druntime master :tada: https://github.com/dlang/druntime/pull/1895

[2017-09-07 12:22] gavin-norman-sociomantic commented on #9
Crazy days.

[2017-09-08 07:27] #238 closed, assigned to leandro-lucarella-sociomantic

[2017-09-08 13:04] gavin-norman-sociomantic commented on #212
After merging #241:
* `core`: 168
* `io`: 340
* `math`: 322
* `meta`: 29 (already done)
* `net`: 67
* `stdc`: 2
* `sys`: 37
* `task`: 38 (already done)
* `text`: 312
* `time`: 29
* `util`: 562

[2017-09-08 13:18] gavin-norman-sociomantic commented on #212
(Adjusted numbers above, filtering out `static assert`.)

[2017-09-08 13:23] gavin-norman-sociomantic commented on #212
Looks like splitting it six ways might work:
* io
* math
* text
* util part 1
* util part 2
* The rest

[2017-09-08 13:53] mihails-strasuns-sociomantic commented on #212
I'd like to take `core` :)

[2017-09-08 14:03] gavin-norman-sociomantic commented on #212
`core` is included in "the rest" ;)

[2017-09-08 15:36] leandro-lucarella-sociomantic commented on #204
Generally I will just shut up because it's evident that I know nothing about RNG :)

But about this:

Ocean is supposed to be a general purpose library for very general tasks. If you have very specific needs in terms of RNG, I think it's fair to ask users to just use a RNG library instead of Tango.

[2017-09-08 15:39] leandro-lucarella-sociomantic commented on #204
The problem of keeping code that we don't use or understand is at sight right now. I just implemented a terrible solution to the flakey tests because I didn't want through the whole set of RNG and the random code that I don't understand and I don't want to spend time on.

If there was only one RNG that we really use, there would have been a better chance to get fixed properly insteady of trying to

[2017-09-08 15:40] leandro-lucarella-sociomantic commented on #9
This didn't made it to 2.076, but it should be in 2.077, right?

@mihails-strasuns-sociomantic do you know how much problems are expected to be found when moving from v2.071 to v2.076? We shouldn't expect huge breakage after the fixing of imports, right?

[2017-09-08 15:41] nemanja-boric-sociomantic commented on #9
Correct.

[2017-09-08 15:51] joseph-wakeling-sociomantic commented on #204
@leandro-lucarella-sociomantic fair point.  I can see a case for reducing the number of supported pseudo-RNG engines, but I'm a bit concerned that it's sometimes useful to have at least a couple of pseudo-RNGs, because one can use one to generate seeds for another (I can go into detail if you want, but it's not so important).

However, on this comment from @mihails-strasuns-sociomantic:

AFAICS th

[2017-09-08 19:23] mathias-lang-sociomantic commented on #9
Not much. A couple deprecations, and most likely some `scope` related regression, although we might get lucky as we are not using `@safe`. Oh and the damn cyclic import thing but that's trivial to work around.
I am already using some part of ocean for my personal projects, and they use upstream.

[2017-09-09 08:05] mathias-lang-sociomantic commented on #212
I volunteer as a tribute for text :)

[2017-09-09 09:58] mihails-strasuns-sociomantic commented on #204
Leaving one simple "I don't care PRNG" in ocean and moving others into separate dedicated library sounds like a good idea to me.

[2017-09-11 08:04] gavin-norman-sociomantic commented on #212
Thanks!

So we have:
* @mathias-lang-sociomantic `text`. #276
* Me `util.container`. #253
* @david-eckardt-sociomantic `math` #259
* @mihails-strasuns-sociomantic `core`, `net`, `sys`, `time`. #255, #270, #265 (`time` doesn't contain anything worth changing)
* @nemanja-boric-sociomantic `io`. #251
* @nemanja-boric-sociomantic `util` excluding `util.container`. #264

[2017-09-11 09:24] mihails-strasuns-sociomantic commented on #9
Cyclic import problem is probably the painful one (workaround are simple, but solving it properly often requires restructuring of modules). Other than that I don't expect much trouble but it is one of lowest priority things so I haven't put any research into it.

[2017-09-12 07:37] #46 closed, assigned to nobody

[2017-09-13 14:54] gavin-norman-sociomantic commented on #212
The easiest way to split `util` would be `util.container` and everything else. `container` has 387 / 562 asserts.

I'm happy to take `container`.

[2017-09-14 10:12] gavin-norman-sociomantic opened #248 "Adapt contiguous serializer to optionally accept reference types"
Currently, reference types are rejected, as the original intention was to serialize data for sending over the network. There are use cases for using the serializer purely in-memory, though. The serialization of request arguments into a buffer owned by a `Request` instance, in swarm neo, is one such case. Currently, we use a hack to convert reference types into static arrays (https://github.com/soc

[2017-09-14 10:12] gavin-norman-sociomantic commented on #248
@david-eckardt-sociomantic said:

AFAIR we need the following serializer modifications:
- accept all types
- shallow serialization of dynamic arrays, i.e. serialize the array reference only
  - I wonder if this is this really always true... for Swarm request parameters we may want to copy array contents.
- maintain alignment

Probably alignment would be the most difficult thing to integrate into t

[2017-09-14 11:14] leandro-lucarella-sociomantic opened #249 "Make --version just print the version and add --build-info"
Coming from https://github.com/sociomantic-tsunami/ocean/pull/247#issuecomment-329248597.

After that PR is merged, I will like to rebump the version thingy for v4.

My idea is to:

* Change `--version` to just print the version, as most programs do.
* Add a `--build-info` to print the whole 2MiB long version information.
* Make `--build-info` use a more *tabular* format, only treating the `versio

[2017-09-14 11:34] leandro-lucarella-sociomantic opened #250 "Unit tests emit output"
Ideally unittest should not output to stdout/stderr on a normal run, nevertheless this is printed currently (in v3.x.x at least):
[code]

@mathias-lang-sociomantic I have the feeling it was you :P

Not from the French, of course, but because of this:
[code]

[2017-09-14 11:38] mihails-strasuns-sociomantic commented on #250
Fixed in point release branch - https://github.com/sociomantic-tsunami/ocean/pull/236

[2017-09-14 11:38] #250 closed, assigned to mathias-lang-sociomantic

[2017-09-14 14:10] david-eckardt-sociomantic commented on #248
I remember saying that, but in a certain context, which I don't remember... In general it is not always true.

Yes, alignment is difficult. It requires knowing the current position in the buffer of serialised data in order to add padding bytes. Consider
[code]
After appending the content of `S.a` to the buffer padding bytes need to be inserted so that the elements of `S.b` are well aligned. Then t

[2017-09-14 14:12] gavin-norman-sociomantic commented on #248
I wonder whether it might make more sense to have two different serializers (ideally sharing some core of code): one for network serialization and one for in-memory serialization.

[2017-09-14 17:28] leandro-lucarella-sociomantic commented on #250
Duplicate of #236.

[2017-09-18 10:10] nemanja-boric-sociomantic commented on #9
Trying to compile with dmd v2.076, this is the current set of issues:

[code]

Look who removed it: https://github.com/dlang/druntime/commit/bec52ee3b975357c97a94e72d3b5162415bf55b5

:D

[2017-09-18 10:11] mathias-lang-sociomantic commented on #9
Damn....

[2017-09-18 10:11] mathias-lang-sociomantic commented on #9
We're not going to upgrade anytime soon anyway, are we ? :angel:

[2017-09-18 10:13] nemanja-boric-sociomantic commented on #9
The other set of errors is coming from druntime's binding that are adjusted for DIP1000:

[code]

[2017-09-18 10:47] leandro-lucarella-sociomantic commented on #9
How bad is this, is it something we can change at our end? I would **really really** want  2.077 to be the DMD upstream version we can start finally using.

[2017-09-18 10:57] mathias-lang-sociomantic commented on #9
I wasn't aware of this plan. Is there any reason why ? The removal can be worked around trivially (this case is never hit in D2). For the `scope` adjustement, those ones in particular should be simple to fix, as contravariance seems semi-implemented. E.g. the following compiles:

[code]

With our dmd-transitional, so we can add the `scope` annotation without breaking other code I think.

[2017-09-18 11:04] leandro-lucarella-sociomantic commented on #9
It's been more than 2 years now that we are trying to fix the differences of what we need and upstream to be able to use upstream. Is not that v2.077 is special, is just that we finally got to solve the infamous `Throwable.message` issue that was the only left reason why we couldn't use upstream so far.

Because we don't want to maintain a fork of the compiler any more. `dmd-transitional` **MUST D

[2017-09-18 11:06] mathias-lang-sociomantic commented on #9
Amen

[2017-09-18 14:57] stefan-koch-sociomantic commented on #208
@mihails-strasuns-sociomantic We can actually.
newCTFE has the ability (in therory)  to give you coverage for ctfe.

[2017-09-18 15:00] leandro-lucarella-sociomantic commented on #208
OK, so the main noise came from the flakey tests, so I guess we can close this one.

[2017-09-18 15:00] #208 closed, assigned to nobody

[2017-09-18 15:01] stefan-koch-sociomantic commented on #9
We should able to do that soon afaics.
version out `Typedef_Typeinfo` and we should be good to go.

[2017-09-18 18:10] mihails-strasuns-sociomantic commented on #9
Before everyone gets excited, I should say this isn't very realistic goal (for anything but just ocean) right now. Going to discuss this with @leandro-lucarella-sociomantic and @mathias-lang-sociomantic but please hold the party a bit :)

[2017-09-27 10:51] mihails-strasuns-sociomantic opened #272 "Unify API working with time duration"
Right now there is a confusing mismatch between different ocean module working with timer events. For example, `ocean.io.select.client.TimerEvent` works with "seconds + milliseconds" pair but `ocean.io.select.client.TimerSet` works with microseconds. Under the hood it all gets converted to C binding pair of "seconds + nanoseconds".

I would suggest to either use `ocean.time.Time.TimeSpan` or intro

[2017-09-27 13:51] david-eckardt-sociomantic commented on #272
Good idea. I suggest `ulong ms` for all timer values. Or is there a use case for a sub-ms timer?
This would also avoid the unnecessary complication of the interface that it is often not clear whether the separation in seconds and milliseconds requires the the ms value to be less than 1s. For example, is a time value of 3s + 1500ms (that is, 4.5s) valid, or does a function require 4s + 500ms instea

[2017-09-27 16:48] mathias-lang-sociomantic opened #273 "Logger configuration should auto-create directory"
Currently, if a config file has a logger configuration setup to write to a file which doesn't exists, the file is created. However, if the file is in a directory that doesn't exists, the directory is not created.

This impose an unnecessary constraint on deployment: while installing a package, all subfolders of the `log` directory have to be created by the package, effectively creating a coupling

[2017-09-28 20:24] mihails-strasuns-sociomantic commented on #272
Problem with `ulong ms` is that we won't be able to introduce non-breaking overloads in the API. Which is why I have been thinking about struct wrapper akin to `ocean.time.Time`

[2017-09-29 09:14] gavin-norman-sociomantic commented on #272
I wonder if `timerfd_create` _really_ supports nanosecond resolution!?

But yeah, the idea of a time struct sounds sensible.

[2017-09-29 11:04] david-eckardt-sociomantic commented on #272
Looking at the big time type and struct mess in C and D libraries I strongly prefer a primitive unsigned integer type and ms as the standard unit. I don't think adding yet another struct would be a good idea, it would just increase the convolution of time struct types.

The underlying timer probably does, but the epoll overhad defeats it.

[2017-10-01 13:12] mihails-strasuns-sociomantic commented on #212
This finished for initial conversion, right?

[2017-10-01 15:37] mathias-lang-sociomantic commented on #212
I haven't done my share yet :blush:

[2017-10-01 17:09] mathias-lang-sociomantic commented on #206
Along with those modules, we should also kill `ocean.core.RuntimeTraits`

[2017-10-02 09:01] mihails-strasuns-sociomantic commented on #212
@mathias-lang-sociomantic do you think you can get to it in next few days? Otherwise I am going to take it over as I want to release 3.5.0 this Friday :)

[2017-10-02 09:32] mathias-lang-sociomantic commented on #212
I definitely won't be able to start before Thursday *at best* (Brighton), so maybe it's better if you take over, sorry :(

[2017-10-02 09:33] mihails-strasuns-sociomantic commented on #212
No problem!

[2017-10-02 16:57] mathias-lang-sociomantic opened #279 "Deprecate wchar[] and dchar[] supporting routines"
We have tons of (legacy) code which take `wchar` and `dchar` into account, which are types we don't use and never had.
According to [this comment](https://github.com/sociomantic-tsunami/ocean/pull/191#issuecomment-315309526) consensus was already reached:

But it looks like there is no issue recording it, so adding one here.

[2017-10-04 09:39] mihails-strasuns-sociomantic commented on #272
Well, the problem is that we simply can't have it without breaking half of ocean and downstream apps in an extremely hard to debug way. Also I'd much rather have `wait(seconds(1))` than `wait(1_000)`.

Yeah multiplication of types would be messy. But looking at time module now, I think https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/time/Time.d#L62 is pretty much what is needed

[2017-10-04 10:00] mihails-strasuns-sociomantic commented on #279
Pinging @sociomantic-tsunami/core-team to check if there are indeed no other opinions

[2017-10-04 10:07] mihails-strasuns-sociomantic opened #281 "Find flakey `ocean.task` test"
We have observed two times that some CI runs fail with totally unrelated test failures coming from task code. Previous case was ~3 weeks ago in one of PRs and it has happened again on v3.x.x HEAD after merging green PR today. It looks like one of task tests has some very low chance of failure that is not foreseen.

Will need further investigation.

[2017-10-04 10:13] gavin-norman-sociomantic opened #282 "Changed `Template_Params` into `Params`"

[2017-10-04 10:35] gavin-norman-sociomantic commented on #279
I've never seen 2+-byte chars used and agree that it'd be beneficial to strip out the code that supports them.

[2017-10-04 11:02] mihails-strasuns-sociomantic commented on #281
Typical stack trace:

[code]

[2017-10-04 11:07] mihails-strasuns-sociomantic commented on #281
Added 93ab2c873c750fa1fedd0b44348442478f500e4c to get better trace next time it happens

[2017-10-04 14:09] mihails-strasuns-sociomantic opened #285 "Start removing `dispose` methods"
As D2 migration seems to indicate, those `dispose` blocks are not really necessary in most cases and can be replaced by destructors in others. We need to do some more detailed trials with one of applications to definitely confirm this, but in general it is about time those should be removed from ocean completely.

[2017-10-05 09:47] nemanja-boric-sociomantic commented on #281
Judging by the backtrace, this seems to be the flaky test: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/task/util/Timer.d#L167-L204

[2017-10-06 10:45] david-eckardt-sociomantic commented on #272
Well, I really prefer `wait(1_000)`. I'm allergic to ticks.

[2017-10-06 10:47] mihails-strasuns-sociomantic commented on #272
`1_000` of what? :trollface:

[2017-10-06 10:48] david-eckardt-sociomantic commented on #272
Milliseconds, the natural time unit of reason.

[2017-10-06 10:48] gavin-norman-sociomantic commented on #272
1,000 ticks, obviously! :trollface: :trollface:

[2017-10-06 11:09] mihails-strasuns-sociomantic commented on #272
I am reasonably sure it was meant to be `double seconds`.

[2017-10-06 12:14] mihails-strasuns-sociomantic commented on #212
`ocean.text` merged - https://github.com/sociomantic-tsunami/ocean/pull/276

That should be it for the first stage.

[2017-10-06 12:14] #212 closed, assigned to nobody

[2017-10-06 12:18] mihails-strasuns-sociomantic opened #289 "Revisit assert/verify/enforce separation"
https://github.com/sociomantic-tsunami/ocean/issues/212 resulted in a very straightforward migration where all `assert` places got changed to `verify`/`test` without any detailed consideration. This unblocks further D2 build deployment but in the long term we would need something finer tuned.

We should revisit all modules either one by one or by package and check what can be changed back to `asse

[2017-10-06 12:21] mathias-lang-sociomantic commented on #289
Does it ? For the dhtnode, don't we need to do the same in swarm and dhtproto ?

[2017-10-06 12:22] gavin-norman-sociomantic commented on #289
Yes, we need to do the same process in the other libraries. From ocean's side, though, things are complete.

[2017-10-06 12:24] mihails-strasuns-sociomantic commented on #289
Right, I only speak in context of ocean as it is ocean issue :)

[2017-10-06 12:56] gavin-norman-sociomantic opened #290 "Remove refs to v2.x.x from README"

[2017-10-06 13:10] #290 closed, assigned to nobody

[2017-10-06 13:49] david-eckardt-sociomantic commented on #272
I could make piece with a single-member struct carrying the time in µs (rather than obscure ticks) and conversion methods.
A point is that, while this is convenient to express constant time values it makes calculating difficult. At least calculating a time difference and summing times up are common things to do. With plain integers this is straightforward, with structs it is not, and operator over

[2017-10-06 13:53] mihails-strasuns-sociomantic commented on #272
That sounds reasonable (assuming µs is max precision we ever need).

I would even suggest to make µs integer field public so that one can do arbitrary calculation without operator overloading or any other mess. Basically the struct would only exist so that you can overload on it and know for sure the number is indeed amount of µs.

[2017-10-08 16:05] mihails-strasuns-sociomantic commented on #281
Got this again after addition of https://github.com/sociomantic-tsunami/ocean/commit/93ab2c873c750fa1fedd0b44348442478f500e4c and it implies something very weird.

https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/task/util/Timer.d#L286 doesn't fail but by the time of https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/task/util/Timer.d#L302 `event.to_resume` is nul

[2017-10-08 17:54] nemanja-boric-sociomantic commented on #281
Are we sure we're keeping the reference in the area available for the GC to scan? Looking here: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/io/select/client/TimerSet.d#L327 we get one element from the pool which will store our `EventData`. We return it back from `task.Timer.registerResumeEvent`, but we don't store the reference to it: https://github.com/sociomantic-tsunami/o

[2017-10-08 18:03] nemanja-boric-sociomantic commented on #281
It does look like `ObjectPool` keeps the references to the busy items (`IPool` implementation is just a single array with the border between busy and idle elements), but it's worth double-checking.

[2017-10-09 08:24] mihails-strasuns-sociomantic commented on #281
Also premature collection would result in broken but non-null pointer.

[2017-10-09 09:28] gavin-norman-sociomantic commented on #272
Yep, this is what I had in mind too. The setter methods will just be for convenience.

[2017-10-09 09:47] leandro-lucarella-sociomantic commented on #289
Maybe a global issue in *backend* could help track the global progress (or a GitHub project).

[2017-10-09 09:48] mihails-strasuns-sociomantic commented on #289
That is just a bit too globa :). Ocean alone will take uncertain amount of time

[2017-10-09 10:39] gavin-norman-sociomantic commented on #281
Sounds highly abnormal to me.

[2017-10-10 09:50] daniel-zullo opened #297 "Fix JsonParser throwing inconsistent exceptions or errors"
Depending on the D version used, JsonParser will throw a different exception or error. In order to make it consistent it should throw always a `JsonParserException` so a program using the module can catch the exception whatever is the D version currently in use.

[code]

[2017-10-10 09:52] gavin-norman-sociomantic commented on #297
I presume this means that it throws an `Error` in D2?

[2017-10-10 09:54] gavin-norman-sociomantic commented on #297
Your example above seems to just be showing the difference between `assert` in D1 vs D2.

[2017-10-10 09:54] mihails-strasuns-sociomantic commented on #297
It is probably one of those places that used `assert` for checking user input. In ocean 3.5.0 this should throw either `SanityException` or just plain `Exception` (after we got rid from all/most asserts)

[2017-10-10 09:54] mathias-lang-sociomantic commented on #297
It's not an assert, it's a `RangeError`. Something that should never be triggered.

[2017-10-10 09:56] mathias-lang-sociomantic commented on #297
It's triggered [here](https://github.com/sociomantic-tsunami/ocean/blob/dab13508281189620c61b3f35b5d98ec99780d9f/src/ocean/util/container/more/Stack.d#L169).

Stack trace provided by Dani:
[code]

[2017-10-10 09:58] gavin-norman-sociomantic commented on #297
[code]
Ahh, I see. So the documentation is wrong. This condition should be `enforce`d before indexing the array.

[2017-10-10 09:58] mihails-strasuns-sociomantic commented on #297
So it is actually https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/container/more/Stack.d#L169 which is missing length enforcement

[2017-10-10 09:58] mihails-strasuns-sociomantic commented on #297
The same problem seems to apply to all/most `Stack` methods

[2017-10-10 09:59] gavin-norman-sociomantic commented on #297
Those cheeky tangonians.

[2017-10-10 09:59] gavin-norman-sociomantic commented on #297
(I suppose they couldn't have anticipated D2, though.)

[2017-10-10 10:05] nemanja-boric-sociomantic commented on #297
It actually has enforcements, and the `error` method is called, which then throws `ArrayBoundsException` which is defined to be alias to `RangeError` in D2 ocean.

[2017-10-10 10:06] nemanja-boric-sociomantic commented on #297
https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/container/more/Stack.d#L297

https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/core/ExceptionDefinitions.d#L67

[2017-10-10 10:08] mihails-strasuns-sociomantic commented on #297
Right, I thought it throws on `stack[--depth]` access but it is private field which can never be larger than the bound.

[2017-10-10 10:17] daniel-zullo commented on #297
I was trying to prove there is an inconsistency handling exceptions.

[2017-10-10 10:17] mihails-strasuns-sociomantic commented on #297
@daniel-zullo-sociomantic there is none, as D2 version doesn't throw exception (which is the real problem)

[2017-10-10 10:19] mihails-strasuns-sociomantic commented on #297
in other words, if you make it `catch (Throwable e)`, it will hit in both D1 and D2 (but you must not ever do that!)

[2017-10-10 10:29] daniel-zullo commented on #297
Thanks for the clarification. I found it a bit confusing TBH reading the message from the stack trace.

<details>
<summary>This is the stack trace from D2 if the `catch` is removed from the unit test</summary>

[code]

[2017-10-10 10:33] daniel-zullo commented on #297
maybe `RangeError` shouldn't be in `core.exception` if it is not an exception ?

[2017-10-10 11:22] mihails-strasuns-sociomantic commented on #297
It was added there as part of D2 migration afair, because we needed some alias that would refer to the same thing in both D1 and D2. Not sure what can be done other than documenting it with caps "DONT EVER USE THIS" :)

[2017-10-10 11:22] mihails-strasuns-sociomantic commented on #297
Proof of concept fix https://github.com/sociomantic-tsunami/ocean/pull/299

[2017-10-10 13:37] mihails-strasuns-sociomantic opened #302 "Re-enable `final switch` in SmartUnion"
https://github.com/sociomantic-tsunami/ocean/pull/301

[2017-10-10 17:07] #297 closed, assigned to nobody

[2017-10-10 18:33] leandro-lucarella-sociomantic commented on #279
Also +1 but I want to hear confirmations from @ben-palmer-sociomantic @stefan-brus-sociomantic @joseph-wakeling-sociomantic and @vasileios-kyrillidis-sociomantic too.

[2017-10-10 21:46] Geod24 commented on #9
Updated ocean on my personal project, and had to convert it to D2 again.
Here's the issues I had:
- Usual `scope` thing with different callback type as [mentioned here](https://github.com/sociomantic-tsunami/ocean/issues/9#issuecomment-330178427).
- [Your daily DMD bug](https://issues.dlang.org/show_bug.cgi?id=17752)
- #303

[2017-10-11 11:31] stefan-brus-sociomantic commented on #279
Sounds good to me.

[2017-10-11 11:53] leandro-lucarella-sociomantic commented on #9
What does this mean? I don't get the implications. Is this to update ocean to the latest DMD?

[2017-10-11 11:56] leandro-lucarella-sociomantic commented on #279
#280 already merged, so marking as done.

[2017-10-11 12:02] mathias-lang-sociomantic commented on #279
#280 says "part of", not "fixes" :P

[2017-10-11 12:49] mihails-strasuns-sociomantic commented on #279
And relatively minor part I think :)

[2017-10-11 15:06] mathias-lang-sociomantic commented on #9
@leandro-lucarella-sociomantic : Basically I'm using ocean in my private projects, which use upstream's compiler. It works fine thanks to rdmd, but since I have to `d1to2fix` + `git push` on every release I tested it, and those are the things I found. There's also:
`./src/ocean/util/log/PeriodicTrace.d(190): Error: undefined identifier __va_argsave, did you mean struct __va_argsave_t?`

And we use

[2017-10-11 17:01] leandro-lucarella-sociomantic commented on #9
Is there a dedicated issue about this?

[2017-10-11 17:15] leandro-lucarella-sociomantic commented on #272
I know some will hate me, but I suggest using seconds as a float everywhere (and do the pertinent conversions when needed). It could be a struct too with convenient conversion functions to the popular C API structs, but using floats as a default type is quite clear, simple and flexible (and times usually are not really that precise to need an integer type, rounding shouldn't be an issue).

[2017-10-11 17:20] #282 closed, assigned to nobody

[2017-10-11 17:27] mathias-lang-sociomantic commented on #9
[There's a P.R. to fix it](https://github.com/sociomantic-tsunami/ocean/pull/306).

[2017-10-11 17:44] leandro-lucarella-sociomantic commented on #273
I don't agree there is an equivalence between files and directories. Directory permissions are handled differently than file permissions, as depending of what you do a logrotate might not have permissions to write new files (rotate) for example.

I think it is reasonable to require for a directory to exist, it should be part of the installation process.

[2017-10-11 17:46] leandro-lucarella-sociomantic commented on #273
(it's quite some effort to fight the temptation to close as WONTFIX and to give some time to further discussion)

[2017-10-11 18:09] mathias-lang-sociomantic commented on #273
Let me provide an example. Let's say we have a large application, which logs to tons of file. At the top, the application receive 3 different kind of streams, and the maintainer only ever have to debug one stream at a time - making it for an obvious point to separate the log files.
So he'll write a config file like:

[code]

The issue is, now the package definition has to create those directories.

[2017-10-12 06:52] mihails-strasuns-sociomantic commented on #272
How about no? :)

1) Slower than integers on all arithmetic operations
2) Imprecise (trying to arm timer on microsecond precision should be enough to trigger it)
3) Requires conversions each time you interact with C libraries
4) Doesn't help with convenience because you would still want to use `wait(ms(100))` over `wait(0.0000001)`

[2017-10-12 09:04] gavin-norman-sociomantic opened #307 "Apparent doc / code mismatch in IConnectionHandler.finalize"
https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/net/server/connection/IConnectionHandler.d#L293-L330

The documentation states:

The code, however, does the opposite:
[code]
`if (this.io_error) if (this.socket.shutdown())` = shut down the socket if there _has_ been an I/O error. The doc says "the socket must be shut down *unless* an I/O error has been reported".

[2017-10-12 09:06] gavin-norman-sociomantic commented on #307
Another possibility is that the documentation of the return value of `io_error` is wrong. It says:

[2017-10-12 09:07] gavin-norman-sociomantic commented on #307
It _sounds_ like the doc ("the socket must be shut down unless an I/O error has been reported") is right, to be honest. Which means that the code is doing something odd and potentially scary.

[2017-10-12 09:20] nemanja-boric-sociomantic commented on #307
The documentation of the `io_error` doesn't seem to be wrong. Here's where it's implemented: https://github.com/sociomantic-tsunami/swarm/blob/83eed3c34a538d101b9f61606c654a2fce1b831c/src/swarm/node/connection/ConnectionHandler.d#L830 and `writer/reader.io_error` is here: https://github.com/sociomantic-tsunami/ocean/blob/5c01dc0adee97b833054a8cd1efd0ca29c8d8cea/src/ocean/io/select/client/model/IFi

[2017-10-12 11:04] david-eckardt-sociomantic commented on #272
:rage:

Everything @mihails-strasuns-sociomantic said plus: Time values need absolute exact precision that is straightforward to understand and work with.
- There is no decimal one- or two-digit milliseconds value that can be represented exactly as a binary floating point number. Adding number representation fuzziness by in- or decrementing an exact time value by 1ms or 10ms is IMHO unacceptable.

[2017-10-12 11:06] david-eckardt-sociomantic commented on #272
(I bet a free lunch.)

[2017-10-12 11:20] leandro-lucarella-sociomantic commented on #273
Many objections to this:

1. Normally applications use only one log directoy, just log to: `log/stream_a.log`, `log/stream_b.log`, `log/stream_b_specialized.log`, etc. instead of creating subdirectories.
2. If you insist in implementing this using subdirectories, it looks awfully like a very special case of this application, so just make the application deal with the extra directory creation.

But

[2017-10-12 11:53] leandro-lucarella-sociomantic commented on #272
Really? So timer arithmetic will slow down your programs... :roll_eyes: (I think this is completely a non-issue).

False. It will be imprecise only if you need to set up a timer with more than 7 significant digits, which sounds crazy. Do you really see someone doing `timer(0.0012345678)`? You probably always need just 1, 2, 3 at tops significant digits.

Again, a non issue performance wise, and as

[2017-10-12 12:09] leandro-lucarella-sociomantic commented on #272
One last anecdotal thing, I didn't just had a revelation, I took this idea from well established projects. This is already used by Python (for example: https://docs.python.org/3.6/library/select.html#select.select) and even `libev`, *a high performance full-featured event loop written in C* (http://pod.tst.eu/http://cvs.schmorp.de/libev/ev.pod#code_ev_timer_code_relative_and_opti / http://pod.tst.

[2017-10-12 12:35] gavin-norman-sociomantic opened #308 "Create simplified ISelectClient infrastructure"
Looking through the current code, I once again notice that there are hacks and areas of fragility (e.g. #307, https://github.com/sociomantic-tsunami/dhtproto/issues/47#issuecomment-336071172, https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/net/server/SelectListener.d#L578-L585).

It would be nice to iron these out by developing a simplified core containing just the features that

[2017-10-12 13:00] david-eckardt-sociomantic commented on #272
That is all correct, but it is not what I mean. My point is: Integer numbers reflect the behaviour of the underlying mechanism, which is that there is a clock ticking in discrete steps. They convey a correct understanding of what happens and keep the promises they make -- precise values with an absolute precision. You can always add or subtract 1µs or 27ms or one week and 3.14159s or whatever, you

[2017-10-12 13:52] mihails-strasuns-sociomantic commented on #273
To me creating directories _within_ own installation dirs looks reasonable and sufficiently time-saving to warrant library support. But I am more or less neutral on the matter.

[2017-10-12 14:32] andrej-mitrovic-sociomantic opened #309 "CpuMemoryStats: Add ability to specify the PID to get the stats for"
We have a use-case for this (and we already used custom parsing of `/proc/self/status` before `CpuMemoryStats` existed). In our test-suite, we can verify that the total memory usage of an application doesn't exceed some specified number. In our code it looks like this:

[code]

It would be handy if `CpuMemoryStats` had the ability to specify the PID (perhaps in the constructor), so we can get rid

[2017-10-12 16:01] mihails-strasuns-sociomantic commented on #309
There is https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/sys/stats/linux/ProcVFS.d#L167 - and next turtle release will even include framework for tracking it (https://github.com/sociomantic/turtle/pull/304). You may want to comment on that PR btw if you already have something similar in your test suite.

[2017-10-12 16:02] mihails-strasuns-sociomantic commented on #309
(and https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/sys/stats/linux/ProcVFS.d#L167 of course)

[2017-10-12 16:08] andrej-mitrovic-sociomantic commented on #309
Oh sweet! In my case I'm testing for the exact memory usage after one run, rather than testing if memory increased at all between several runs.

[2017-10-12 16:08] #309 closed, assigned to nobody

[2017-10-12 16:10] mihails-strasuns-sociomantic commented on #309
Yeah with that PR you will still be able to access it manually, something in the spirit of `(cast(TestedDaemonApplication) this.context.app).getPeakStats()` in the very last test. Should be easier than reimplement same tracking from scratch.

[2017-10-13 09:34] mihails-strasuns-sociomantic commented on #272
Please for the sake of all good don't bring Python into this argument :) I will give it some respect for distinguishing integers and floats at all, but scripting languages have completely different criteria of performance and usability.

Libev would be more relevant, but there is also one widely known C library WE ACTUALLY USE that doesn't do that.

And this:

.. makes me adamant on not letting yo

[2017-10-13 13:23] david-eckardt-sociomantic commented on #272
Oh, I would be glad to `wait(150E-3)` ;)

[2017-10-18 13:09] mihails-strasuns-sociomantic commented on #281
Also worth noting that so far I was not able to reproduce it locally even once, running all tests 1000 times in a row (with different `nice` value for a each thousand)

[2017-10-19 10:11] joseph-wakeling-sociomantic opened #313 "Allow `await` and `awaitOrTimeout` to support multiple tasks"
In some use-cases one wants to block some procedure until multiple sub-tasks have all completed, without blocking on any individual sub-task.  An example might be performing multiple fetch requests for different pieces of needed data: you cannot proceed until all these requests have completed, but you do not want to perform those requests sequentially.

In such circumstances it would be convenient

[2017-10-19 13:08] nemanja-boric-sociomantic opened #315 "SafeFork doesn't reap the child processes"
Ocean provides wrapper around `fork`: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/sys/SafeFork.d#L120 which calls fork, but it doesn't do anything with the `SIGCHLD` events, resulting in leaving zombie processes on the system.

SafeFork should at least document that the user should either explicitly ignore `SIGCHLD` signal, specify `SA_NOCLDWAIT` flag, or call `wait` when si

[2017-10-19 16:43] mihails-strasuns-sociomantic commented on #281
It looks like origin of the problem comes from here https://github.com/sociomantic-tsunami/ocean/commit/43e881d96f5a7e760bf8427266e3d9e0de371672#diff-cdfe73f7a32941d6ef2be1802a4a7819R680

[2017-10-19 16:58] mihails-strasuns-sociomantic commented on #281
But it is only manifestation of real problem - `terminationHook` system is broken when several delegates with same pointer are registered. In this specific case same hooks get added from both `wait` and `awaitOrTimeout` for the same task.

It will probably be more clear once I come up with fixup PR :)

[2017-10-19 17:20] mihails-strasuns-sociomantic commented on #281
On a related topic, @gavin-norman-sociomantic could you explain me something about `TimerSet` internals please? It looks like normally event is recycled from this method - https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/io/select/client/TimerSet.d#L212-L216 . But what happens when `unregister` is called instead (https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/

[2017-10-20 14:42] mihails-strasuns-sociomantic commented on #204
I would propose to close this issue and create another one if you think we should plan to change RNG approach @leandro-lucarella-sociomantic

[2017-10-20 15:06] leandro-lucarella-sociomantic commented on #204
It's still not completely clear to me what's the path we should take. If it's reasonable to use an external PRNG library, that would make sense to me, but I'm not sure if there is one that meet our needs out there. I would wait until we have a concrete plan, to create new issues.

[2017-10-23 09:02] mihails-strasuns-sociomantic opened #322 "<nevermind>"

[2017-10-23 09:03] #322 closed, assigned to nobody

[2017-10-23 09:19] mathias-lang-sociomantic commented on #9
Can we assign this to v4.0.0 to make matters clearer ? (CC @mihails-strasuns-sociomantic )

[2017-10-23 11:47] mihails-strasuns-sociomantic commented on #9
Sounds good. I hoped to fit it into v3.x.x but doesn't seem like circular import issue can be resolved with strict backwards compatibility.

[2017-10-24 09:49] gavin-norman-sociomantic opened #323 "Should IPSocket.socket call ISocket.socket?"
`ISocket.socket`: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/sys/socket/model/ISocket.d#L309-L318
`IPSocket:socket`: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/sys/socket/IPSocket.d#L228-L238

Looks like a refactoring error that they are both separate implementations.

@david-eckardt-sociomantic what do you think?

[2017-10-24 10:19] david-eckardt-sociomantic commented on #323
I agree. `IPSocket.socket` should call
[code]

[2017-10-25 11:04] gavin-norman-sociomantic opened #324 "Make IConnectionHandler.unregisterSocket abstract"
The method was added in v3.4.x as a bug fix, thus could not be abstract (which would have been a breaking change). _Really_ it should be abstract, though: all derived classes should implement it.

[2017-10-25 12:27] gavin-norman-sociomantic opened #325 "Implement IConnectionHandler.unregisterSocket in TaskConnectionHandler"

[2017-10-27 10:06] #323 closed, assigned to nobody

[2017-10-30 10:26] nemanja-boric-sociomantic opened #334 "EpollSelectDispatcher.modify documentation is wrong?"
`EpollSelectDispatcher.modify` documentation (https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/io/select/EpollSelectDispatcher.d#L560-L586) states:

[code]

However, the return value seems to be inverse: returns false if the modify succeeded and return true if the new registration had to be added.

[2017-10-30 14:31] mathias-lang-sociomantic commented on #334
Correct link (press `y`): https://github.com/sociomantic-tsunami/ocean/blob/2547decbe0863ea0b6369bfb36517bc6cf9a4506/src/ocean/io/select/EpollSelectDispatcher.d#L570-L628

Is there any place that uses this ? The code looks counter-intuitive.

[2017-10-30 14:35] nemanja-boric-sociomantic commented on #334
The code itself looks fine to me - try to modify existing registration, if that fails with the error that the client already exist, go and add new one. It's just that the return value a) doesn't match documentation; b) is not handled inside `EpollSelectDispatcher` when this method is called - the user shouldn't care about this.

This is sadly used all over the place, as its return value is returne

[2017-10-30 14:38] nemanja-boric-sociomantic commented on #334
For example, look at this line:

https://github.com/sociomantic-tsunami/ocean/blob/2547decbe0863ea0b6369bfb36517bc6cf9a4506/src/ocean/io/select/EpollSelectDispatcher.d#L328

If the existing client is modified, `register` returns false, indicating some obscure error (such as file was closed before registration), which is totally wrong IMHO.

[2017-11-02 10:31] nemanja-boric-sociomantic opened #338 "Add v3.6.0 to LibFeatures"

[2017-11-02 10:36] mihails-strasuns-sociomantic commented on #338
https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/LibFeatures.d#L20 ??

[2017-11-02 10:37] nemanja-boric-sociomantic commented on #338
Ah good if already added. This was just a reminder not to forget it.

[2017-11-02 10:37] #338 closed, assigned to nobody

[2017-11-03 10:19] gavin-norman-sociomantic opened #340 "Move X -> Formatter wrapper functionality into ocean.text.formatter"
It is common to want convenient string formatting functions for various aggregates (see #330, #339, for example). The naive approach is to add a formatting method inside the aggregate in question. This leads, however, to `ocean.text.convert.Formatter` being a dependency of many, many modules.

As a means of avoiding this widespread dependency, the suggested solution is to implement functions for f

[2017-11-03 10:30] mihails-strasuns-sociomantic opened #341 "Redesign how resuming a `Task` works"
Currently scheduler/task system has a fundamental design flaw which makes it possible to get into fiber memory corruption as soon as several tasks start resuming each other. It comes from misunderstanding the fact that fibers yield don't remember call stack:

[code]

[code]

Scheduler was written with an implicit assumption that in such snippet returning end of `context2` would get back to `contex

[2017-11-03 11:07] mihails-strasuns-sociomantic commented on #341
FYI: I intend to fix it by making so that any resuming of the task will be done by the scheduler/epoll instead of direct `Fiber.call()` call. Will see how well does it go in practice though.

[2017-11-03 13:45] mathias-lang-sociomantic commented on #340
How is this a problem ?

In order to decouple the formatting code from the formatter, my initial idea was to introduce a way to map a type to another. For example, you'd have a mapping from `int` to `IntegerFormatter`, which would be defined as:

[code]

This way, the Formatter becomes an even lighter utility, just meant to match a type to it's formatting type, and call `toString`. That would also

[2017-11-03 13:52] gavin-norman-sociomantic commented on #340
Better ask @mihails-strasuns-sociomantic . He was the one who objected to it so strongly.

I don't see it as a huge problem, tbh -- especially as you say `Formatter` doesn't have a lot of dependencies -- but maybe I'm missing some experience that makes Mihails wary of it.

How would such a map work? I like the idea, though.

[2017-11-03 14:09] mathias-lang-sociomantic commented on #340
That's the catch, I haven't been able to find a solution which gives a clean API, works in both D1 and D2, and doesn't blow up template-wise (for the moment). But as mentioned, I didn't give it a very high priority either because the current situation is more than acceptable IMHO.

[2017-11-03 18:53] #190 closed, assigned to nobody

[2017-11-08 12:37] #302 closed, assigned to nobody

[2017-11-10 13:52] ben-palmer-sociomantic opened #354 "Possible problem with URI URL encoder"
The URL encoder in the `ocean.net.Uri` module seems to be encoding non-reserved characters in `IncScheme` mode which is not recommended in the specification (https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/net/Uri.d#L189).

For example `_` is not a reserved character but is encoded. I may have misunderstood what the `IncScheme` mode is supposed to do but to my mind it should fol

[2017-11-14 11:42] mathias-lang-sociomantic commented on #272
@leandro-lucarella-sociomantic : I think using float for any time of time-keeping is a terrible idea. There are enough [horror stories](http://www-users.math.umn.edu/~arnold/disasters/patriot.html) out there to convince anyone of this.

It's not only about using it as a single, independent value for representation, but the operations you'll perform on them. Just try to compute the total run-time u

[2017-11-17 16:04] nemanja-boric-sociomantic opened #363 "Rename CpuMemoryStats.log to something else"
The `CpuMemoryStats.log` method is a bit of deceptive, since this method actually calculates the CPU usage in the previous time interval, records the memory usage and returns the filled struct to the user which then _logs_ it via different means (usually, it's the statslog.)

https://github.com/sociomantic-tsunami/ocean/blob/f74ae1a5730a683065481def021708c7dd6babd8/src/ocean/sys/Stats.d#L151

[2017-11-17 16:15] gavin-norman-sociomantic commented on #363
`collect` would be one alternative.

[2017-11-20 09:10] gavin-norman-sociomantic opened #365 "Compiling with -profile fails"
[code]
`alloca`: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/digest/Digest.d#L138
Exception handling: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/digest/Digest.d#L141

[2017-11-20 12:43] mihails-strasuns-sociomantic commented on #9
v4.x.x HEAD is now tested with upstream compiler, thus this can be closed as done

[2017-11-20 12:43] #9 closed, assigned to nobody

[2017-11-21 10:57] #149 closed, assigned to leandro-lucarella-sociomantic

[2017-11-23 14:28] leandro-lucarella-sociomantic opened #371 "Consider using zero-copy sockets"
The new 4.14 Linux kernel has a new zero-copy option for sockets:

https://lwn.net/Articles/726917/

I guess ocean could make use of this in the future...

[2017-11-23 16:15] gavin-norman-sociomantic commented on #371
Nice!

That's interesting. Certain situations in swarm could benefit from that. Sending prepared batches of records, for example.

[2017-11-25 15:07] #341 closed, assigned to mihails-strasuns-sociomantic

[2017-11-25 15:30] gavin-norman-sociomantic commented on #248
As swarm request context packing is the only known use case for this proposal, I implemented something specialised in swarm (https://github.com/sociomantic-tsunami/swarm/pull/178). I think that's a better solution than trying to add functionality to the ocean serializer that would add complexity and dilute the concept.

[2017-11-25 15:30] #248 closed, assigned to nobody

[2017-11-27 11:56] nemanja-boric-sociomantic commented on #52
This is fixed in v4.x.x. Closing.

[2017-11-27 11:56] #52 closed, assigned to nemanja-boric-sociomantic

[2017-11-27 12:46] nemanja-boric-sociomantic commented on #15
What's the status with this @leandro-lucarella-sociomantic ?

[2017-11-27 12:48] nemanja-boric-sociomantic commented on #99
Is this fixed in v4.x.x given that we compile with newish compilers these days?

[2017-11-27 12:54] mihails-strasuns-sociomantic commented on #99
Yep, I avoided the issue by versioning in plain nested imports for D2 builds.

[2017-11-27 12:55] #99 closed, assigned to nobody

[2017-11-27 13:08] #363 closed, assigned to nemanja-boric-sociomantic

[2017-11-27 13:14] nemanja-boric-sociomantic commented on #365
I'm looking into that method, and I can't find a compelling reason why that `verify` is needed.

[2017-11-27 13:20] #162 closed, assigned to nobody

[2017-11-28 18:43] leandro-lucarella-sociomantic commented on #15
WONT CLOSE

We tried several approaches to try to use a cache and everything was slower (or the same) as build from scratch.

[2017-11-28 18:43] #15 closed, assigned to leandro-lucarella-sociomantic

[2017-11-29 11:55] #188 closed, assigned to nobody

[2017-11-29 15:21] nemanja-boric-sociomantic commented on #273
Related: https://github.com/dlang/phobos/commit/e85381ee42652029a8b1c8d8397aee78c2ae7139#diff-41bb8731b16e43f1b48e0d529c498fa9

[2017-11-29 20:53] leandro-lucarella-sociomantic commented on #273
I think at the bare minimum it should be configurable if you want the app to create directories. For example? What kind of permissions you give to the new directory? Usually you want to give admins read access but not to everyone, and stuff like that, this is definitely something that the "sysadmin" should take care of.

[2017-11-29 23:03] mathias-lang-sociomantic commented on #273
Same as files currently being created ?

[2017-11-30 12:25] mihails-strasuns-sociomantic commented on #85
As a totally different approach - what do you think about making `Buffer` strictly malloc based?

[2017-11-30 12:27] nemanja-boric-sociomantic commented on #85
It would work only if you either keep the buffers alive or if you're able to figure out their lifetime, right?

[2017-11-30 12:31] mihails-strasuns-sociomantic commented on #85
Yeah, but it is already the case as we allow uncontrolled borrowing of buffer content via `opSlice` - GC does not protect you from data being overwritten.

[2017-11-30 12:33] nemanja-boric-sociomantic commented on #85
No, but it helps you no to leak memory for the buffers that have no more references.

[2017-11-30 12:34] mihails-strasuns-sociomantic commented on #85
Buffer itself is a struct and in D2 structs do have destructors ;)

[2017-11-30 12:36] nemanja-boric-sociomantic commented on #85
Right, that's what I was asking myself - if the D2 struct desctructors are enough. We could always version this, though.

[2017-11-30 12:37] mihails-strasuns-sociomantic commented on #85
Let's talk about this @ next meeting

[2017-11-30 14:13] andreas-bok-sociomantic opened #388 "Validation of overridden config value"
It is possible to override a config value which doesn't exist in the config file, e.g.

`./coast -O non.existent=value`

Is this intended behavior or should it perhaps be handled in [ConfigExt.validateArgs()](https://github.com/sociomantic-tsunami/ocean/blob/53aa6a8970366c4d7d23e362b026540825bc6488/src/ocean/util/app/ext/ConfigExt.d#L241)?

[2017-11-30 14:30] mathias-lang-sociomantic commented on #388
Is loose parsing enabled or not ?

[2017-11-30 14:35] andreas-bok-sociomantic commented on #388
It is not

[2017-11-30 19:43] leandro-lucarella-sociomantic commented on #273
Might not be a good guess, as some external program might need to rotate logs. Maybe put permissions as an option too. I'm fine if things are configurable and the default is to not create directories, which IMHO is the safest option, the user should know if the app starts creating directories unless he configured the app to do that.

[2017-12-04 14:08] gavin-norman-sociomantic commented on #388
Sounds like it should cause an error, to me.

[2017-12-04 15:10] mathias-lang-sociomantic opened #392 "Wrong query when sending reports to Codecov"
While building in D2:
[code]

Apparently Codecov doesn't like the `*` in there.

[2017-12-04 15:15] mihails-strasuns-sociomantic commented on #392
https://github.com/sociomantic-tsunami/beaver/pull/36

[2017-12-04 15:21] mihails-strasuns-sociomantic commented on #325
Is it needed in 3.6.0?

[2017-12-04 15:23] nemanja-boric-sociomantic commented on #325
Oh, I've missed this. It's already done in v4.x.x, but we can backport it here.

[2017-12-04 15:27] mihails-strasuns-sociomantic commented on #325
I don't know context of what it is and why it is needed so completely up to you :)

[2017-12-04 15:28] nemanja-boric-sociomantic commented on #325
Backported in #393

[2017-12-05 09:40] mihails-strasuns-sociomantic commented on #340
Sorry for a very late response, this got a bit lost among other ocean issues.

My issue is not specifically with `Formatter` but with non-trivial `toString` implementations in general, doubly so when applied to `core` modules. While amount of formatter code for basic set of supported types is somewhat reasonable, amount of code one has to import to format particular user type can quickly get out o

[2017-12-05 10:51] gavin-norman-sociomantic opened #394 "Add high-level intro doc to ocean.scheduler explaining how tasks work"
There are some common gotchas that are well known by library devs but not by users.

Example:
* When resuming a task inside a callback, the callback does not exit until the task suspends itself.

[2017-12-06 11:50] #107 closed, assigned to nemanja-boric-sociomantic

[2017-12-06 11:50] #325 closed, assigned to nobody

[2017-12-06 14:20] #43 closed, assigned to nobody

[2017-12-07 13:55] mihails-strasuns-sociomantic opened #398 "[REG 3.6.0] Missing `path` in `BufferedDirectWriteFile`"
Testing dhtnode upgrade to 3.6.0-rc :

[code]

[2017-12-07 13:57] mihails-strasuns-sociomantic commented on #398
Regression from sociomantic-tsunami/ocean#314

[2017-12-07 15:32] #398 closed, assigned to nemanja-boric-sociomantic

[2017-12-08 12:30] #392 closed, assigned to nobody

[2017-12-08 14:25] joseph-wakeling-sociomantic opened #402 "3.6.0 release uses deprecated functionality internally"
It looks like some deprecated ocean functionality is still being used in other parts of ocean.  From a recent app build:

[code]

This also suggests that ocean unittests may be failing to cover some parts of the app framework and its extensions.

[2017-12-08 14:48] mihails-strasuns-sociomantic commented on #402
I checked the code and it is one piece that was explicitly disabled for unit tests to avoid spamming to console :)

[2017-12-08 16:03] joseph-wakeling-sociomantic commented on #402
Well, I guess that worked in its own terms ... :-)

[2017-12-08 17:46] joseph-wakeling-sociomantic opened #405 "v3.6.0 introduces symbol clashes between hasIndirections definitions"
Building an application where `ocean.core.Traits.hasIndirections` is used inside one module with v3.6.0 I now get a symbol clash with `ocean.meta.traits.Indirections.hasIndirections`:

[code]

My guess would be that the `ocean.meta.traits.Indirections` module is somehow accidentally publicly imported via some other module, in a way that wasn't previously the case.  This is arguably a breaking chan

[2017-12-08 17:54] joseph-wakeling-sociomantic commented on #405
It looks like it's down to commit 264378d68f4f8f8cd2535a0aa2b2e0e217260e33, which adjusts the traits import used in `ocean.task.Scheduler`.  Specifically, I would imagine the selective import of `hasIndirections` is causing it to be exposed publicly to any module that imports `ocean.task.Scheduler`.

[2017-12-08 17:54] joseph-wakeling-sociomantic commented on #405
As a note: I only observe the problem in D2 builds.  Reverting commit 264378d68f4f8f8cd2535a0aa2b2e0e217260e33 means I no longer see the build error.

[2017-12-09 12:28] mihails-strasuns-sociomantic commented on #405
Sorry, but I am inclined to close this as wont-fix. It is a known and in general unfixable problem that introducing new symbols can cause downstream breakage in D - we have made a conscious decision to ignore that in our neptune rules because otherwise every single addition of a symbol would require a major release. This is unfortunate but I don't see what can be done about in.

[2017-12-11 11:40] joseph-wakeling-sociomantic commented on #405
Actually it looks like a fairly simple fix: https://github.com/sociomantic-tsunami/ocean/pull/407

[2017-12-11 15:14] mihails-strasuns-sociomantic commented on #405
I know that this can be simply fixed - I argue that it should not be done on principle, because cases like that are not considered breaking changes. Where is the line between case that should be fixed and the one that should not?

[2017-12-11 15:16] joseph-wakeling-sociomantic commented on #405
If the fix was complicated or problematic, then I would agree it might not be worth addressing it.  But the fix in this case is super-simple with no apparent negatives, so why not take it?

[2017-12-11 15:22] mihails-strasuns-sociomantic commented on #405
The fix is always simple - renaming problematic symbol or getting rid of it. But it can only be known in retrospective, by checking if it clashes for code of our application and "fixing" that - it is not something one can do during initial development and not even something one can fix for arbitrary code out there.

Now in this specific case everything is indeed much more simple as one doesn't nee

[2017-12-11 15:25] #405 closed, assigned to mihails-strasuns-sociomantic

[2017-12-11 15:27] joseph-wakeling-sociomantic commented on #405
Maybe the point is that in this case the reason for the problem was due to use of something -- a selective import -- that is definitely known to be problematic.  The selective import arguably shouldn't have been used in the first place because of the risk of this sort of thing happening.

So with that in mind -- that it's code which is _obviously_ problematic on the library-writer's side -- I woul

[2017-12-11 15:29] joseph-wakeling-sociomantic commented on #405
Anyway, thanks for taking it in.  Just for reference: I did consider completely rewriting things on the downstream app side to use `ocean.meta`, and the particular missing piece of functionality was an equivalent for `ocean.core.Traits.FieldType`.  Or did I miss something myself?

[2017-12-11 15:51] mihails-strasuns-sociomantic commented on #405
Oh, great, maybe you will be the one who explains me why that utility was needed and in what cases `typeof(S.tupleof[i])` was not enough :) `ocean.meta` is filled with utils on-demand for now so it misses quite some stuff from old traits, but this one was going to be omitted intentionally as I couldn't find the problem it fixes.

[2017-12-11 15:57] mathias-baumann-sociomantic opened #408 "Use mmap to simplify ring buffer"
Using mmap we can greatly simplify our ring buffer implementation.
Basically, we can get rid of all the extra logic required at the wrap-around position.

Mmap allows us to remap the beginning of the buffer to after the end so that a continuous read/write
can be done.

Here is a working POSIX implementation that we can copy from: https://en.wikipedia.org/w/index.php?title=Circular_buffer&oldid=588

[2017-12-11 16:04] joseph-wakeling-sociomantic commented on #405
@mihails-strasuns-sociomantic fair point.  `FieldType` offers a simple and clearly-named template whose purpose is clear and whose implementation details don't need to be worried about.  I don't mind if you don't want to include it in `ocean.meta` but it doesn't seem unreasonable to want to be able to mix `fieldIdentifier` and `FieldType` side by side.

[2017-12-11 17:21] joseph-wakeling-sociomantic commented on #402
Just for reference: there appears to be one other place where deprecated functionality is exposed, this time only in unittests (not in production):

[code]

This looks like it comes down to this: https://github.com/sociomantic-tsunami/ocean/blob/71e4cd854ca331484f194a278f9cb0296e48b343/src/ocean/text/convert/Formatter_test.d#L26-L33

... which would be straightforward enough to fix by wrapping the

[2017-12-11 17:32] mathias-lang-sociomantic commented on #402
The "deprecation" comes from a `pragma(msg, ...)` so this one cannot be removed (and that's also why it doesn't fail the CI). This test is here on purpose.

[2017-12-11 17:40] joseph-wakeling-sociomantic commented on #402
OK, no problem.  I'm in the mood for writing a simple fix or two so wanted to check if this was a desired (and feasible) one ;-)

[2017-12-12 12:14] #402 closed, assigned to mihails-strasuns-sociomantic

[2017-12-13 10:48] mathias-lang-sociomantic opened #412 "Deprecate in-place deserialization of records with indirections"
Currently, `Deserializer` has two `deserialize` methods with the following signatures:
[code]

The former is, AFAIK, unused by any D2-ported app, as this function is tighly coupled with our usage of swarm, which provides us with `in char[]` buffer in its callbacks.
However, there's still a use case for in-place deserialization, when the record has no indirection.
Those records are usually small re

[2017-12-13 13:12] mihails-strasuns-sociomantic commented on #412
Of what I know it is used at least in `MapSerializer` and derivatives - and there could be possibly more cases like that, not tied to swarm.

Do you mean something like this?

[code]

[2017-12-13 14:24] joseph-wakeling-sociomantic commented on #405
For the record: the patch did not fix the problem generally, because plenty of other places use selective imports of `ocean.meta` functionality.

I'll leave it up to you whether it is worth addressing this issue (perhaps we might introduce a ban on selective imports at module level, and replace all these cases?).  For the specific problem case I'm encountering, I'm going to just replace all uses o

[2017-12-13 14:25] joseph-wakeling-sociomantic commented on #405
The specific problem is recurring because the `IScheduler` module still uses a selective `hasIndirections` symbol import.  Searching for other examples, I found plenty of selective `ocean.meta` imports elsewhere in ocean.

[2017-12-15 09:31] mihails-strasuns-sociomantic opened #420 "Collectd integration test is outdated"
It was disabled because it requires external daemon setup but now it doesn't even compile with recent ocean. Will need to be updated.

[2017-12-15 11:32] mihails-strasuns-sociomantic commented on #420
Original PR - https://github.com/sociomantic/ocean/pull/690 but looks like original introduced test already has some of present problems. @mathias-lang-sociomantic would you mind having a look? :)

[2017-12-15 12:30] nemanja-boric-sociomantic commented on #420
Should/Could we actually compile as part of tests, but not run (or run trivially just returning out of the main)?

[2017-12-15 16:29] mihails-strasuns-sociomantic commented on #420
I assumed there is some value in actually being able to run it with collectd being installed. So alternative would be to just move it to `examples/`

[2017-12-19 10:40] don-clugston-sociomantic opened #422 "`json.JsonEscape.unescape` throws non-reusable exceptions"
If `ocean.text.json.JsonEscape.unescape` encounters an invalid escape character, it executes `throw new Exception ("invalid escape");`. As this exception doesn't contain any information, it's rather useless. When parsing text with a large number of invalid escape characters it causes unnecessary pressure on the garbage collector.

Perhaps it should be using a `ReusableException` but since it doesn

[2017-12-19 11:15] mihails-strasuns-sociomantic commented on #422
Could supply a callback that receives invalid sequence as input and either throws or returns custom adjusted sequence.

[2017-12-21 09:28] mihails-strasuns-sociomantic commented on #324
Fixed in https://github.com/sociomantic-tsunami/ocean/pull/377

[2017-12-21 09:28] #324 closed, assigned to nobody

[2017-12-21 09:29] mihails-strasuns-sociomantic commented on #206
@mathias-lang-sociomantic this is now fully resolved in v4.x.x , correct?

[2017-12-21 09:30] mathias-lang-sociomantic commented on #206
It is!

[2017-12-21 09:30] #206 closed, assigned to mathias-lang-sociomantic

[2017-12-21 12:10] mihails-strasuns-sociomantic commented on #315
Maybe we should instead just deprecate `SafeFork` and use threads? :P

[2017-12-21 12:12] mihails-strasuns-sociomantic commented on #315
(I am not sure what exactly to implement for v4.0.0 to resolve this)

[2017-12-21 12:14] mathias-lang-sociomantic commented on #315
Our team use `SafeFork` **heavily**

[2017-12-21 12:16] mihails-strasuns-sociomantic commented on #315
Curious. Do you mind few examples? I thought it is something @nemanja-boric-sociomantic needed in DLS as it doesn't look like utility you would want for a general purpose.

[2017-12-21 12:18] mihails-strasuns-sociomantic commented on #315
I am specifically curious why one would want to use fork for this purpose and not a thread unregistered from GC.

[2017-12-21 12:20] mathias-lang-sociomantic commented on #315
We use it to asynchronously dump aggregations which can be a few Mb to a few Gb.

Same reason that CDGC uses it: COW memory (cheap snapshot + pay for what you use approach).

[2017-12-22 23:00] Burgos commented on #315
I think there's a way to make this a non-breaking change. The main problem with this is that processes are using `SIGCHLD` to notify the parent they exited, but the signal handler is already taken by ocean's very own `EpollProcess`. Moving signal handling one level up, so that both SafeFork and GlobalProcessMonitor can use it would work. I propose we move this to the v4.1.0.

[2017-12-22 23:04] Burgos commented on #315
Yeah, it's not something DLS is using, but I've seen the examples where there were dozens of zombies wondering around the system in the SafeFork's application. I agree it's not something one would want for a general purpose, but there's many tricky bits around fork that can go terribly wrong and that should be kept away from the user, so that makes me think this is a good thing to have in Ocean.

[2017-12-27 13:44] mihails-strasuns-sociomantic commented on #315
I gladly agree :) Worst case we can introduce new module with a fixed implementation.

[2018-01-03 12:37] #249 closed, assigned to leandro-lucarella-sociomantic

[2018-01-09 10:16] tiyash-basu-sociomantic opened #429 "Error message is not displayed when command line options are missing or incomplete"
If a command line argument is set to be `required`, not mentioning it while running the executable does not show any error message. Also, not specifying the value of a command line option does not cause any error message to be displayed.

[2018-01-09 10:17] nemanja-boric-sociomantic commented on #429
Hmm, I'm pretty sure I've seen these errors (notably, missing `--config` option). Care to attach the minimal reproducible case?

[2018-01-09 10:19] tiyash-basu-sociomantic commented on #429
This is the commit where it seems to have been broken: 480fb9fcd71a89e8e93fe917937fda258b08a5aa

@mathias-lang-sociomantic

[2018-01-09 10:31] tiyash-basu-sociomantic commented on #429
Here is a minimal reproducible case:

[code]
Upon compiling and running this without `-S` option, no error is being displayed.

[2018-01-09 10:38] nemanja-boric-sociomantic commented on #429
Thanks!

[2018-01-10 19:38] mathias-lang-sociomantic commented on #429
Fix in https://github.com/sociomantic-tsunami/ocean/pull/431

[2018-01-11 10:37] nemanja-boric-sociomantic commented on #429
#431 merged.

[2018-01-11 10:37] #429 closed, assigned to nobody

[2018-01-12 13:20] mihails-strasuns-sociomantic commented on #420
Fixed via https://github.com/sociomantic-tsunami/ocean/pull/425

[2018-01-12 13:20] #420 closed, assigned to nobody

[2018-01-15 11:57] gautam-kotian-sociomantic opened #434 "Issues with registering log files with ReopenableFilesExt"
It was observed in one of our internal projects that there were a couple of oddities when registering log files with the `ReopenableFilesExt` extension. Specifically:

- Some log files were registered multiple times (most notably `root.log`)
- `version.log` was _not_ registered at all

[2018-01-16 10:48] mihails-strasuns-sociomantic commented on #434
Regarding `root.log` - it looks like https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/app/ext/LogExt.d#L168-L172 may be a guilty part. It configured both old and new logging system and thus registers file on reopenable extension twice. @mathias-lang-sociomantic can you confirm?

[2018-01-16 10:50] mihails-strasuns-sociomantic commented on #434
As for `version.log` it is configured here https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/app/ext/VersionArgsExt.d#L297-L309 and seems like it is working as intended - this file is only written to during app startup, thus there is nothing to rotate.

[2018-01-16 10:56] mihails-strasuns-sociomantic commented on #434
Patch like

[code]

Seems to fix `root.log` issue indeed. Waiting for @mathias-lang-sociomantic confirmation and will make an ocean patch release.

[2018-01-16 11:01] mathias-lang-sociomantic commented on #434
Oh I completely overlooked registration when doing those changes. Yeah that sounds correct.

[2018-01-16 13:49] gautam-kotian-sociomantic opened #437 "Rotating version.log files"
Quoting from https://github.com/sociomantic-tsunami/ocean/pull/434#issuecomment-357923520

Normally, the logrotate configurations of apps are wildcard-based (i.e. `/path/to/app/directory/log/*.log`). This means that from logrotate's point-of-view, `version.log` is also a candidate for rotation.

`version.log` is indeed written to only during app startup, so under normal circumstances, it would fil

[2018-01-16 13:50] gavin-norman-sociomantic commented on #437
The app only writes one line to this file, ever, though. Once at startup. So it doesn't "keep" writing anything.

[2018-01-16 13:55] nemanja-boric-sociomantic commented on #437
Yes, if there are not too many hoops to jump though, application should actually just close this file after writing into it.

[2018-01-16 13:56] gavin-norman-sociomantic commented on #437
Or are you referring to the race condition where the app opens the file, the file is rotated, then the app writes its one line into the file?

[2018-01-16 13:57] mihails-strasuns-sociomantic commented on #437
That should still work I think, it will simply result in line being written to the new file.

[2018-01-16 13:59] gautam-kotian-sociomantic commented on #437
Yep, agreed. This is why I said `under normal circumstances, it would fill up rather slowly`. But the logrotate configuration allows rotation to be carried out at any arbitrary file size. Which means, if a user sets the rotation to happen at a very small file size, then it is quite possible that this file gets rotated.

Even if the application closes the file, it is still subject to logrotate's ro

[2018-01-16 14:00] gautam-kotian-sociomantic commented on #437
No, I'm not referring to such a race condition.

[2018-01-16 14:00] mihails-strasuns-sociomantic commented on #437
Yes, and that is 100% OK! What wrong would you expect to happen after rotation? Next time you restart the app it will simply write to (new) `version.log` again.

[2018-01-16 14:02] gautam-kotian-sociomantic commented on #437
Hmm, yeah you're right. I guess this is not really an issue. Sorry for the noise.

[2018-01-16 14:05] mihails-strasuns-sociomantic commented on #437
Welcome :)

[2018-01-22 11:21] mihails-strasuns-sociomantic commented on #196
Moving to v5 because:
- issue is low prio
- @nemanja-boric-sociomantic is on vacation and I am not 100% confident about required changes

[2018-01-29 08:03] mihails-strasuns-sociomantic commented on #354
It should be responsible for scheme part of the URI:

[code]

The spec you have linked defined (https://tools.ietf.org/html/rfc3986#section-3.1) scheme grammar like this:

[code]

So it seems correct that these symbols are escaped for scheme.

[2018-01-29 08:03] mihails-strasuns-sociomantic commented on #354
(unless there is more specific issue to check, I'd close this as `res-invalid`)

[2018-01-29 10:40] ben-palmer-sociomantic commented on #354
My issue was that there is inconsistency between the `UrlEncoder` and `Uri` classes as far as encoding goes and this can be the source of bugs. AFAICS there is no way to encode a URL correctly using the `Uri` class.

[2018-01-29 14:36] mihails-strasuns-sociomantic commented on #354
I may be misunderstanding but it looks like `Uri` expects one to parse URI in blocks first and encode each with a particular matching scheme.

In other words, specified characters are correct - the problem comes from trying to encode whole URI with a single scheme. Using `produce` (https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/net/Uri.d#L450) which automatically picks schemes

[2018-01-29 14:37] mihails-strasuns-sociomantic commented on #354
(maybe `encode` was not supposed to be public?)

[2018-01-29 15:10] ben-palmer-sociomantic commented on #354
Ok, that wasn't obvious to me when I first looked at this. Might be good to have an example unit test for it as well as the current one just uses `encode`.

[2018-01-30 08:52] mihails-strasuns-sociomantic commented on #354
Sounds like a good idea.

[2018-02-05 14:05] mihails-strasuns-sociomantic opened #451 "Flawed design of `Scheduler.exception_handler`"
https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/task/Scheduler.d#L175 is a public field and expected to be customizable. However it will only work before the event loop was started because it is passes by value https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/task/Scheduler.d#L545-L550 here. This will cause mysterious failures if someone attempts to change the

[2018-02-05 14:07] gavin-norman-sociomantic commented on #451
So this is unrelated to https://github.com/sociomantic-tsunami/turtle/pull/36, right? (You just noticed this while investigating that?)

[2018-02-05 14:13] mihails-strasuns-sociomantic commented on #451
It is semi-related in a sense that this issue is why turtle point release is needed and similar fix in the app code won't work (as they can't modify handler before event loop starts).

[2018-02-06 14:42] don-clugston-sociomantic commented on #451
There is another problem which I have noticed. I am not sure if this is an independent issue, but it is a design problem with the exception handler.

The default exception handler catches the exception and rethrows it. I think this assumes that the calling fiber has a try-catch block which will handle that exception.
But if the exception is not caught, there'll be a core dump. Unfortunately, the s

[2018-02-06 15:06] david-eckardt-sociomantic commented on #451
AFAIK unhandled exceptions in a fiber coroutine are handled as follows: The actual fiber coroutine, `fiber_entryPoint`, calls the user coroutine in a `try/catch` block. If the user coroutine throws (i.e. terminates with an unhandled exception) `fiber_entryPoint` catches it, stores it in `Fiber.m_unhandled` and returns so that the fiber terminates. The resumed `Fiber.call` call then rethrows the ex

[2018-02-06 15:17] don-clugston-sociomantic commented on #451
That's the thing which is wrong. The call stack has been destroyed at that point. It needs to work out who will catch the exception, *before* it starts unwinding the stack.
(And if nobody will catch it, then it should die at that point. That's how exception handling is supposed to work).

[2018-02-06 15:24] david-eckardt-sociomantic commented on #451
I totally agree with all points, but I don't expect any of this behaviour to be implemented anytime :(

[2018-02-06 19:57] mihails-strasuns-sociomantic commented on #451
@don-clugston-sociomantic this is a mixed topic. The fact that original stack trace is no longer relevant is actually very helpful when you design fiber-blocking APIs on top of epoll events. For example, if you have an exception thrown in DHT callback, it is in fact more helpful to see a stack trace leading to `dht.put` line that registered it. But in the case you describe it only makes things wor

[2018-02-07 09:14] don-clugston-sociomantic commented on #451
I think we should move towards abandoning the old semantics. I think they're just a mistake.

Although it would be possible to integrate fibers into the stack-walking code, so that exception handling works properly across fibers, I think the whole idea of unwinding the stack of a different fiber doesn't actually make much sense.

I think that if an app wants to be able to survive fibers having unc

[2018-02-07 10:20] mihails-strasuns-sociomantic commented on #451
That is exactly what `exception_handler` is for - it allows one to inject a generic last resort catch clause for all tasks in the app. I think the main problem is that currently not many apps use it and instead just rely on default (old) semantics which is arguably a worst option.

What would be the new default? The problem we have here is that there are two entirely different classes of apps - so

[2018-02-07 12:58] mihails-strasuns-sociomantic commented on #451
Btw another problem I have noticed when fixing this (and had no idea about previously) is that you actually can't rethrow existing exception from a different call stack (for example, pass it to new function and throw from there). It will result in immediate abort.

[2018-02-07 15:01] david-eckardt-sociomantic commented on #451
What?! Not even like this:
[code]
?

[2018-02-07 16:25] ben-palmer-sociomantic opened #455 "ProcVFS.parseProcStatData allocates on every call"
The `parseProcStatData` method allocates on every call when it sets the length of the `ProcStat s` variable `cmd` here: https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/sys/stats/linux/ProcVFS.d#L728

[2018-02-07 16:48] mihails-strasuns-sociomantic commented on #451
I don't know. The code responsible for aborting apps is here https://github.com/sociomantic-tsunami/tangort/blob/32ad03f41da038b6e315931c551ddfe4cd0d26eb/src/rt/deh.d#L227 - this branch is taken when function intended to "Given EBP, find return address to caller, and caller's EBP" fails.

Maybe @don-clugston-sociomantic or @iain-buclaw-sociomantic can say if this part of tangort actually behaves a

[2018-02-09 09:42] mihails-strasuns-sociomantic commented on #340
Ping? :)

[2018-02-12 13:52] nemanja-boric-sociomantic commented on #451
That `abort()` relies on the fact that there's always going to be Pokemon catch in the `dmain` catching all exceptions. Under the assumption that we're not omitting `PUSH RBP; MOV RBP, SP` while doing the function call, I'm not sure why this would fail? (There's a catch-all in the Fibers entry point, right?) I'm also interested to see what happens in D2, since they've reworked the exception handli

[2018-02-12 13:56] nemanja-boric-sociomantic commented on #451
Interesting is that the original exception object is not used for finding the callers, but just to check if there's an correct catch block to jump to in the current frame. Maybe the method is not re-entrant? I'll try to debug it.

[2018-02-12 13:57] mihails-strasuns-sociomantic commented on #451
Not necessarily.

[2018-02-12 14:01] #451 closed, assigned to nobody

[2018-02-12 14:01] #455 closed, assigned to nobody

[2018-02-14 09:42] gavin-norman-sociomantic commented on #308
Moved into v5.0.0. Would be nice to address this by then.

[2018-02-14 09:43] gavin-norman-sociomantic commented on #308
The automatic removal of clients from the selected set upon unregistering, which is optional at present, should become the default behaviour. See https://github.com/sociomantic-tsunami/ocean/pull/458.

[2018-02-26 13:48] mihails-strasuns-sociomantic opened #461 "Deprecate usage of task as `ISuspendable`"
Currently ocean implemeted `ISuspendable` interface for tasks and uses that in some examples with suspendable throttler. It is not correct though - throttler expects to be able resume and suspend from any context and with tasks it is only legal to suspend from within a task and resume externally.

[2018-03-01 12:56] jens-mueller-sociomantic opened #466 "Allow copying arrays when destination element type supports assignment"
The current implementation of `core.array.Mutation.copy` seems not to fully work when copying arrays with assignable elements, say copying a `uint[]` to `double[]`. Even though you can assign an `uint` to a `double` the `copy` won't compile. This seems to be because internally it relies on slice assignment using `[]=` but copying should always work when you can assign to elements of the destinatio

[2018-03-01 13:21] david-eckardt-sociomantic commented on #466
`append` and `concat` are array copy operations as well so they should be assignment compatible, too.

[2018-03-01 13:26] mathias-lang-sociomantic opened #467 "SmartUnion does not work with tuple (AliasSeq)"
Adding the following code in `SmartUnion.d`
[code]

results in:
[code]

[2018-03-01 13:30] gavin-norman-sociomantic commented on #467
You want the moon on a stick.

[2018-03-02 17:16] mihails-strasuns-sociomantic opened #468 "Implement a feature to consume range-like source with a fixed size task pool"
Discussed with @scott-gibson-sociomantic recently - he had array of data with each element to be used to create some form of long-running background task. He wanted to run some small fixed amount of those (say, 5) at the same time and submit new one as soon as pool is not fully busy anymore.

Right now there is a way to await until all tasks in pool finish, but not until the first one finishes. Ev

[2018-03-05 08:27] mihails-strasuns-sociomantic commented on #461
Sadly, one can't deprecate implementing an interface - thus this will have to wait for v5 to be directly removed.

[2018-03-05 08:46] gavin-norman-sociomantic commented on #468
Interesting... This sounds really similar to the existing concept of a queue of tasks and a fixed pool of fibers on which they execute.

[2018-03-07 11:50] mihails-strasuns-sociomantic commented on #468
In some way, though a bit less efficient. I would expect such feature to always be used with dedicated worker fiber pools though.

[2018-03-07 13:18] gavin-norman-sociomantic commented on #468
What's the advantage of / reason for implementing something new, then?

[2018-03-07 15:04] mihails-strasuns-sociomantic commented on #468
"long-running background task" is the key here - current system is not well-suited for mixing together tasks of a very different lifespan (because no matter what worker fiber count you pick, it may end up being either doing no work or overloaded). This is why dedicated pools had to be introduced in the first place.

[2018-03-07 15:18] gavin-norman-sociomantic commented on #468
Right, this is what I mean. You'd have a dedicated fiber pool and queue just for this type of tasks. Does this require anything new to be implemented?

[2018-03-12 16:35] david-eckardt-sociomantic commented on #467
Nice one! But for tuple fields the getters/setters would need to accept a template index parameter, like
[code]
This should be a separate tagged union template. A generic `SmartUnion` template supporting unions with both distinct and tuple fields seems to be too complicated to be worth it.
Closing as there is one use case now that can be addressed individually. Please reopen if more use cases come

[2018-03-12 16:35] #467 closed, assigned to nobody

[2018-03-12 16:47] david-eckardt-sociomantic commented on #467
Btw. this is not the only corner case that is not handled correctly: Anonymous structs inside the union are handled like union fields, which they aren't:
[code]

[2018-03-12 18:12] mathias-lang-sociomantic commented on #467
I see, makes sense. If you want, I have an alternate implementation in a private repo (you can see the link from this issue). Maybe I should move it here...

[2018-03-14 15:48] gavin-norman-sociomantic opened #470 "Reloadable config framework"
With the current app framework, the app's config is loaded once at startup. It would be very useful to enhance this so that the config can be reloaded (suggest via a unix socket command).

Obviously, even if ocean had support for this, some amount of reworking would be required inside applications, so that they'd read config from one central location, rather than making copies of configured values

[2018-03-14 15:48] gavin-norman-sociomantic commented on #470
Related to #142.

[2018-03-16 11:25] mathias-lang-sociomantic opened #471 "Remove catch of ArrayBoundsCheckException in QueryParams"
https://github.com/sociomantic-tsunami/ocean/blob/fb5f7928e46e3d75c2a251f0dc54c901e3392f9d/src/ocean/net/util/ParamSet.d#L152-L163

[2018-03-16 14:30] david-eckardt-sociomantic commented on #471
Hm... why is this a bug? It is D2 incompatible, but I don't see what's broken.

[2018-03-16 14:36] mathias-lang-sociomantic commented on #471
It can cause different behavior between D1 and D2. From a more philosophical PoV, it also instruct the reader that `ArrayBoundsException` are expected / part of the normal flow.

[2018-03-17 12:05] wilzbach opened #472 "Spurious failures in src/ocean/task/util/Timer_test.d on dlang/ci"
[code]

https://ci.dlang.io/blue/organizations/jenkins/dlang-org%2Fphobos/detail/PR-6288/2/pipeline

If there's no obvious fix to this, we could also consider disabling the test. There's `DETERMINISTIC_HINT` set on the script and otherwise we often also simply remove the files of such spurious tests before the execution.

See also:
- https://github.com/dlang/ci/blob/master/vars/runPipeline.groovy

[2018-03-18 16:48] mihails-strasuns-sociomantic commented on #471
Anything that causes semantical mismatch between D1 and D2 build behavior is considered a bug.

[2018-03-18 16:49] mihails-strasuns-sociomantic commented on #471
We should probably deprecate all `*Exception` aliases that forward to `*Error` at this point. There is no legitimate case when using those is not a bug in stage 3/4.

[2018-03-18 16:51] mihails-strasuns-sociomantic commented on #472
@wilzbach as a very blind fix attempt, could you try switching https://github.com/dlang/ci/blob/master/vars/runPipeline.groovy#L200 to use one of later non-alpha releases, for example https://github.com/sociomantic-tsunami/ocean/releases/tag/v4.0.4 ?

[2018-03-19 09:17] mihails-strasuns-sociomantic commented on #340
This is getting pretty stalled

[2018-03-19 09:27] gavin-norman-sociomantic commented on #340
Ok yeah I can see that importing the formatter into modules in `ocean.core` is undesirable.

Also agreed about this.

I'll finalise https://github.com/sociomantic-tsunami/ocean/pull/339.

[2018-03-19 22:27] wilzbach commented on #472
I can even do one better and remove the hard-coding and always let the Project Tester use the latest, stable version: https://github.com/dlang/ci/pull/188

In case you are interested, the script is:

[code]

The error only appeared a few times over the last few weeks, so it might be hard to reproduce, but will try to keep an eye on it.

(feel free to close this if you haven't heard back in the nex

[2018-03-20 08:33] mihails-strasuns-sociomantic commented on #472
Thanks!

[2018-03-20 12:12] mihails-strasuns-sociomantic opened #475 "Deprecate aliases to `*Error`"
See https://github.com/sociomantic-tsunami/ocean/issues/471 and https://github.com/sociomantic-tsunami/ocean/pull/474

Original aliases https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/core/ExceptionDefinitions.d#L63-L68 helped to do stage 2 migration faster but now that we move towards stage 3/4 actively, all usage of these has to be eliminated.

[2018-03-27 11:46] nemanja-boric-sociomantic commented on #437
I'll reopen this ticket for the simple issue: consistency - the logrotate will, in the sane default configuration that rotates all files inside `log` directory, rotate all files and it will instruct the application to reopen the files, one by one. Passing the `version.log` to the command socket will lead to error since this file is not registered with it.

I think adding this file to the list of t

[2018-03-28 20:55] mathias-lang-sociomantic commented on #130
Looks like we missed that train in v4.x.x (other classes saw their support for different character type being removed).
Part of https://github.com/sociomantic-tsunami/ocean/issues/279 AFAIU.

[2018-04-04 13:07] #471 closed, assigned to mihails-strasuns-sociomantic

[2018-04-04 17:44] gautam-kotian-sociomantic opened #483 "The same file gets registered with ReopenableFilesExt multiple times"
If the config file contains something like:
[code]
then the file `app_data.log` gets registered multiple times with the `ReopenableFilesExt` extension.

This results in the file also being reopened multiple times after rotation.

[2018-04-04 17:48] gautam-kotian-sociomantic commented on #483
One may argue that the configuration shown in the issue description above is incorrect, but my actual case is that I have an application which reloads its configuration on receipt of a signal. This results in log files being registered with the `ReopenableFilesExt` extension each time the config is reloaded (and thus reopened as many times as the signal was received).

[2018-04-05 08:51] mihails-strasuns-sociomantic commented on #483
This was supposed to be fixed in https://github.com/sociomantic-tsunami/ocean/pull/434

[2018-04-06 15:02] nemanja-boric-sociomantic commented on #483
Which version of the Ocean are you using @gautam-kotian-sociomantic ? The fix for this was released in v3.6.4, v3.7.1 and v4.0.1.

[2018-04-09 15:38] gautam-kotian-sociomantic opened #486 "Provide a means to not use a reopen signal with ReopenableFilesExt"
Currently, `ReopenableFilesExt` always registers a signal to reopen log files (if the application doesn't pass anything explicitly, then `SIGHUP` is registered by default).

However, in my application I'm sending the command to reopen log files via a UNIX socket, and hence do not need any reopen signal.

I'm using this as a workaround for now:
[code]

[2018-04-09 16:01] gautam-kotian-sociomantic commented on #483
I'm using ocean v3.7.3.

[2018-04-09 17:28] gautam-kotian-sociomantic opened #487 "Reloading configuration causes log files to be reopened"
I have an application which reloads its `config.ini` on receiving a signal. However, reloading the configuration has the side-effect that all log files listed in the configuration get reopened. How can this be avoided?

cc @andrew-stevenson-sociomantic

[2018-04-09 18:14] gautam-kotian-sociomantic commented on #486
It seems like the code I have in the issue description above is not really a workaround, but an *official* way of preventing a reopen signal being registered. At least [this check](https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/app/DaemonApp.d#L432) suggests that is the case.

So if I set `settings.reopen_signal` to zero, no signal handler gets set up effectively disabling

[2018-04-09 18:24] gautam-kotian-sociomantic commented on #486
But I think there may still be a bug. I wasn't bitten by it because I don't explicitly create the `ReopenableFilesExt` extension. I simply rely on DaemonApp to create it, so it is [created without any arguments](https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/app/DaemonApp.d#L430) and consequently [this check](https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/oce

[2018-04-10 15:50] nemanja-boric-sociomantic commented on #483
There seems to be another regression with the #434 - it seems that if there are several loggers using the same _file name_, but different _file descriptors_ and you reopen the file, you'll just reopen the first instance of it - not all the file descriptors.

[2018-04-10 15:51] nemanja-boric-sociomantic commented on #483
So I think the #434 is invalid and should be reverted, but also this issue is kinda invalid - you should have an instance of the file registered in the `ReopenableExt` for each `Appender`.

[2018-04-10 15:52] nemanja-boric-sociomantic commented on #483
(I may not be completely right - I see the files are reused, I'll look into this tomorrow.)

[2018-04-12 10:26] nemanja-boric-sociomantic commented on #483
I can confirm #434 is not the reason why the same file is opened twice:

With ocean v3.7.0:

[code]

[2018-04-12 10:27] nemanja-boric-sociomantic commented on #483
Hm, looks like with the ocean v3.7.0 it opens `root.log` three times. With v3.7.1 it opens it two times, so #434 clearly helps a bit ;-)

[2018-04-12 10:38] nemanja-boric-sociomantic commented on #483
OK, it's the application's fault - it's creating new Appenders in the `processConfig` override.

[2018-04-12 10:52] nemanja-boric-sociomantic commented on #483
As for the original report, @gautam-kotian-sociomantic I'm not able to reproduce this. Maybe we can take a look together this afternoon?

[2018-04-12 12:48] nemanja-boric-sociomantic commented on #487
I assume we need to track the configuration for the loggers and reuse existing appenders/loggers if the configuration has not changed.

[2018-04-12 14:42] #437 closed, assigned to nobody

[2018-04-16 14:27] mathias-lang-sociomantic opened #491 "Duplicate definition of VersionHandlingException"
Only in v4.x.x:
https://github.com/sociomantic-tsunami/ocean/blob/v4.0.5/src/ocean/util/serialize/model/VersionDecoratorMixins.d?utf8=%E2%9C%93#L423
https://github.com/sociomantic-tsunami/ocean/blame/v4.0.5/src/ocean/util/serialize/contiguous/MultiVersionDecorator.d#L347

Introduced by https://github.com/sociomantic-tsunami/ocean/commit/5e712a8f45ce2f682d434d6d6343fac2a181580d

I think it should b

[2018-04-16 14:38] mathias-lang-sociomantic opened #492 "[D2] Exact type comparison of delegate for StructContext is a Bad Idea"
Got the following error:

[code]

Added a bit of debugging:
[code]

And:
[code]

This happens because the struct is templated (to be precise, it's nested within a template).
Introduced by https://github.com/sociomantic-tsunami/ocean/commit/5c0c6eb740d31ed453bfaaa1abdd165f8df44d5e because `hasMethod` did the following:
https://github.com/sociomantic-tsunami/ocean/blob/c704d282612decfe485c7fd69c1f4b

[2018-04-16 14:38] mathias-lang-sociomantic commented on #492
CC @mihails-strasuns-sociomantic

[2018-04-16 15:49] mihails-strasuns-sociomantic commented on #492
Regression in v4, right?

[2018-04-16 15:57] mihails-strasuns-sociomantic commented on #491
I'd rather simply deprecate `VersionDecoratorMixins` - I simply forgot to remove it as part of v4.0.0, it is not used anywhere.

[2018-04-16 16:57] mathias-lang-sociomantic commented on #492
Genau

[2018-04-18 08:54] mihails-strasuns-sociomantic commented on #334
Scheduled to be addressed as part of https://github.com/sociomantic-tsunami/ocean/issues/308

[2018-04-18 09:02] mihails-strasuns-sociomantic commented on #491
Actually already done in v4.x.x - 562f5a17ea7b3e0519ec5c8747b1f5bf5a7c81aa

[2018-04-18 09:03] mihails-strasuns-sociomantic commented on #491
Duplicate of https://github.com/sociomantic-tsunami/ocean/pull/469

[2018-04-18 09:03] #491 closed, assigned to nobody

[2018-04-19 16:46] #475 closed, assigned to nobody

[2018-04-20 10:00] #354 closed, assigned to nobody

[2018-04-20 10:32] mihails-strasuns-sociomantic commented on #486
Fixed in https://github.com/sociomantic-tsunami/ocean/pull/488

[2018-04-20 10:32] #486 closed, assigned to nobody

[2018-04-23 16:58] joseph-wakeling-sociomantic opened #496 "D2 ocean fails to build if ldmd2 is used as the compiler"
Current D2 ocean builds with recent dmd releases (e.g. 2.078.x, 2.079.x).  However, if `ldmd2` (the DMD-alike LDC frontend) is used, then unittests fail with the following message:

[code]

The line in question is an `asm` block, which suggests that ocean's `asm` sections will need adaptation or re-implementation if they are to be supported by LDC.

This is a real shame, as we have some use-cases

[2018-04-23 18:10] mihails-strasuns-sociomantic commented on #496
Ocean has never supported neither LDC nor GDC. It is only planned for somewhat long-distance future.

[2018-04-23 18:10] #496 closed, assigned to nobody

[2018-04-27 15:50] mihails-strasuns-sociomantic opened #498 "Investigate suspicious behavior of specialized task pools"
Test case by @daniel-zullo-sociomantic :

[code]

[2018-04-27 16:03] daniel-zullo-sociomantic commented on #498
The `SubTaskC` is never run. Notice that same behaviour happens with or without specialized pools.
Also if the `SubTaskC` is not scheduled then the test runs smoothly

[2018-04-27 16:20] mihails-strasuns-sociomantic commented on #498
Problem manifests because specialized pools are not in fact used - https://github.com/sociomantic-tsunami/ocean/blob/acc8bb3a7de29911568ff374f3b4ae81e8c1436f/src/ocean/task/Scheduler.d#L411-L413

Because `await` calls explicitly `queue` and not `schedule`, none of registered specialized pools are considered.

I have to think a bit about best way to fix this.

[2018-04-27 16:48] daniel-zullo-sociomantic commented on #498
BTW there is a silly copy/pasta error calling the `copyArguments()` for `SubTaskC` in the test case. It should be:
[code]

[2018-05-03 09:51] joseph-wakeling-sociomantic opened #499 "Compare and review new photon fiber scheduler/eventloop framework to ocean.task"
Dmitry Olshansky has been working on a new fiber scheduler/eventloop framework for D2:
https://github.com/DmitryOlshansky/photon

This looks like it has a lot of shared concerns with our own `ocean.task` framework.  Given that photon looks like it's aiming to become a standard part of D's runtime, we should probably review it carefully to see whether it works for our use-case(s) and (if needed) en

[2018-05-03 16:26] nemanja-boric-sociomantic opened #500 "Provide method that runs before the Scheduler's event loop in TaskExt"
At the moment, `DaemonApp` will start event handling and then it will schedule the `run` task
and start the scheduler:

https://github.com/sociomantic-tsunami/ocean/blob/b200e555190591538c44ca789c5dc26fc2540928/src/ocean/util/app/DaemonApp.d#L542-L545

https://github.com/sociomantic-tsunami/ocean/blob/b200e555190591538c44ca789c5dc26fc2540928/src/ocean/util/app/ext/TaskExt.d#L129

The problem with

[2018-05-03 16:32] joseph-wakeling-sociomantic commented on #500
What I would suggest/request is that the method concerned should be possible to use with all resources that one would have prior to `this.startEventHandling` and `theScheduler.eventLoop` being called.  So e.g. one should be able to use `theScheduler.epoll` (to instantiate swarm clients), etc. etc.

[2018-05-03 16:35] joseph-wakeling-sociomantic commented on #500
HOWEVER, I wonder if it might be worth just rolling back the change to introduce :00 and :30 stats timing.  The reason is simply that the "guarantee" it provides is not very strong: writing and/or calculating stats can take time, and it is entirely possible that this will mess up the "promise" of the fixed stats times.

[2018-05-03 16:37] nemanja-boric-sociomantic commented on #500
That's not a robust solution because the stats timer is not the only event that you start in `startEventHandling`: also the signal extension and the unix domain socket extension are started and getting any signal or connecting any client (it could easily be the monitor application) will invoke the callbacks leading to the same problem.

[2018-05-03 16:38] joseph-wakeling-sociomantic commented on #500
Yes, fair enough.  And even if one did roll back the changes to `onStatsTimer` scheduling, it would be good to have the guarantee of things being instantiated before event scheduling starts.

[2018-05-03 17:26] nemanja-boric-sociomantic commented on #500
@mihails-strasuns-sociomantic raises a note that `run` is not the only appropriate place to initialize the application's components - the `processArgs` and `processConfig` are also appropriate and used. Under that assumption this ticket is actually invalid.

[2018-05-04 08:08] joseph-wakeling-sociomantic commented on #500
Yes, I'd be happy to pursue this direction (I think I even suggested it myself in our discussion), but with one caveat: can we rely on `theScheduler` (more specifically, `theScheduler.epoll`) being initialized by the time that `process{Args,Config}` are called?

[2018-05-04 08:33] joseph-wakeling-sociomantic commented on #500
Question: are there going to be any issues (moving forward) with swarm clients (`DhtClient`, `DmqClient`, `DlsClient`) being instantiated in `processConfig` instead of inside a task context?

[2018-05-04 08:46] joseph-wakeling-sociomantic commented on #500
I've tried this out.  The answer is no :-(

[2018-05-04 10:30] mihails-strasuns-sociomantic commented on #500
See linked bug fix PR.

[2018-05-08 08:28] bogdan-szabo-sociomantic opened #503 "testThrown does not compile with AssertError"
[code]

maybe this should be the solution:
[code]

[2018-05-08 11:25] mihails-strasuns-sociomantic commented on #503
(see linked PR for closing explanation)

[2018-05-08 11:25] #503 closed, assigned to nobody

[2018-05-14 15:47] andrej-mitrovic-sociomantic opened #507 "enforce() takes an istring, but could take a cstring instead"
If you call enforce with `enforce(condition, "literal" ~ some_string)`, this will error in D2 because the concatenation creates a mutable string which can't be passed to `enforce` because it takes an `istring`.

Can we use `cstring` instead?

[2018-05-15 10:58] nemanja-boric-sociomantic commented on #507
IIRC, the reason for taking `istring` is that the `Exception`'s constructor is taking an `istring`, so we would have to `idup` it in the `enforce` which is tricky to track.

[2018-05-15 10:59] nemanja-boric-sociomantic commented on #507
https://github.com/dlang/druntime/blob/master/src/object.d#L1889

[2018-05-15 11:43] andrej-mitrovic-sociomantic commented on #507
I see. It looks like that's exactly what `enforce` in Phobos does, it duplicates the string. Sad!

[2018-05-15 11:50] nemanja-boric-sociomantic commented on #507
I'm going to close this as wont-fix, please let me know if you think it should be reopened.

[2018-05-15 11:50] #507 closed, assigned to mihails-strasuns-sociomantic

[2018-05-15 11:53] nemanja-boric-sociomantic commented on #492
Fixed in #493

[2018-05-15 11:53] #492 closed, assigned to nobody

[2018-05-15 13:26] david-eckardt-sociomantic commented on #507
A solution could be to use a template for the type of `msg` and `idup` unless it is `immutable`:
[code]
`Msg` would propagate to `enforce`, too. (I'm not sure if there might be a conflict with the `msg = ""` default argument value).

[2018-05-15 13:35] mihails-strasuns-sociomantic commented on #507
@david-eckardt-sociomantic I have intentionally reasoned against it to ensure all `.dup` calls happen in application code where it is easier to decide if such allocation is acceptable (and prevent hidden performance issues)

[2018-05-15 13:35] david-eckardt-sociomantic commented on #507
Fair enough.

[2018-05-16 08:26] joseph-wakeling-sociomantic opened #510 "Version info is no longer printed to root.log on DaemonApp startup"
Historically, application version info has always been printed to the root log (as well as the version log) on application startup, meaning that one always has a clear indication in the root log of when an application has freshly started.

As of the release of ocean v3.8.0/v4.1.0, this no longer happens.  `git bisect` reveals that it's down to commit https://github.com/sociomantic-tsunami/ocean/co

[2018-05-16 08:29] joseph-wakeling-sociomantic commented on #510
BTW for reference, here's the minimal app I used to track this down:

[code]

[code]

and needed `.gitmodules` file:

[code]

[2018-05-16 11:35] nemanja-boric-sociomantic opened #511 "AppendFile uses the file instance to register itself, while other appenders use ClassInfo"
`AppendFile` is special in a way that the registering is done by the name, and not by the
classinfo: https://github.com/sociomantic-tsunami/ocean/blob/d7e97a4c55a56cb0fc330a663754c7983deb4e7c/src/ocean/util/log/AppendFile.d#L53

Other appenders use `classinfo` to register themselves:

https://github.com/sociomantic-tsunami/ocean/blob/d7e97a4c55a56cb0fc330a663754c7983deb4e7c/src/ocean/util/log/Appe

[2018-05-16 13:58] nemanja-boric-sociomantic commented on #510
Fixed in #512.

[2018-05-16 13:58] #510 closed, assigned to nobody

[2018-05-17 09:26] gavin-norman-sociomantic opened #513 "Log when a fiber exits with an exception?"
This is a common source of hard to track down bugs. A simple error log would be really helpful.

Thoughts?

[2018-05-17 09:29] nemanja-boric-sociomantic commented on #513
The stack trace is already ruined in case of the `MessageFiber`, as we rethrow the exception that killed the fiber:

https://github.com/sociomantic-tsunami/ocean/blob/c3d2a59dbb09a1743249b33f3c7e55cdc0008977/src/ocean/core/MessageFiber.d#L669

I see no problem adding a log event at the `MessageFiber` level.

[2018-05-17 09:44] david-eckardt-sociomantic commented on #513
It should be logged inside the fiber just before it terminates. At this point the stack trace should still be valid, it becomes invalid after the context switch when the fiber has terminated.

[2018-05-17 09:45] david-eckardt-sociomantic commented on #513
... as you said :)

[2018-05-18 09:39] nemanja-boric-sociomantic opened #514 "unixlistener integrationtest fails on the dlang jenkins"
[code]

Got broken when merging v3.x.x. in v4.x.x in the release process. We didn't see it because of the D-APT failure.

[2018-05-18 10:04] nemanja-boric-sociomantic commented on #514
(the entire v4.x.x is broken, but Travis didn't work yesterday).

[2018-05-24 10:03] gautam-kotian-sociomantic opened #517 "Rename `version.log` to `version.txt`"
`version.log` is different from other application logs, as it is only written to a single time when an application starts, and is then immediately closed. For this reason, an application doesn't need to reopen it after a log rotation. Moreover, to be GDPR compliant, applications generally use a logrotate configuration of the form `perform rotations weekly + keep about 10 previously rotated log fil

[2018-05-24 10:05] nemanja-boric-sociomantic commented on #517
I'm curious why `copytruncate` is needed for this (it will work just fine even without it - just rename and touch new file is fine, just don't do anything in the `postrotate`, AFAICS)?

[2018-05-24 10:09] gautam-kotian-sociomantic commented on #517
Right. Even that wouldn't be needed.

If we go ahead with this, I foresee logrotate configurations of applications to be of the form:
[code]

[2018-05-24 10:10] nemanja-boric-sociomantic commented on #517
I'm curious to hear what @leandro-lucarella-sociomantic says about it. I feel a bit uneasy when it comes to naming log files `*.txt`, but maybe it's worth it, especially because it already ends up in the log directory.

[2018-05-24 10:26] gavin-norman-sociomantic commented on #517
Right. Feels like a hack to me.

Maybe we should address the question: what is the need for keeping version logs beyond 60 days?

[2018-05-24 10:27] leandro-lucarella-sociomantic commented on #517
I still fail a bit to see why is it problematic to keep `version.log` as it is, just for consistency (and avoid special casing in configs, specially rolling out new configs for logrotate is painful). Did you ever needed to check which version was ran more then 2-3 months ago?

I ACK that the version.log is a very clumsy mechanism for what we need, but hacking it to be even more obscure doesn't see

[2018-05-24 10:29] nemanja-boric-sociomantic commented on #517
I can see the issue where the application has uptime of more than 60 days. Then you pretty much loose all the history of the past versions (if ever needed). In the past we had larger issue where you also loosed the information about the current version (if the binary was replaced in the meantime), that's why I added support to query the version log from the running application via unix socket: #47

[2018-05-24 14:39] andrej-mitrovic-sociomantic opened #518 "Implement getGroupName"
If say for example you had a convention where you stored all your temporary files to `/srv/organization/team-name/tmp` where each team has their own temporary directory, then it would be useful for an application to be able to get the group name so it can automatically write to the appropriate temporary directory.

For example:

[code]

It would be nice to have a solution that works in D1, maybe t

[2018-05-24 14:46] nemanja-boric-sociomantic commented on #518
You could just combine http://man7.org/linux/man-pages/man2/getgid.2.html and https://linux.die.net/man/3/getgrgid

[2018-05-24 14:50] nemanja-boric-sociomantic commented on #518
Or did I misunderstood. You want to get list of all the groups that user belongs to (I got distracted by the singular in the `getGroupName`)?

[2018-05-24 14:51] nemanja-boric-sociomantic commented on #518
(there's also `getgroups` with the easier to use API).

[2018-05-24 14:56] andrej-mitrovic-sociomantic commented on #518
Hi Nemanja Boric Sociomantic.

I just want my app to write to a temporary directory. But using `/tmp` is disallowed because of reasons.

Have a great day!

[2018-05-24 15:08] nemanja-boric-sociomantic commented on #518
Hello Andrej Mitrovic Sociomantic.

So for this to work out, you need the list of all the groups that user is in and then you'll
try to "guess" the temporary directory? I just want to understand what this ticket is about - it's
about querying the list of the groups the user belongs to, right?

Yours truly,
Nemanja

[2018-05-24 15:12] nemanja-boric-sociomantic commented on #518
Or is it just getting the name of the current effective group? (your example just uses the first group).

[2018-05-24 15:48] andrej-mitrovic-sociomantic commented on #518
Resolved IRL.

[2018-05-24 15:48] #518 closed, assigned to nobody

[2018-05-25 15:43] joseph-wakeling-sociomantic commented on #517
I don't think this is a correct solution.  It's a workaround, it doesn't solve the problem.

The correct thing to do is to have logrotate config which appropriately special-cases `version.log` as the app maintainer needs.

Question: won't it work to do something like:

[code]

... as the later rule will just override the one part of the more general rules defined above?  Note, the above just switc

[2018-05-25 15:45] nemanja-boric-sociomantic commented on #517
Don't take my word for it, but:

https://superuser.com/questions/913579/logrotate-how-to-configure-and-override-defaults

So, no, that doesn't work.

[2018-05-25 15:48] joseph-wakeling-sociomantic commented on #517
Damn, that's annoying :-(  I can confirm having tried it out that it doesn't work.

[2018-05-25 16:09] nemanja-boric-sociomantic commented on #514
Fixed.

[2018-05-25 16:09] #514 closed, assigned to nemanja-boric-sociomantic

[2018-05-29 07:50] gavin-norman-sociomantic opened #519 "Create simplified app framework"
The [current framework](https://github.com/sociomantic-tsunami/ocean/tree/v3.x.x/src/ocean/util/app), while flexible and extensible, has turned out to be massively overwrought for our needs. Adding new features invariably involves delving into the extensions logic, which is far from simple.

The framework was initially designed to be able to support many different types of application, each formed

[2018-05-31 10:21] nemanja-boric-sociomantic opened #523 "Decouple boiler-plate in UnixSocketExt away from the application extension"
`UnixSocketExt` contains a lot of helpful methods/nice interface to deal with the unix control socket. However, this is all tightly coupled with the application's extension system (for example, you can't delay creation of this helper, nor you can have more of them.

We should move all this useful code into a reusable place so the user can create listeners on demand and the `UnixSocketExt` should j

[2018-06-04 15:42] nemanja-boric-sociomantic opened #526 "Difference in StringStructSerializer's D1 and D2 output"
[code]

D1 build:

[code]

D2 build:

[code]

So, not just that some casts are shown, but `const` fields are included in D2 but not in D1's output.

[2018-06-04 15:50] nemanja-boric-sociomantic commented on #526
The `cast(ubyte)` difference comes from `S.stringof` expression here: https://github.com/sociomantic-tsunami/ocean/blob/8259558393a69fab5c504f0660a536d66dc5fe2d/src/ocean/io/serialize/StructSerializer.d#L281

[code]

D1:

[code]

D2:

[code]

[2018-06-04 15:58] nemanja-boric-sociomantic commented on #526
The second difference comes from `tupleof`:

[code]

D1:

[code]

(nothing)

D2:

[code]

[2018-06-04 16:32] stefan-koch-sociomantic commented on #526
This is because D1 does not have const as type-qualifier.
the way forward is to strip consts transitively before taking the stringof of the type.
however is a little unpleasant.

[2018-06-04 16:34] nemanja-boric-sociomantic commented on #526
For the first case - there's no const involved. For the second case we need to strip out the entire `const` field, not just `const`, which is also unfortunate (or fortunate, depends what do you think the "truth" is).

[2018-06-04 18:49] mihails-strasuns-sociomantic commented on #526
First case is known and we couldn't find any reliable solution other than switching versioned structs to use `int` (fortunately it doesn't affect runtime).

Second problem should not exist because such `const` is converted by `d1to2fix` to `static immutable` and static fields are not part of `.tupleof`.

[2018-06-04 18:50] #526 closed, assigned to nobody

[2018-06-06 10:50] leandro-lucarella-sociomantic commented on #526
I hope this is very harmless if we are closing as **wontfix**.

[2018-06-08 10:04] mihails-strasuns-sociomantic commented on #526
@leandro-lucarella-sociomantic it can be dangerous if someone relies on `stringof` output for something other than user-friendly text representation but sad truth is we can't really do anything reasonable about it. Output of `.stringof` is undefined by spec and may change arbitrarily between releases, we can't even blame upstream here :)