[2018-06-08 15:55] nemanja-boric-sociomantic opened #528 "`startEventHandling` requires epoll instance, it's not optional as it says"
[code]

The error message is wrong, because the user _must_ pass epoll to `startEventHandling` (because of the first verify).

[2018-06-08 15:59] nemanja-boric-sociomantic commented on #528
What actually confused me here, is that it's not possible to pass the epoll to the constructor - there's no such constructor overload. I think the point of confusion here is `TaskExt` which calls `startEventHandling` automatically, so the error message needs to be changed to:

[code]

or similar.

EDIT: Ah, I think the usual way was to actually initialize the field inside constructor:

[code]

[2018-06-11 10:55] gavin-norman-sociomantic opened #529 "Relax restrictions on stat hierarchies in StatsLog (and remove collectd writer support)"
[As mentioned in its documentation](https://github.com/sociomantic-tsunami/ocean/blob/cfd360d8219621915f8a635f299d950e7d4258c0/src/ocean/util/log/Stats.d#L21-L23), `StatsLog` is designed to be able to write stats directly to collectd, via a socket. As far as I know, no application has actually used this facility. Questions:
* Is there still any plan to write stats to the collectd socket?
* If not,

[2018-06-11 10:58] gavin-norman-sociomantic commented on #529
@federico-cuello-sociomantic you might have some comments on the above, from the infrastructure point of view. (I also wanted to tag Mateusz, but can't for some reason.)

[2018-06-11 11:07] leandro-lucarella-sociomantic commented on #529
The idea of using collectd socket directly was dropped: https://github.com/sociomantic/backend/issues/196

[2018-06-11 11:32] nemanja-boric-sociomantic commented on #529
Actually, we had single application using this facility (by @ben-palmer-sociomantic ), but the flexibility wrt `types.db` made it not very flexible. Btw, @ben-palmer-sociomantic 's reason for trying this out is the blocking write in case of disk access - something I'll hopefully solve this week via writing in the separate thread (stay tuned :tm:).

[2018-06-11 13:20] federico-cuello-sociomantic commented on #529
also solved using syslog() :-)

[2018-06-11 13:33] gavin-norman-sociomantic commented on #529
So would you propose writing application stats to syslog as well?

[2018-06-11 13:42] nemanja-boric-sociomantic commented on #529
Yeah, this is about stats, not general log messages. Is `syslog` suitable for the former issue @federico-cuello-sociomantic ?

[2018-06-11 13:59] federico-cuello-sociomantic commented on #529
Yes, I did that already the last time we discussed this. :) (NO NOSE @nemanja-boric-sociomantic I'm watching you)

[2018-06-11 14:08] gavin-norman-sociomantic commented on #529
Ok cool, here isn't really the place to discuss is, but if you have a plan for that, great. So it sounds like the "Consider" in the title of this issue should be removed.

[2018-06-12 11:44] nemanja-boric-sociomantic opened #530 "Implement syslog protocol to talk with `/dev/log`"
syslog daemons expose UNIX UDP socket where the application can log the messages in `syslog` format (https://tools.ietf.org/html/rfc5424, and now obsolete https://tools.ietf.org/html/rfc3164).

We should have a module that will implement this protocol and provide at least ring-size buffering (with message on dropped loglines) and flow-control (via `select`-able interface of the unix socket).

We a

[2018-06-13 14:06] joseph-wakeling-sociomantic opened #532 "Support TaskExt in CliApp"
Currently `CliApp` does not support `TaskExt` as an option, which means that it is not possible to have `CliApp.run` run in a task context, and that the onus is still on the developer to set up task scheduling and eventloops.  It would be nice to support this use-case more straightforwardly.

A small spanner in the works is how to manage the scheduler setup, given that `CliApp` does not read confi

[2018-06-13 14:15] mihails-strasuns-sociomantic commented on #532
https://github.com/sociomantic-tsunami/ocean/pull/533

[2018-06-14 19:08] mihails-strasuns-sociomantic commented on #340
Moving to 5.0.0 as I feel that planned change to module layout will be quite annoying to adjust to.

[2018-06-18 15:14] #532 closed, assigned to mihails-strasuns-sociomantic

[2018-06-20 12:58] ben-palmer-sociomantic opened #539 "Enhance expiring cache with per-record lifetime"
The current expiring cache implementation has a lifetime value that is set in the constructor (https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/container/cache/ExpiringCache.d#L84) making it impossible to store different records for different lifetimes in the same cache. To do this currently would require multiple caches which complicates application logic.

It would be nice

[2018-06-20 13:07] gavin-norman-sociomantic commented on #539
We can investigate this for v3.10.0.

[2018-06-26 11:29] gkotian opened #542 "DaemonApp's usage example shouldn't register SIGTERM"
DaemonApp [always registers SIGTERM](https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/app/DaemonApp.d#L390-L391) in the list of handled signals, but the usage example [seems to suggest](https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/app/DaemonApp.d#L843) that the application needs to register it explicitly.

[2018-06-26 11:35] nemanja-boric-sociomantic commented on #542
I'm not sure this is the right approach. User's implementation of the `DaemonApp` does specify handled signals and `onSignal` and IMHO, they should match each other. Even if the `SIGTERM` is in the list implicitly, it is not explicitly, if you choose to override `onSignal` without explicitly calling `super.onSignal`.

Other issue would be if you switch the orders of the `signal` and `super`, you'r

[2018-06-26 11:41] mihails-strasuns-sociomantic commented on #542
I think it was a mistake on my side to define https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/app/DaemonApp.d#L390-L391 like this.

It should be  `if (settings.signals.length == 0) settings.signals = [ SIGTERM ];` instead.

[2018-06-26 11:42] mihails-strasuns-sociomantic commented on #542
So the documentation is really correct here - one is supposed to define all signals manually if non-default handling is needed. And default sigterm handler is here for those apps who don't have any configuration of their own.

[2018-06-26 14:50] gkotian commented on #542
Alright then. I'll close this issue under the assumption that you guys will take care of updating DaemonApp's constructor in an upcoming release.

I'd also like to take this opportunity to thank you guys for your work on ocean. I work on several applications that use this stellar library. Good job!

[2018-06-26 14:50] #542 closed, assigned to nobody

[2018-06-28 12:47] gavin-norman-sociomantic commented on #519
Suggested approach:
1. Create a new `DaemonApp` class. Not derived from anything. One abstract method `int mainAppLogic`.
2. For each extension used by the old daemon app:
  a. Extract the core functionality (into a separate struct / class / free functions -- as appropriate).
  b. Adapt the extension to use the new, extracted code, internally.
3. Add the extension's functionality to the new daemon

[2018-07-06 09:21] nemanja-boric-sociomantic opened #545 "Provide convinience method for usages of the log in simple scripts"
Currently, to make the logger which will write inside the console for a simple application scripts, one needs to figure out how to configure loggers:

[code]

We could/should provide a convenience method to grab a simple logger preconfigured to write to the console.

[2018-07-06 10:28] gavin-norman-sociomantic commented on #545
How often is this required, though? We already have `Stdout`.

[2018-07-06 10:30] nemanja-boric-sociomantic commented on #545
`Stdout` is not a true replacement for logging, though (what I find useful in one-script utilities is logging levels). I agree it's not critical, nor very important, but I think logging framework should support this use case easily.

[2018-07-06 11:00] mihails-strasuns-sociomantic commented on #545
I think what you really want is https://github.com/sociomantic/ocean/issues/969

[2018-07-06 12:28] nemanja-boric-sociomantic commented on #545
Yeah, I am ready to settle with anything that makes me not create layout, appender and configure the logger manually. Just imports alone are huge complexity for this.

[2018-07-06 12:42] nemanja-boric-sociomantic commented on #545
The copy of the proposal in the issue:

To be able to use the logging subsystem ALWAYS for any debug output in libraries and programs, we should have an easy way to enable different loggers to output to the console. An easy way to do this, would be to add a `--debug=<logger>` flag to the `ocean.util.app.ext.LogExt` to enable a logger (probably at Trace level) to output to the console.

We can even

[2018-07-09 01:33] Geod24 commented on #545
Not tested, but I'd expect this to do what you want:

[code]

[2018-07-10 13:33] gavin-norman-sociomantic commented on #529
As it seems there's a plan for parsing stats from syslog, I've updated the title of this issue to something more definitive and placed it in the next ocean milestone.

@federico-cuello-sociomantic, Mateusz: need there be _any_ restrictions on depth of stats hierarchy, from your perspective? We currently have a limit of 3 levels of hierarchy (`<category>/<instance>/<member name>:<member value>.`, s

[2018-07-10 13:39] gavin-norman-sociomantic commented on #523
Done in v4.x.x. https://github.com/sociomantic-tsunami/ocean/pull/534

[2018-07-10 13:39] #523 closed, assigned to nemanja-boric-sociomantic

[2018-07-12 14:28] nemanja-boric-sociomantic commented on #530
I've started looking into this and I have some doubts on how to compose this with ocean is a good way. It seems to me that this should work as syslog-writing task (I think we should actually go with `FiberSelectWriter` + `epoll` approach, since that would compose with both the apps that do and do not use `Tasks`) which would write to `/dev/log` and which will be shared by all instances of the `App

[2018-07-16 10:48] mathias-baumann-sociomantic commented on #530
Well, if an app is running without epoll / aka `Task.getThis() is null` they simply have to accept that some things are blocking, I wouldn't worry about that part.

About the growing: Eventually we will have to drop, no matter what, but we can delay that for as long as possible using maybe compressing caches (log data should compress pretty well) and when we finally start dropping things we should

[2018-07-16 15:42] leandro-lucarella-sociomantic commented on #530
Folding repeated lines should be done automatically by syslog IIRC. @federico-cuello-sociomantic might know more.

[2018-07-16 15:56] mathias-baumann-sociomantic commented on #530
That wouldn't help in this case though. The scenario is when we can't write out the logs fast enough to syslog

[2018-07-17 10:54] gavin-norman-sociomantic opened #551 "Multi-record serializer / decorator?"
I've been looking into https://github.com/sociomantic-tsunami/ocean/blob/v3.x.x/src/ocean/util/container/map/utils/MapSerializer.d a bit, recently (while working on https://github.com/sociomantic-tsunami/dhtproto/pull/162).

One quirk of `MapSerializer` is that (as far as I understand) it doesn't serialize each record using the normal struct serializer to load structs. (It implements its own struc

[2018-07-17 11:43] mihails-strasuns-sociomantic commented on #551
It would be trivial to do with https://github.com/sociomantic/ocean/issues/931 :)

[2018-07-17 11:46] mathias-baumann-sociomantic commented on #551
Now that you mention it.. if I remember correctly the main motivation for the map serializer was that it auto-converts different struct versions somehow and that was a feature we didn't otherwise have before.

The "one struct version only" thing was just an added bonus due to my sometimes unreasonable urge to optimize. I suppose it wasn't much more work at the time.

[2018-07-17 11:47] mihails-strasuns-sociomantic commented on #551
With the feature request of this PR - basically it comes to fundamental mistake that current versioned decorator is context-sensitive - its presence and/or meaning is exclusively defined by a DHT channel, and can't be changed without major deployment disruption. So we can only do it by adding new serializer kinds and there is no way for apps to adjust automatically.

[2018-07-17 11:50] mathias-baumann-sociomantic commented on #551
there is also another feature you didn't mention: struct hashes. The map serializer not only saves the version but also a hash of the struct layout. If you would change the struct but not the version you would get a hash checksum error.

[2018-07-17 12:35] gavin-norman-sociomantic commented on #551
Right, that's what I thought.

Ok, good to know there's not some subtle reason why this is vital. Given that, this feature suggested in this issue may not be necessary at all.

Right. This seems more like a job for a unittest (i.e. confirm that a struct with a certain version has a certain hash), rather than a runtime check upon every deserialization.

Can you rephrase that? I don't really underst

[2018-07-17 13:22] mihails-strasuns-sociomantic commented on #551
We have already working serializer & version decorator that make most of needed work. However, those are extremely specific:

- First byte must be a version. Passing in unversioned data is undefined behavior and has to be handled differently in code.
- After the version there must be a single serialized struct. You can't have multiple structs. You can't have gzip-compressed struct. You can't have

[2018-07-17 13:24] gavin-norman-sociomantic commented on #551
This is the idea. My suggestion was only based on a feature of the old `MapSerializer`. It's not intended to be used on data stored in the DHT.

[2018-07-17 13:25] gavin-norman-sociomantic commented on #551
Anyway, it sounds like it's not really important to implement this (see https://github.com/sociomantic-tsunami/ocean/issues/551#issuecomment-405566463). Was just an idea.

[2018-07-17 14:17] #528 closed, assigned to nemanja-boric-sociomantic

[2018-07-17 15:08] gavin-norman-sociomantic commented on #551
Closing. Seems like it's not important.

[2018-07-17 15:08] #551 closed, assigned to nobody

[2018-07-17 15:48] gavin-norman-sociomantic commented on #519
Another idea would be to create `ServerDaemon` and `StreamProcessorDaemon`!

[2018-07-17 17:14] mihails-strasuns-sociomantic commented on #519
Btw while we are at it, I would love to see a dedicated `ocean.application` top-level package for new stuff and, in general, moving more of big functionality clusters top-level. That makes them more discover-able and easier to split into smaller sub-libraries if we ever want to.

Just a suggestion :)

[2018-07-18 07:16] gavin-norman-sociomantic commented on #519
Sounds like a good move. I agree that we have too much stuff crammed inside `ocean.util` :D

[2018-07-19 09:18] mihails-strasuns opened #553 "[Feature Request] Support multiple task types with a single stream processor"
by @scott-gibson-sociomantic :

It is reasonable that applications would need to perform multiple tasks for a single input stream. Currently StreamProcessor only supports one type.

Eg.

[code]

[2018-07-19 09:26] mihails-strasuns opened #554 "Implement cache with support for non-atomic get/update operations"
by @gavin-norman-sociomantic :

In the meantime, fiber B also requests record X from the cache. Record X is now in an intermediate state, while fiber A is refreshing its value.

[2018-07-19 10:38] mihails-strasuns-sociomantic opened #555 "Make app documentation more clear about application responsibilities for clean shutdown"
Currently DaemonApp provides default SIGTERM handler which simply shuts down the scheduler. This results in "clean" termination from the PoV of destructors being run but may result in app losing some intermediate state. Documentation must be clear about it and suggest implementing custom signal handler if there is any state to lose.

[2018-07-24 10:38] leandro-lucarella-sociomantic opened #556 "Add an option to AppStatus to not query GC stats"
Since GC stats query is horribly slow in D2, there should be a way to disable it in `AppStatus` to avoid huge performance hit in applications using it.

[2018-07-24 14:22] nemanja-boric-sociomantic commented on #556
Done in #557

[2018-07-24 14:22] #556 closed, assigned to nemanja-boric-sociomantic

[2018-07-24 14:32] leandro-lucarella-sociomantic commented on #556
:heart:

[2018-07-26 12:54] gavin-norman-sociomantic opened #559 "Adapt `QueryParamSet.opApply` to not include `remaining_elements`"
`opIn_r` doesn't report these extra values as being present, but `opApply` iterates over them. This is a pretty inconsistent API.

See discussion at https://github.com/sociomantic-tsunami/ocean/pull/558/files#r205364031.

[2018-07-26 13:41] mihails-strasuns opened #560 "Deprecated `ocean.stdc` package"
We should aim for important C bindings to be available either via upstream druntime or as a separate binding library. There are very few modules remaining in `ocean.stdc` already and we should aim to kill it completely when it becomes feasible.

[2018-07-26 13:44] mihails-strasuns opened #561 "Allow looking up immutable values through const keys in Map"
[code]

`Error: function ocean.util.container.map.Map.Map!(string, string).Map.opIn_r (string key) is not callable using argument types (const(char)[])`

[2018-07-26 13:48] mihails-strasuns opened #562 "Handle EPIPE in CliApp"
@nemanja-boric-sociomantic :

[2018-07-26 13:52] mihails-strasuns opened #563 "Look into simplifying TimeoutManager"
@gavin-norman-sociomantic :

[2018-07-26 13:53] mihails-strasuns opened #564 "Consider dropping select client butler service"
@david-eckardt-sociomantic :

[2018-07-26 13:54] gavin-norman-sociomantic commented on #563
True dat.

[2018-07-26 13:55] gavin-norman-sociomantic commented on #564
Ooh yeah, this is a good one!

[2018-07-26 14:01] mihails-strasuns opened #565 "JsonExtractor parser allows for missing commas between strings"
.

[2018-07-26 14:06] mihails-strasuns opened #566 "Log NaN values as U in StatsLog"
@christoph-wasicki-sociomantic :

[2018-07-26 14:08] mihails-strasuns opened #567 "Add --progress option to unittest runner to play nice with CI"
@leandro-lucarella-sociomantic :

[2018-07-26 14:08] mihails-strasuns commented on #567
Note: this is already implemented in turtle for its own test runner.

[2018-07-26 14:09] mihails-strasuns opened #568 "Implement systemd-aware logger Appender"
@nemanja-boric-sociomantic :

[code]

[2018-07-26 14:12] mihails-strasuns opened #569 "ArgumentsExt should throw exception on error"
@nemanja-boric-sociomantic :

[2018-07-26 14:19] mihails-strasuns opened #570 "Provide more information on `ocean.core.Test` comparison failure for strings"
Suggested addition is to print offset at which first difference can be found.

[2018-07-26 14:28] mihails-strasuns opened #571 "Introduce a MemoryDevice which preserves data across instances and acts as a file"
@andrej-mitrovic-sociomantic :

The docs for MemoryDevice state:

[code]

However this is pretty much a lie. A file has a specific API. For example, opening a file in write mode will clear its contents. And a file has an associated path.

I suggest adding perhaps an inherited class which implements a nicer API which could be used during the design of a class to enable unittesting its features with

[2018-07-26 14:28] nemanja-boric-sociomantic commented on #568
This could potentially block, the better solution is to go with #530

[2018-07-26 14:31] mihails-strasuns opened #572 "Remove unecessary escaping of / JsonEscape"
Is not required by http://www.ietf.org/rfc/rfc4627.txt

[2018-07-26 14:35] mihails-strasuns opened #573 "Remove 'model' sub-packages"
@don-clugston-sociomantic :

Our codebase is littered with directories called `model` which we have inherited from Tango. This is one of the world's silliest coding conventions, and as far as I can tell it is unique to Tango. It was started by one of the early Tango developers who misunderstood the model-view-controller pattern.
Now we've absorbed tango into ocean we ought to remove one of Tango's

[2018-07-26 14:36] mihails-strasuns opened #574 "Problems with ocean.core.array.Transformation and arrays of references"
@gavin-norman-sociomantic :

[2018-07-26 14:38] mihails-strasuns opened #575 "Support AA in the ConfigParser"

[2018-07-26 14:48] mihails-strasuns opened #576 "Deprecate IMicrosecondsClock and IAdvancedMicrosecondsClock"

[2018-07-27 08:59] mihails-strasuns opened #577 "SerializingMap should set its own preallocation length based on the length of the read map"
@andrej-mitrovic-sociomantic :

The performance of the load method which reads the map from disk depends a lot on the configured preallocation length of the map itself. This length is set in the constructor of the class.

However the class could instead read the first N bytes from a serialized map and fetch the length from the map. It's stored as an offset somewhere in the first few bytes of the m

[2018-07-27 09:02] mihails-strasuns opened #578 "Buffered output not flush()ed before close()"
@leandro-lucarella-sociomantic :

This is a pretty nasty bug:

[code]

When compiled without `-version=Flush` it produces an empty file! I don't see anything in the docs referring to this behaviour, and even if it is, is completely wrong and unintuitive!

[2018-07-27 09:03] mihails-strasuns opened #579 "JsonParser doesn't check if there's a comma between fields"
(compare JsonParser unittest data with http://jsonlint.com/)

[2018-07-27 09:04] mihails-strasuns opened #580 "Provide a way to group command-line arguments"
@gautam-kotian-sociomantic :

It would be desirable to be able to group related command-line arguments.
Being able to group arguments would give us the flexibility to enforce additional rules in an application such as "the application must be started with at least one argument from group `x`", "any argument from group `a` conflicts with any argument from group `b`" and so on.

The argument groupin

[2018-07-27 09:05] mihails-strasuns opened #581 "Smushing command-line arguments doesn't always work"
@gautam-kotian-sociomantic :

Command-line arguments that have one or more parameters can optionally be made smush-able (by calling smush() when setting up the argument).

However, if the parameter given to the argument contains one or more = symbols, smushing doesn't work. In this case, the parts of the parameter before and after the first = symbol are treated as two separate parameters passed to

[2018-07-27 09:06] Geod24 commented on #579
Sounds a lot like https://github.com/sociomantic-tsunami/ocean/issues/565 ?

[2018-07-27 09:10] mihails-strasuns opened #582 "Deprecate / eliminate tango style non-ref buffer usage"
Basically all functions that have this:

[code]

.. should be modified/replaced.

[2018-07-27 09:11] mihails-strasuns commented on #579
Good catch, thanks

[2018-07-27 09:11] #579 closed, assigned to nobody

[2018-07-27 09:42] mihails-strasuns opened #583 "Multi-process cache implementation"
For applications running many instances on the same server maintaining several copies of `ExpiringCache` & friends for the same data source can introduce a lot of memory overhead.

Historically, there have been several solutions considered:

- implement shared memory based cache in ocean
- message-passing based cache to run as a separate local service
- special mode to run https://github.com/socio

[2018-07-27 09:57] mihails-strasuns opened #584 "Implement multi-serializer decorator"
AKA serializer/loader with metadata.

To be able to switch underlying serialization format flexibly (and not just struct version number which is possible right now), idea was to reserve `ubyte.max` version number to mean "extended header follows" and using additional decorator layer which pick serializer object depending on data in that header.

[2018-07-27 10:47] mihails-strasuns opened #585 "Maps: Allocate the buckets themselves using the allocator"
@hatem-oraby-sociomantic :

@david-eckardt-sociomantic mentioned that the buckets themselves can be allocated using the used allocator instead of the GC (e.g when using malloc allocator, the buckets themselves would malloc allocated as well).

For something like the malloc allocator this would give a further performance boost as a map's buckets wouldn't be scanned by the GC (which would yield in f

[2018-07-27 11:05] mihails-strasuns opened #586 "Merge `SmartEnum` and `Enum`"
@gavin-norman-sociomantic :

They cover mostly the same functionality. `Enum` has several benefits (creating a real `enum`, allowing enum inheritance, implementing an interface, allowing it to be used abstractly...). However, it lacks `SmartEnum`'s "auto smart enum" feature.

[2018-07-27 11:08] mihails-strasuns opened #587 "Expose `SignalSet.sigset`"
As mentioned before by @david-eckardt-sociomantic many  (if not all) important C functions require `sigset_t* as an argument thus protection attribute for this field causes more trouble than benefit.

[2018-07-27 11:10] mihails-strasuns opened #588 "Deprecate `Arguments` configuration `explicit` feature"
It does not work as advertised and is seldom used.

[2018-07-27 11:16] mihails-strasuns opened #589 "Arguments: number of defaults can exceed number of parameters"
This is accepted, but it shouldn't:

[code]

[2018-07-27 11:19] mihails-strasuns opened #590 "CSV.d asserts if coming out of quoted field that is on the end of the line"
@scott-gibson-sociomantic :

CSV performs the logic below when parsing a row. The issue is that if the field that is quoted is the last field then instead of detecting a separator it detects a new line and fires the assert. This is incorrect bhaviour as having a quoted field be the last field is perfectly valid.

[code]

Full logic below.

[code]

[2018-07-27 11:23] mihails-strasuns commented on #585
Extra suggestion from @gavin-norman-sociomantic was to reduce bucket indices and lengths from `size_t` to `uint`. This would limit the number of buckets and items per bucket to 4 billion (32-bits), which I think should be fine for all conceivable future use.

[2018-07-27 11:26] mihails-strasuns opened #591 "Certain signals cannot be handled by SignalFD"
@gavin-norman-sociomantic :

(http://man7.org/linux/man-pages/man2/signalfd.2.html)

I noticed that, although this limitation is mentioned in the documentation of `SignalFD`, there is no actual warning/error if the user attempts to do it anyway. Maybe we should consider asserting?

[2018-07-27 11:44] mihails-strasuns opened #592 "Add exclusiveGroup feature to command-line parameter API"
@andrej-mitrovic-sociomantic :

Essentially it would allow us to specify a set of parameters where only one of the parameters is allowed to be specified at the command-line. E.g.:

[code]

[code]

Maybe we should also have group and requiredGroup. group would allow no params, and the required one would require exactly one param.

[2018-07-27 11:45] mihails-strasuns opened #593 "`ocean.text.Arguments.getInt()` does not extract specified int type"
@joseph-wakeling-sociomantic :

The `getInt` method requests a template parameter for the int type, but that type is not used when attempting to extract the integer value from the command line argument: instead, a `long` is always extracted.

Ocean's `toInteger` method should probably be used internally instead.

[2018-07-27 11:50] mihails-strasuns opened #594 "SlidingAverage.clear() does not reset average to initial state"
@gavin-norman-sociomantic :

The method's documentation states:

[code]

However, the initial state of the `_average` member is NaN, not 0.

[2018-07-27 11:52] mihails-strasuns opened #595 "Deprecate `ocean.core.Traits`"
Any missing replacements in `ocean.meta` has to be added and migration scripts provided.

[2018-07-27 12:17] mihails-strasuns opened #596 "CachingDataLoader: Delete cache entry on error loading the value"
@david-eckardt-sociomantic :

Currently when <code>CachingDataLoader.load()</code> obtains an element from the external source, it stores it in the cache, then attempts to deserialise the element value. However, deserialisation may fail if the obtained value data are invalid or incomplete. <code>CachingDataLoader.loadRaw()</code> will throw an exception in that case.
If this happens, currently the

[2018-07-27 12:43] gavin-norman-sociomantic opened #597 "Set TCP keepalive options in IConnectionHandler"
The connection handlers in swarm and several apps override the `assign()` method of `IConnectionHandler` to set up TCP keepalive on a newly opened connection. The code in swarm is here: https://github.com/sociomantic-tsunami/swarm/blob/v4.x.x/src/swarm/node/connection/ConnectionHandler.d#L677-L694.

It might make sense to just put it in ocean.

[2018-07-27 14:04] ben-palmer-sociomantic opened #599 "Add method to output the config settings to Stdout"
When debugging applications it can often be useful to print the config options before running the application. So the process is start application, read config, print config, exit application. It would be useful to have a method in the `ConfigParser` to do this.

[2018-07-27 15:05] ben-palmer-sociomantic opened #600 "Output the current config of an application to a socket"
It can be useful to check the current configuration settings for a running application. This could be done in a similar way to how the version information is currently handled.

Should be added to the new application base class rather than the old one (https://github.com/sociomantic-tsunami/ocean/pull/544).

[2018-07-27 15:43] Geod24 commented on #592
Sounds like [conflicts](https://github.com/sociomantic-tsunami/ocean/blob/0aeb92d5294e9bf92b95b36f165762946c65e311/src/ocean/text/Arguments.d#L151-L163) ?

[2018-07-30 10:12] mihails-strasuns opened #602 "Implement task extension to aggregate runtime stats"
Can be useful for applications that want to track effectiveness of task scheduling with a given configuration. At the bare minimum should track time spent running and time spent waiting for resume for each individual task.

[2018-07-30 15:25] #472 closed, assigned to mihails-strasuns-sociomantic

[2018-07-31 10:03] mihails-strasuns commented on #511
As long as actual instances are unique, I don't think there is any problem here.

[2018-07-31 10:08] mihails-strasuns commented on #500
We should think about a better support for this problem as part of https://github.com/sociomantic-tsunami/ocean/pull/544

[2018-07-31 10:09] mihails-strasuns commented on #513
For tasks it is already possible by setting custom `theScheduler.exception_handler`. And `MessageFiber`/`SelectFiber` are not planned to be supported further more than absolutely necessary, thus closing.

[2018-07-31 10:09] #513 closed, assigned to nobody

[2018-07-31 10:12] mihails-strasuns commented on #483
Closing in absence of reproducible test case. Please reopen if still present.

[2018-07-31 10:12] #483 closed, assigned to nobody

[2018-07-31 10:20] mihails-strasuns commented on #365
Fixed in https://github.com/sociomantic-tsunami/ocean/commit/71f437844f79e44cd2fa04ae3ef0a2826e22623e

[2018-07-31 10:20] #365 closed, assigned to nobody

[2018-08-01 11:20] andrej-mitrovic-sociomantic commented on #592
Thank you @Geod24, very cool!

You seem like a smart guy. Did you know [we're hiring](https://www.sociomantic.com/careers/)?

[2018-08-06 12:22] mihails-strasuns opened #605 "Move/adjust reusable buffer pool facilities from swarm"
Swarm neo implements useful utilities on top of ocean `FreeList`, intended to simplify working with unknown count of reusable buffers shared by whole program. It is generic functionality useful in many apps and should be considered for inclusion into ocean.

https://github.com/sociomantic-tsunami/swarm/blob/b472569d4458b32a03611a286c1ed086d4f65593/src/swarm/neo/util/AcquiredResources.d

[2018-08-06 14:08] gavin-norman-sociomantic opened #606 "Daemon ehnancements"
https://github.com/sociomantic-tsunami/ocean/pull/544 represents a base class with similar features to the older `DaemonApp`. Ideas for enhancements have arisen, but I don't want to turn that PR into a moving goalpost. Ideas can be recorded here, instead.

[2018-08-06 14:09] gavin-norman-sociomantic commented on #606
Integrate logger stats. (Number of errors, warnings, etc.)

[2018-08-06 14:10] gavin-norman-sociomantic commented on #606
Scheduler stats (`theScheduler.getStats()`).

[2018-08-06 14:11] gavin-norman-sociomantic commented on #606
Global process monitor (see `ocean.io.select.client.EpollProcess` -- `SafeFork` also need something like this).

[2018-08-13 09:30] mihails-strasuns commented on #593
This is not an issue - range for extracted value is checked with `enforce(num <= T.max && num >= T.min);` and it is shrinked into final result. It is sub-optimal but not worth touching.

[2018-08-13 09:56] mihails-strasuns commented on #574
It is quite a touch call @gavin-norman-sociomantic - basically, one need to have a `const` buffer for this to work and D type system currently disallows this (`enableStomping` call won't compile) because it may refer to immutable memory.

And if `const` is simply removed, filter will stop working with regular string literals. One solution that could work is to use `inout` and modify `Buffer` to ca

[2018-08-13 09:57] joseph-wakeling-sociomantic commented on #593
I'll accept a `res-wontfix` but I don't accept this as invalid.  It's just very unlikely to be a practical problem.

[2018-08-13 10:07] mihails-strasuns commented on #565
This looks like inherent `JsonParser` behavior - there is even unittest that checks parser works this way. @stefan-brus-sociomantic afair you have originally reported the problem - does it cause any app pain (ping me in Slack)? I'd be careful to change behavior that is explicitly present in tests otherwise.

[2018-08-13 10:19] mihails-strasuns commented on #593
What problem can you imagine?

[2018-08-13 10:27] joseph-wakeling-sociomantic commented on #593
A `ulong` value that falls outside the upper range of `long`.  Very unlikely to occur in practice, but possible.

[2018-08-14 08:34] gavin-norman-sociomantic commented on #574
Ahh I see. That's... rather annoying. Sounds like time for another language feature to me ;)

Another solution would be to make an alternate version of this function that will work with arrays of references. This would presumably not work with immutable arrays of refs, but that's an obscure case. Not a particularly nice solution, but it seems better than opening the door to undefined behaviour.

[2018-08-14 15:43] mihails-strasuns commented on #574
Well, in D2-only code we can fix it by defining two overloads - one for reference type `T` and the other for value type `T`. But this requires template constraints, not available in D1.

[2018-08-14 15:58] gavin-norman-sociomantic commented on #574
Ah nice. Could an intermediate stage be to define these as separate functions (with different names), then when we drop D1 to move them to overloads? (I'm not sure there's a practical need for this right now. Just musing on possible solutions, should someone desperately need this support.)

[2018-08-15 08:36] mihails-strasuns commented on #574
I think so. But I'd probably wait until it is truly needed before committing to such workaround.

Makes me wonder if we can declare ocean v6 or v7 to be D2-only considering current migration progress. Worth checking with Luca once he is back.

[2018-08-15 08:38] gavin-norman-sociomantic commented on #574
Agreed on both counts :+1:

[2018-08-15 08:43] mihails-strasuns opened #613 "Convert ocean to be D2-only from one of next majors"
With current state of application migration is becomes viable to consider cleaned up D2-only version of ocean, either v6 or v7 depending on how soon next major will need to come out. We would need to provide special on demand support of last D1 branch for applications that lag behind but many will be able to switch by the time it is released.

[2018-08-15 08:44] mihails-strasuns commented on #574
https://github.com/sociomantic-tsunami/ocean/issues/613

[2018-08-15 08:44] #574 closed, assigned to nobody

[2018-08-15 08:57] mihails-strasuns commented on #593
Good catch, I didn't think about unsigned values.

[2018-08-22 17:42] #578 closed, assigned to nobody

[2018-08-22 17:42] #594 closed, assigned to nobody

[2018-08-23 10:04] mihails-strasuns commented on #565
Closing as "wontfix" after brief chat with @stefan-brus-sociomantic

[2018-08-23 10:04] #565 closed, assigned to nobody

[2018-08-23 11:09] mihails-strasuns commented on #539
Started working on this. Looks like easiest solution would be instead to have two separate lifetimes per cache - default one, and one used for missing/erroneous records. This will be much less intrusive change than modifying cache hierarchy to support additional per-record field.

[2018-08-23 12:36] gavin-norman-sociomantic commented on #539
This isn't mentioned in the original issue description. I guess you're just making an example of how this feature might be used?

[2018-08-24 08:30] mihails-strasuns opened #621 "[REG 4.2.6] Arguments used to allow empty/non-existent integer argument"
Regression from https://github.com/sociomantic-tsunami/ocean/commit/c141b3c967d88e3b88e60d5151a42efe45358f3a#diff-59a9e0a12c22f0a8f0e7160c47f92956

[2018-08-27 13:05] #592 closed, assigned to nobody

[2018-08-28 16:43] andrej-mitrovic-sociomantic opened #623 "Replace examples in comments with documented unittests"
For example: https://github.com/sociomantic-tsunami/ocean/blob/59c3705751bee0ae26a988225aafa49acf39488d/src/ocean/io/stream/Lines.d#L49

`Lines` is no longer templated, so that example code does not compile. We should use documented unittests wherever possible in place of inline comment code.

[2018-08-29 07:22] gavin-norman-sociomantic commented on #623
I took the liberty of changing the issue title. Does the new title reflect your intention?

[2018-08-29 07:50] don-clugston-sociomantic opened #624 "There are two contradictory declarations of addrinfo"
`ocean.sys.socket.AddrInfo` contains a `struct addrinfo` which is described as "Address information struct as returned by getaddrinfo().", and it contains an `extern(C)` declaration of `getaddrinfo`.

However, `core.sys.posix.netdb` also contains a `struct addrinfo`, and a declaration of `getaddrinfo`.

But, `ocean.sys.socket.AddrInfo` imports the enum values which `getaddrinfo` needs, from `core.

[2018-08-29 09:44] mihails-strasuns commented on #539
Yes, we have quickly discussed this with @ben-palmer-sociomantic and it is actual use case.

[2018-08-29 11:53] ben-palmer-sociomantic commented on #539
Just want to be clear, we may want different behavior for missing and erroneous records.

[2018-08-29 11:56] mihails-strasuns commented on #539
@ben-palmer-sociomantic how do you distinguish those in cache?

[2018-08-29 11:56] ben-palmer-sociomantic commented on #539
But this might be going over the top, initially treating them the same is an improvement.

[2018-08-30 10:56] #605 closed, assigned to gavin-norman-sociomantic

[2018-08-30 11:12] andrej-mitrovic-sociomantic commented on #623
Yes! Thanks.

[2018-08-30 11:22] #539 closed, assigned to nobody

[2018-08-30 13:25] mihails-strasuns commented on #624
@nemanja-boric-sociomantic @david-eckardt-sociomantic do you know anything about it?

[2018-08-30 14:38] nemanja-boric-sociomantic commented on #624
I'll check on Monday. I think the work there predates the time when we wanted to be consistent with D2 runtime, so I think it's just a bug (what Don is saying sounds feasible). I don't think anybody is importing this from the outside (I think it's only used internally) so we should be good to patch this in a point release.

Nemanja
________________________________
From: Mihails Strasuns <notificat

[2018-08-30 14:52] david-eckardt-sociomantic commented on #624
This looks like my handwriting. I don't remember why I wrote it so I guess `addrinfo` and `getaddrinfo` were somehow missing in the runtime at this time.

[2018-09-01 08:59] gavin-norman-sociomantic opened #626 "Adapt exponential retry code from swarm?"
https://github.com/sociomantic-tsunami/swarm/blob/b472569d4458b32a03611a286c1ed086d4f65593/src/swarm/neo/client/RetryTimer.d

It currently works with a `MessageFiber`, but could be adapted to use tasks.

[2018-09-04 14:02] mihails-strasuns commented on #530
Any updates on this @nemanja-boric-sociomantic ?

[2018-09-04 14:33] nemanja-boric-sociomantic commented on #530
No updates at this moment, but I'll catch up this month. I would move this to the next milestone.

[2018-09-17 09:44] nemanja-boric-sociomantic commented on #517
Since more and more applications are now hit by this, we should consider if we want to continue with this PR. It is a hack, but all other options are much worse IMHO (except unix socket approach, but that doesn't keep the history).

[2018-09-17 09:47] joseph-wakeling-sociomantic commented on #517
Yea, and it'll get worse and worse as more apps switch to using `ifempty`.  Are there any longer-term plans for how we're going to manage logs?  Otherwise this seems like a reasonable compromise.

[2018-09-17 09:50] joseph-wakeling-sociomantic commented on #517
Just for the sake of my poor and failing memory ... what ARE the other options?

For example, if it's possible for apps to specify a different output filename in config, that might be preferable to hardcoding a hack like this.

[2018-09-17 09:51] nemanja-boric-sociomantic commented on #517
I'm discussing with the infrastructure if they can keep the version history for us, since we're in the long term moving away from the log _files_ (they will be managed by infrastructure, if any).

[2018-09-17 09:54] nemanja-boric-sociomantic commented on #517
All the options mentioned here, that one hasn't . But then all applications will have to have

[code]

which I'm not sure how better it is than doing that for all the applications. But since this is a breaking change and we can move with it only in ocean v5.0.0, most of the applications will do the same anyway.

[2018-09-17 09:55] joseph-wakeling-sociomantic commented on #517
Doing it via config avoids the breaking change and makes it possible to limit the change only to apps/maintainers who are bothered by existing behaviour.  Given that we have a long-term change in mind with infrastructure, that seems the least intrusive option.

[2018-09-18 12:31] gavin-norman-sociomantic commented on #517
This would be the ideal. We _almost_ have all the info already.

[2018-09-23 14:15] mihails-strasuns commented on #624
So, the problem here is that ocean definition does not exactly match druntime one - it has bunch of helper methods and defines error code and flag enums as named types, all that public and part of `addrinfo` struct. So switching to druntime version is actually a breaking change.

[2018-09-23 14:16] mihails-strasuns commented on #624
tbh to me easiest fix would to deprecate whole module and provide `ocean.sys.socket.AddrInfo2` instead which uses druntime version (and renaming back in next major).

[2018-09-23 14:40] mihails-strasuns commented on #596
This is old bug report which is no longer relevant - `CachingStructLoader` (which replaced `CachingDataLoader`) creates entry only after callback is called by `getData` implementation which will not happen if exception fires before that.

[2018-09-23 14:40] #596 closed, assigned to nobody

[2018-09-24 09:51] mihails-strasuns commented on #590
https://github.com/sociomantic-tsunami/ocean/pull/634

[2018-10-09 13:31] nemanja-boric-sociomantic commented on #511
I wouldn't characterize this as a bug anymore. I tried diving into the logging system, but it's really hard to figure out will the proposed change have any further impact and knowing this framework, it most likely it has.

[2018-10-09 13:31] #511 closed, assigned to nobody

[2018-10-11 08:39] daniel-zullo opened #643 "Handle tasks spawned by a task pool in SpecializedPools"
The `SpecializedPools`  is not used if the task is spawned/started from another object rather than a plain task, for instance, spawned by a TaskPool.
`SpecializedPools` works fine if a plain task is directly scheduled.

[code]

[2018-10-11 13:54] matthias-wende-sociomantic opened #644 "Scheduler.await termination delegate accesses non valid data"
This problem occurs during shutting down the application after calling `theScheduler.shutdown` and causes the app to SEGFAULT. Note that it is tested in D2 only.

It seems that in at least one case the `context` variable is not valid when accessed from the delegate.
https://github.com/sociomantic-tsunami/ocean/blob/v4.x.x/src/ocean/task/Scheduler.d#L430

Here is the stacktrace:
[code]

Exchanging

[2018-10-11 13:56] daniel-zullo commented on #643
This bug/issue is solved by updating the method `findPool()` to:

[code]

If you are happy with this kind of hacky solution I'll push a patch including a unit test. A better solution would require breaking changes in the API

[2018-10-12 13:23] #590 closed, assigned to nobody

[2018-10-15 10:12] daniel-zullo commented on #643
Addressed by #645

[2018-10-15 10:12] #643 closed, assigned to mihails-strasuns

[2018-10-22 11:12] mihails-strasuns commented on #461
Moving to `4.4.0+breaking` because of how much of a negative impact this issue brings.

[2018-10-23 09:20] joseph-wakeling-sociomantic opened #648 "Closure-allocation CI script hardcodes assumption of D1 => D2 conversion"
The `ci/closures.sh` script used to check for closure allocations makes a hardcoded assumption that the code being checked is D1 and therefore needs to be converted to D2 before the check is made, using `make d2conv`.

However, this does not apply when used with a `+d2` release, or a dependent codebase that is D2-only.  The script should not run `make d2conv` in this case.

(Example use-case is wi

[2018-10-24 09:35] nemanja-boric-sociomantic commented on #648
I don't think it's the idea that you use `ci/` directory from ocean in your project, though. You should have a copy of the script, or the script should be a part of beaver, because we're that doesn't fall into semver guarantees (we usually change it as a part of minor and sometimes even patch release).

[2018-10-24 09:56] joseph-wakeling-sociomantic commented on #648
Hmmm well.  It _is_ being used that way in some projects (e.g. swarm), although I agree it's probably not really the intended use-case.

I do think it's a problem though that it can't be run on `+d2` auto-converted releases.

[2018-10-24 09:57] nemanja-boric-sociomantic commented on #648
Nope, swarm has it's own copy:

https://github.com/sociomantic-tsunami/swarm/blob/v5.x.x/.travis.yml#L55
https://github.com/sociomantic-tsunami/swarm/blob/v5.x.x/ci/closures.sh

[2018-10-24 09:59] nemanja-boric-sociomantic commented on #648
However, you're right that something is wrong with the` +d2` builds:

https://travis-ci.org/sociomantic-tsunami/ocean/builds/442572615

[2018-10-24 10:10] joseph-wakeling-sociomantic commented on #648
Well, duh.  I'm sure there _is_ at least one project that uses ocean's script directly, though.

[2018-10-24 10:18] joseph-wakeling-sociomantic commented on #648
For D2-only projects, though, I'm overthinking it: it should suffice to just do the `make fasttest | grep "closure"` directly (cf. the updated dmxnet PR), assuming that `DFLAGS=-vgc` is set in `env`.

[2018-10-26 11:10] joseph-wakeling-sociomantic opened #652 "Support deep-copying empty Contiguous instances"
The `ocean.util.serialize.contiguous.Util.copy` function throws a `SanityException` when the `src` parameter is an empty `Contiguous` instance (i.e. `src.ptr is null`), because the underlying `Deserializer.deserialize` call requires data to be present.

However, it seems perfectly reasonable that `copy` should handle empty `Contiguous` instances, in which case the `dst` parameter should also wind

[2018-10-26 18:59] #461 closed, assigned to nobody

[2018-10-26 19:25] mihails-strasuns opened #655 "v4.3.8"

[2018-10-26 19:26] #655 closed, assigned to nobody

[2018-10-29 17:27] matthias-wende-sociomantic commented on #644
My explanation was wrong. Both are clojures, so the code should be the same. It's strange that it solved the problem :confused:.

[2018-10-30 16:21] gavin-norman-sociomantic opened #657 "Re-add reverted throttler consistency check"
https://github.com/sociomantic-tsunami/ocean/pull/640 was released but then reverted, as it introduced a breaking change. (Applications that use a throttler in conjunction with a swarm neo suspendable request encountered runtime errors. See https://github.com/sociomantic-tsunami/ocean/pull/651.)

[2018-10-31 05:42] Geod24 commented on #644
Are they ? I see [this code](https://github.com/sociomantic-tsunami/ocean/blob/a03c7c27f0bdb88ee57a1f98efab3dc94594e0a0/src/ocean/task/Task.d#L356) and d1to2fix should stick a `scope` there, which makes any direct call to not GC-allocate the context.

So the code with `auto` will GC-allocate, while passing the dg directly will not GC-allocate, but run into the problem you mentioned. That might be

[2018-10-31 09:52] matthias-wende-sociomantic commented on #644
Yep, you are right there is a `scope` in the d2 version. I forgot that I'm using the d1tod2fixed version of ocean. Thanks :).

[2018-12-11 11:43] #652 closed, assigned to nobody

[2019-01-21 11:12] mihails-strasuns opened #671 "Task tests cause assertion failure with debug runtime"
Normally we use runtime built without assertions (for both D1 and D2) because those are too slow for production. When debugging unrelated issue I have tried running ocean with manually built runtime with all assertions in place and it has triggered this:

[code]

This sounds pretty damn bad.

[2019-01-21 11:22] Geod24 commented on #671
Which commit / tag ?

[2019-01-21 11:24] mihails-strasuns commented on #671
v4.x.x head

[2019-01-21 11:25] mihails-strasuns commented on #671
FYI: the failed assertion is about trying to reset a fiber that has not terminated yet

[2019-01-21 12:04] Geod24 commented on #671
I meant of the runtime. Couldn't find any assert in `core.thread` at line 2991 in 2.071 nor 2.078 nor HEAD.

[2019-01-21 12:45] mihails-strasuns commented on #671
That was from D1 tangort build :)

[2019-01-21 12:46] mihails-strasuns commented on #671
(version 1.10.3 specifically)

[2019-01-22 10:18] mihails-strasuns commented on #671
D2 runtime doesn't seem to have same limitation

[2019-01-29 08:24] #671 closed, assigned to nobody

[2019-01-29 13:37] leandro-lucarella-sociomantic opened #674 "Auto conversion to D2 for tags is failing"
See: https://travis-ci.org/sociomantic-tsunami/ocean/builds/485820133

[code]

[2019-01-29 13:39] leandro-lucarella-sociomantic commented on #674
And FYI @mihails-strasuns even when you don't have time. I wonder if @Geod24 wants to have a look :smiling_imp:

[2019-01-30 01:52] Geod24 commented on #674
Is it ? I haven't looked into the pipeline in a while but [this](https://travis-ci.org/sociomantic-tsunami/ocean/builds/485808126) is the job for v4.5.0.
The `D2 release` job [at the very bottom](https://travis-ci.org/sociomantic-tsunami/ocean/jobs/485808138) was successful. And indeed [the tag is here](https://github.com/sociomantic-tsunami/ocean/releases/tag/v4.5.0%2Bd2).

But the job you are li

[2019-01-30 15:16] leandro-lucarella-sociomantic commented on #674
Yes, it is. When a new tag is done, it is automatically converted to D2 and the D2 tag is created. Then Travis triggers a new build for the new D2 tag, and that one is the one failing.

![image](https://user-images.githubusercontent.com/2684688/51990941-ca517900-2488-11e9-84da-db69c22488e3.png)

OK, now I have to figure out why is triggering the conversion when it didn't before... :grumpy:

[2019-01-30 15:19] leandro-lucarella-sociomantic commented on #674
v4.4.4 worked fine, so comparing v4.4.4 and v4.5.0, I see this funny bit:

https://github.com/sociomantic-tsunami/ocean/compare/v4.4.4...v4.5.0#diff-354f30a63fb0907d4ad57269548329e3R42

[2019-01-30 15:22] leandro-lucarella-sociomantic commented on #674
It looks like a false positive, as it is only overriding the script that is the same but without output redirection.

[2019-01-30 15:24] leandro-lucarella-sociomantic commented on #674
Beaver submodule was advanced, maybe that's it.

[2019-01-30 15:31] leandro-lucarella-sociomantic commented on #674
Is the closure checking code:
[code]
https://travis-ci.org/sociomantic-tsunami/ocean/builds/485820133#L756

But this is getting weirder, tests are not being run at all for the D2 tag. Only the closure check is (and it is performing the conversion unconditionally). @mihails-strasuns are test not being run for the D2 tags intentionally?

https://github.com/sociomantic-tsunami/ocean/blob/v4.x.x/.trav

[2019-01-30 15:52] leandro-lucarella-sociomantic commented on #674
I have no idea why this worked in v4.4.4 (and previously), as the conversion was also performed. Maybe is because of , and before it failed by the script exited with status 0 anyway, because nothing was tested afterwards.

Anyway, this should fix it: https://github.com/sociomantic-tsunami/beaver/pull/66

[2019-01-30 15:54] leandro-lucarella-sociomantic commented on #674
After the submodule is advanced, I don't see any reason not to enable tests in the D2 tag (we need to make all D1 tests only run for non-tags though).

[2019-01-31 04:41] Geod24 commented on #674
To me that makes sense: tests are run before the tag is pushed (you don't want to push a tag which is broken). Re-testing after push does sounds that useful (unless you want to be paranoid).

[2019-01-31 13:20] leandro-lucarella-sociomantic commented on #674
I want to be paranoid. It happened before that we had something wrong with the tag and went unnoticed.

[2019-01-31 16:06] #674 closed, assigned to leandro-lucarella-sociomantic, gavin-norman-sociomantic

[2019-02-06 17:12] andrew-stevenson-sociomantic opened #677 "Truncated AppStatus output"
v4.3.5 introduced a regression (well https://github.com/sociomantic-tsunami/ocean/commit/2814d46b313a3be7c96eacd470242f94d72bab3c to be precise) such that the console output of my application, provided by AppStatus (https://github.com/sociomantic-tsunami/ocean/blob/2814d46b313a3be7c96eacd470242f94d72bab3c/src/ocean/io/console/AppStatus.d), is truncated at the 80th column.

I have a workaround but

[2019-02-08 12:08] matthias-wende-sociomantic opened #678 "ConfigExt used in CliApp doesn't support muliple config files"
It is possible to add several files to the constructor but it seems that only the last is read.

[2019-02-12 11:25] gavin-norman-sociomantic commented on #519
A thought on a simpler, intermediary step that might be worthwhile: now that the core logic of the extensions has been [separated out](https://github.com/sociomantic-tsunami/ocean/pull/660), we could replace the extensions in the app classes with using the separated code directly. (Without changing the API.)

[2019-02-12 11:39] gavin-norman-sociomantic commented on #519
Hm, looks like the "without changing the API" part would be complicated. The set of extensions is public.

[2019-02-19 10:36] mihails-strasuns commented on #648
Should be fixed now for ocean

[2019-02-19 10:36] #648 closed, assigned to nobody

[2019-02-19 10:46] mihails-strasuns commented on #613
Considering that pretty much all internal apps are at final transition stage now and current ocean development is very slow, it seems doable to go for D2-only in next major (v5.0.0). Scheduling.

[2019-02-19 11:39] gavin-norman-sociomantic commented on #613
Sounds good to me :+1:

[2019-02-19 13:54] #1 closed, assigned to nobody

[2019-02-22 13:28] Aleksandr-Mamonov-Dunnhumby opened #679 "Infinite loop on ICache.clear and corrupted state"
ICache.clear produce an infinite loop in some situations.

ICache is a base class for a bunch of different caches.
ICache has 2 containers inside TimeToIndex and KeyToNode.
KeyToNode is HashMap of TimeToIndex.Node* with custom allocator.
The HashMap use liked lists in each Bucket.
Loops in Bucket's liked lists cause infinite traverse time of that lists.

Except for infinite loop on clear this bug

[2019-03-01 11:11] andrew-stevenson-sociomantic opened #683 "Query strings not properly decoded"
Uri.parse does not properly unescape query strings. e.g. `my+Browser%2B` gives `my+Browser+` and it should be `my Browser+`.

There is a tentative fix in https://github.com/andrew-stevenson-sociomantic/ocean/commits/url_parsing (last 2 commits). I no longer use the code however and don't currently have the time to fully verify it or check the performance.

[2019-03-15 10:09] mihails-strasuns commented on #613
Done via https://github.com/sociomantic-tsunami/ocean/pull/681

[2019-03-15 10:09] #613 closed, assigned to leandro-lucarella-sociomantic

[2019-03-16 11:55] mihails-strasuns opened #686 "Switch from `package_.d` to `package.d` in v5.x.x"
Now that ocean v5.x.x branch is D2-only, it is possible to replace ad-hoc `package_.d` modules with `package.d` ones natively supported by compiler.

[2019-03-21 20:38] #595 closed, assigned to nobody

[2019-03-21 20:46] mihails-strasuns commented on #308
@gavin-norman-sociomantic do you still intend to get something into v5.0.0 for this?

[2019-03-22 09:55] #679 closed, assigned to Aleksandr-Mamonov-Dunnhumby

[2019-03-22 14:20] mihails-strasuns commented on #279
Currently working on this - ended up being surprisingly problematic because of constness issues. Plenty of text utilities are supposed to propagate mutability to return type (anything that returns `*Fruct`) which one normally does with `inout`. But there is no way to define one of struct fields as `inout` which means it is inherently incompatible with `Fruct` approach - and that propagates up the

[2019-03-25 11:13] mihails-strasuns commented on #569
Looking into this I am leaning towards closing this issue as wontfix. `ArgumentsExt` is designed to allow zero-effort default CLI behavior for apps, decoupling interactivity from it makes the extension rather pointless.

For applications relying on syslog it makes more sense to drop `ArgumentsExt` completely and work with arguments manually.

@matthias-wende-sociomantic @gavin-norman-sociomantic o

[2019-03-25 14:05] mihails-strasuns commented on #657
Currently blocked on swarm fix

[2019-03-26 09:37] matthias-wende-sociomantic commented on #569
I don't have any opinion on that. I'd say let's close it as probably nobody is going to work on it anyway in the foreseeable future.

[2019-03-28 09:50] #686 closed, assigned to nobody

[2019-03-28 09:51] mihails-strasuns commented on #130
https://github.com/sociomantic-tsunami/ocean/pull/687

[2019-03-28 09:52] mihails-strasuns commented on #279
https://github.com/sociomantic-tsunami/ocean/pull/687

[2019-03-28 09:52] #569 closed, assigned to nobody

[2019-03-28 16:47] #279 closed, assigned to nobody

[2019-03-28 16:48] #130 closed, assigned to nobody

[2019-04-02 09:21] mihails-strasuns commented on #657
https://github.com/sociomantic-tsunami/ocean/pull/692

[2019-04-02 09:44] mihails-strasuns commented on #196
Closing as @nemanja-boric-sociomantic is not available anymore and I can't figure out what exactly was needed 😊

[2019-04-02 09:44] #196 closed, assigned to nemanja-boric-sociomantic

[2019-04-02 11:37] #657 closed, assigned to matthias-wende-sociomantic

[2019-04-02 15:09] #555 closed, assigned to nobody

[2019-04-02 15:31] #576 closed, assigned to nobody

[2019-04-04 07:59] mihails-strasuns commented on #559
New decision is to deprecate the class completely as its additional functionality is not actually used in our codebase.

[2019-04-04 09:12] #559 closed, assigned to nobody

[2019-05-02 09:01] tiyash-basu-sociomantic opened #703 "Extend support for `shared` and `inout` in `Qualifiers`"
As it can be seen [here](https://github.com/sociomantic-tsunami/ocean/blob/a29f61736650f698fc4fbe5f7b88bf1ead138efb/src/ocean/meta/types/Qualifiers.d#L167), the `Unqual` template does not support `shared` and `inout`. It can be extended to support the two.

In general, the entire `Qualifiers` module can be extended to support `shared`, as and wherever deemed necessary.

[2019-05-02 09:29] tiyash-basu-sociomantic opened #704 "`Unqual` template does not strip topmost qualifier for pointers"
Apparently, the `Unqual` template does not un-qualify qualified pointer types, as indicated in the following tests. The `Unqual` template could be extended to support pointer types as well.

These tests pass:
[code]

However, these fail:
[code]

[2019-05-02 13:23] gavin-norman-sociomantic commented on #704
Ah interesting, so it's not just `void*`.

[2019-05-21 15:54] leandro-lucarella-sociomantic opened #711 "Add support for core.memory.GC.ProfileStats to ocean.application.components.GCStats"
dmd 2.085 [introduced](https://dlang.org/changelog/2.085.0.html#core-memory-gc-profile-stats) a new API to get GC timing and collection info: [`core.memory.GC.ProfileStats`](https://dlang.org/phobos/core_memory.html#.GC.ProfileStats).

We should make use of it (when available) in [`ocean.application.components.GCStats`](https://github.com/sociomantic-tsunami/ocean/blob/v4.x.x/src/ocean/application

[2019-06-18 09:28] david-eckardt-frequenz commented on #496
Actually no. The line in question affects the D function containing the asm section. The function body doesn’t have a `return` statement so the compiler needs to know how to return the result implicitly. DMD seems to know what to do to implicitly return a struct with one `int` member while LDC doesn’t. LDC can be helped by returning `int` instead; fortunately, this is a `private` function so the p

[2019-07-03 10:42] joseph-wakeling-frequenz opened #716 "dub test fails due to missing tester module"
If we try to run `dub test` (which uses `dub.sdl` to manage the build), building the unittest executable fails with the message:

[code]

It's not clear what is responsible here, since AFAICS there is nowhere in ocean (or its integration tests) that tries to `import tester`.

[2019-07-05 17:15] joseph-wakeling-frequenz commented on #496
Someone remove the `res-wontfix` tag, the fix is now merged ;-)

[2019-07-22 17:17] mihails-strasuns commented on #716
It is a dub bug, it interprets https://github.com/sociomantic-tsunami/ocean/blob/e53ac93fbf3bfa9b2dceec1a2b6dc4a0ec7f78b2/src/ocean/core/UnitTestRunner.d#L16 as an actual module declaration.

[2019-07-24 08:26] joseph-wakeling-frequenz commented on #716
That's grim :-\  Want me to report it upstream, or is someone already on it?

[2019-07-24 14:07] matthias-wende-sociomantic commented on #716
It seems there is nothing we can do here. Can we close this issue?

[2019-07-24 14:38] joseph-wakeling-frequenz commented on #716
@matthias-wende-sociomantic this may be an upstream bug but it should not be closed until it's reported upstream.  Even then I'd recommend leaving this issue open as a tracker for the upstream issue.

You _could_ go full WONTFIX but since the `dub.sdl` file is in place in the repo, I presume you want it to be usable with DUB, so it's probably worth caring about issues that prevent that ;-)

[2019-07-24 19:38] mihails-strasuns commented on #716
You can workaround it by blacklisting test runner module in `dub.sdl` for unittest build - it may otherwise clash with default test runner anyway (not sure how it is currently implemented in dub).

[2019-08-09 08:20] don-clugston-sociomantic opened #722 "Deprecation message refers to non-existent `isStringType`"
In ocean.core.Traits there is a declaration
[code]

But, `ocean.meta.traits.Basic.isStringType` does not exist. That's really mean!

[2019-08-12 08:16] matthias-wende-sociomantic commented on #722
Updated in https://github.com/sociomantic-tsunami/ocean/pull/713 but not released yet.

[2019-08-12 08:16] #722 closed, assigned to nobody

[2019-08-27 09:51] joseph-wakeling-frequenz commented on #716
I got a few minutes to boil this down to a minimal example, and reported the issue upstream: https://github.com/dlang/dub/issues/1761

The issue appears to be that the `module` statement in these ddoc blocks precedes the real `module` statement.  So a workaround could be to just avoid `module` statements in module ddoc banners.

[2019-08-27 16:20] joseph-wakeling-frequenz opened #730 "Many ocean.math unittests fail when built with LDC"
I've given a go to building ocean v5.0.x tests with `ldmd2` instead of `dmd` (v5.0.x because it includes the `getIeeeFlags` fix that was a blocker to using compilers other than DMD).  The command used was:

[code]

... with LDC 1.16.0 being used to test (matching DMD 2.086.1).

My suspicion (not yet confirmed) is that all of these reflect LDC using different core math routines to DMD (e.g. impleme

[2019-09-12 11:00] don-clugston-sociomantic commented on #730
Some of these tests seems extremely reasonable, and shouldn't be failing.
`test(asin(sin(0+0i)) == 0 + 0i); `
But, the code for almost all of this should be the same as Phobos (the Phobos code was taken from Tango and improved, that code was copied from Phobos1 and improved)
It should be just copy-and-paste to make it work.

[2019-09-12 12:16] joseph-wakeling-frequenz commented on #730
TBH I wonder if we shouldn't just import/alias from phobos try to drop as much as possible of `ocean.math`.  But it would be nice to work out why we get these failures, given (as you say) that they should not reasonably be happening.

[2019-09-12 12:59] Geod24 commented on #730
At the moment `dmd-transitional` does not include Phobos (on purpose) so a simple alias isn't possible.

[2019-09-12 14:25] joseph-wakeling-frequenz commented on #711
FYI @leandro-lucarella-sociomantic, I have raised the question with W&A about whether druntime can also support providing stomping prevention stats.  I'll give you a shout if there's any progress with that ;-)

[2019-09-12 16:35] don-clugston-sociomantic commented on #730
Honestly I'm horrified at some of the changes that were made to this module in Phobos. There's some good fixes which we want, that's all.

[2019-09-13 08:01] joseph-wakeling-frequenz commented on #730
Could we have a chat about that some time so that I get a good list of what those horror changes are?  I remember `approxEqual` but that's the only one.

[2019-09-17 16:21] Geod24 commented on #704
That's consistent with what Phobos is doing though. Unqual only removes the topmost layer, so `Unqual!(const(int*)) == const(int)*`.
But most people expect Unqual to go all the way in my experience.

[2019-09-17 16:23] Geod24 opened #747 "Transition from D1 operator overload to D2 operator overloads"
This needs to be done in v6.0.0, as D1 operators are virtual, while D2 are template instantiation (final), but can be made virtual if needed.
Some part of Ocean make use of it, e.g. [this](https://github.com/sociomantic-tsunami/ocean/blob/f253c5374d85948937fc8861804071b23752dacb/src/ocean/core/Enum.d#L153-L218).

[2019-09-18 07:46] andrew-stevenson-sociomantic opened #750 "LRUCache usage is surprising"
LRUcache does not update the recency of items retrieved with get, only with special get...refresh... methods. This is a surprising, and not well documented API.

get() should be overloaded to update recency and perhaps a `getWithoutRefresh` method be added for anyone who wants that behaviour - or maybe that should be `peek`?

See also https://github.com/sociomantic-tsunami/ocean/pull/746

[2019-09-18 09:00] andrew-stevenson-sociomantic commented on #716
There is now a workaround in dub for this so maybe this can be closed?

[2019-09-18 09:08] Geod24 commented on #716
I think so too (although the work around will only be part of the 2.089 release cycle)

[2019-09-18 09:18] joseph-wakeling-frequenz commented on #716
I've asked if we can get a point release to speed things up there.  The worst they can say is No :-P

What I suggest is that someone (I'm happy to do it) submits a PR to revert the workaround patch, which we block until a DUB release with the fix is out.  We can close this issue then, and just leave the open PR to remind us of the need for follow-up.

Once a DUB release with the fix is out, and ve

[2019-09-18 09:44] Geod24 commented on #716
I'd rather not have the workaround reverted for the time being, as it costs nothing, but allow us to use Ocean with older compiler (and thus, dub) versions. A new `dub` version is not going to fix this.

[2019-09-18 10:17] joseph-wakeling-frequenz commented on #716
That's why I suggested leaving the reversion PR open until an updated DUB is released (or even for a time window after that), but sure.  There is no rush on that.

[2019-09-18 10:36] joseph-wakeling-frequenz commented on #716
Anyway, just to verify, I did a fresh build of `dub` from master (including @andrew-stevenson-sociomantic's fix), and then attempted to run `dub test` on ocean v5.1.1.

If I specify `--compiler=dmd-transitional`, I get the following results:

[code]

I'm assuming this is down to absence of phobos, because when I use `--compiler=dmd` instead I get a different set of errors:

[code]

So @andrew-stev

[2019-09-18 10:38] joseph-wakeling-frequenz commented on #716
I was using DMD 2.085.1 in the second of the above `dub test` runs, just for the record.

[2019-09-18 10:40] joseph-wakeling-frequenz commented on #716
I think the `dmd` failures are because of `version (UnitTest)`.  Will try to confirm.

[2019-09-18 10:48] joseph-wakeling-frequenz commented on #716
Yup, it's definitely down to `version (UnitTest)`.  If I run `dub test` on v5.x.x plus a revert of the workaround patch, all is fine, except that we come up against the `UnitTestRunner` `main` function.  If that's versioned out, then we run into linker errors (unsurprising, because `dub.sdl` specifies no libraries to link against).

TL;DR I think @andrew-stevenson-sociomantic's fix solves the main

[2019-09-18 11:05] joseph-wakeling-frequenz commented on #747
Note that there are a few finnicky isues that come out of how various ocean functionality implements the older D1 operator overloads.

A quite common pattern is to have the implementation inside a local method, then use an alias of that to define the D1 operator overload.  The local implementations are in at least some cases overridden in subclasses (the only explicit example I found was in unitte

[2019-09-25 15:56] llucax opened #758 "Milestone for already released v5.2.0 still have 6 open PRs"
Open PRs/issues should be closed/merged or moved to the next minor release milestone, it doesn't make sense to have open PRs/issues in closed milestones.

https://github.com/sociomantic-tsunami/ocean/milestone/112

[2019-09-26 14:52] ben-palmer-sociomantic commented on #758
Thanks for pointing out, done.

[2019-09-26 14:52] #758 closed, assigned to nobody

[2019-10-14 01:20] Geod24 opened #770 "Branch v5.x.x should be made the default"
According to the README, branch v4.x.x is out of support, hence it should be deleted, along with other `v4` patch branches, and `v5.x.x` should be made the default branch.
There probably needs to be a review of the milestones assignment.

[2019-10-14 08:31] ben-palmer-sociomantic commented on #770
Thansk for the reminder. I have been through the milestones and have hopefully got everything required sorted. I will close this issue but feel free to comment or re-open if I missed something.

[2019-10-14 08:31] #770 closed, assigned to nobody

[2019-10-28 14:57] don-clugston-sociomantic opened #776 "An AutoSmartEnum can take 5 minutes to compile"
AutoSmartEnum generates a horrifically large number of templates. If there are N elements in the enum, it instantiates about 10 * N * N template instances (`LongestName`, `ShortestName`, `MinValue`, `MaxValue`.

When N is about 100, we've observed compilation times of around 5 minutes. The implementation could be done far more quickly by using CTFE instead of templates, or even (in most cases) cut

[2019-10-29 17:24] daniel-zullo opened #778 "Check and fix isStringType() deprecation"
`isStringType()` was deprecated and `isUTF8StringType()` should be used instead but the latter fails if a static array is checked.

[code]

[2019-11-05 08:35] don-clugston-sociomantic commented on #776
Actually `AutoSmartEnum` isn't responsible for the whole five minutes, it's probably only a few seconds of the time. But a fix is here:
https://github.com/sociomantic-tsunami/ocean/pull/780

[2019-11-07 02:17] AndrejMitrovic opened #781 "BitArray.init name is problematic"
https://github.com/sociomantic-tsunami/ocean/blob/ad2c368b338d74cdd6991e5c32b1c042250ebef0/src/ocean/core/BitArray.d#L206

This is causing issues with generic code. For example, `BitArray.init` cannot be used because it's "overriden" here, leading to a compiler error.

I suggest renaming it to `initialize`. But I don't know if this is used anywhere within Sociomantic, so it's up to you guys to dec

[2019-11-10 20:07] daniel-zullo commented on #778
Closed by #779

[2019-11-10 20:07] #778 closed, assigned to nobody

[2019-11-28 09:23] don-clugston-sociomantic commented on #776
This was fixed by #780.

[2019-11-28 09:23] #776 closed, assigned to nobody

[2019-12-07 16:03] s-ludwig opened #788 "code.dlang.org repository URL is outdated"
Just stumbled over the fact that the ocean-d2 package on code.dlang.org still references "sociomantic-tsunami/ocean-d2" instead of "sociomantic-tsunami/ocean" and didn't get any updates since 2017. This can be changed under "Manage packages" -> "ocean-d2" -> "Repository".

[2019-12-08 15:13] Geod24 commented on #788
CC @mihails-strasuns @llucax

[2019-12-08 22:32] llucax commented on #788
I think ocean never really had an "official" dub package, it was done as an experiment in this other repo. Since I'm not involved in Ocean anymore, pinging @ben-palmer-sociomantic @daniel-zullo-sociomantic and @joseph-wakeling-frequenz as people that might be interested in getting proper dub support in ocean.

[2019-12-09 14:32] mihails-strasuns commented on #788
AFAIR Hatem has originally created that dub package so there is a high chance account access is lost now. Better probably to remove it and re-create anew if needed.

[2019-12-09 16:26] s-ludwig commented on #788
I could also change the owner manually to anyone else who has an account there.

[2019-12-10 09:12] mihails-strasuns commented on #788
That is a call for current ocean maintainers to make :)

[2019-12-19 10:25] ben-palmer-sociomantic commented on #788
I think we should remove it as it is outdated and we are not planning on maintaining a dub package. If anyone else wants to take it on though they can feel free.

[2019-12-19 10:29] don-clugston-sociomantic commented on #788
Hatem created this package from personal interest, in relation to a presentation he gave at dconf. We don't use dub internally so it's unsurprising that it's hopelessly outdated.

[2019-12-19 10:54] mihails-strasuns commented on #788
Note that there is a `dub.sdl` in the default ocean branch but it is not tested by the ocean CI. If it was, updates to the registry would come for free (afair code.dlang.org checks new versions of registered repos automatically).

Maybe that is something @joseph-wakeling-frequenz wants to take over? I have memories that you have used ocean via dub.

[2019-12-19 11:50] joseph-wakeling-frequenz commented on #788
I haven't really used it so far, I just made a few provisional tests of using dub rather than make to build/test the library.  I'll think about what I can do but in the short term I would be reluctant to take on something I'm not 100% sure I can commit to.

[2019-12-19 12:19] joseph-wakeling-frequenz commented on #716
This can be closed, as the latest dub release (1.18.0) fixes the problem, thanks to @andrew-stevenson-sociomantic's patch.

There are other blockers to testing ocean with DUB, but I'll open other issues for that ;-)

Thanks @andrew-stevenson-sociomantic for addressing the problem at its source!

[2019-12-19 12:19] #716 closed, assigned to nobody

[2019-12-19 13:53] Geod24 commented on #788
I see two points here:
- The registry registration;
- The `dub.sdl` file in Ocean's default branch;

The `dub.sdl` file works just fine, and we are using it. I surely hope it won't go away.
The registry registration is the part that is broken. We (obviously) don't use it, relying on submodules instead, but since it is a rather low maintenance thing, you can assign it to me @s-ludwig .

[2019-12-19 13:56] ben-palmer-sociomantic commented on #788
Thanks @Geod24 !

[2019-12-19 14:58] s-ludwig commented on #788
@Geod24: Done!

[2019-12-19 15:24] Geod24 commented on #788
@s-ludwig : Actually it seems that the name of the package and the Github repository need to match ??

So I just deleted it (there were 17 total downloads anyway) and re-created it, proper: http://code.dlang.org/packages/ocean

[2019-12-25 00:33] oraby commented on #788
Just to bring context to the reasoning behind the decision back then: I've created the dub entry under the name  `ocean-d2` such that I'd leave the entry named just `ocean` to when the actual ocean repo (one this repo) is  in D2.
The goal back then was to have the ocean-d2 repo automatically converted with each ocean release. This plan was dropped quickly afterwards though in favour of other plans

[2020-01-24 15:02] don-clugston-sociomantic commented on #781
This appears to be fixed by #784.

[2020-01-24 15:02] #781 closed, assigned to nobody

[2020-02-04 02:33] Geod24 commented on #788
@Oraby: Thanks for the context :)

I think this issue can be closed

[2020-02-04 04:10] Geod24 opened #804 "Drop dependency on DMD < v2.075"
Because of the upcoming `body` deprecation (in favor of `do`), building any Sociomantic project with DMD >= 2.091.0 is going to result in a torrent of message.
I could solve those messages myself very easily, however the `do` alternative was introduced in DMD v2.075.0, and it seems Ocean & co are still tested with DMD 2.071 (socio edition).

Given the recent developments, is there a chance that th

[2020-02-04 08:10] #788 closed, assigned to nobody

[2020-02-04 08:45] don-clugston-sociomantic commented on #804
Good Lord, dlang is doing their level best to make this language unusable. If you're making breaking changes like this, there *must* be a stability branch before them. Sadly, the most recent stability branch is called D1.

The short answer is, no, not in the short term. We need to support 2.071 socio at least until August this year. After that point we could bump the minimum supported version to 2

[2020-02-04 09:33] Geod24 commented on #804
To be fair, I am the one that pushed for this deprecation.

I agree that the release schedule should be better handled, but so far it's only a volunteer effort, so it's a tradeoff between moving forward and being stable. It seems the vast majority (at least the non-silent one) prefers moving forward.

If it's a bother for Sociomantic, I suggest bringing it up to Walter so we get the deprecation re

[2020-03-16 11:58] don-clugston-sociomantic commented on #804
Once dmd 2.092 is released I think we'll be able to drop support for old versions. Reason is, compilers older than 2.091 have wrong-code bugs which means they shouldn't be used. We have some existing projects which require our custom compiler, which is 2.075 with patches applied, but they are using old releases of ocean. Nothing will be changing to a recent version of ocean without changing the co

[2020-03-16 15:43] Geod24 commented on #804
What fixes do you need which will be in 92 but aren't in 91?

[2020-03-17 08:25] Geod24 commented on #747
As far as I can tell, this has been completed, thanks to @don-clugston-sociomantic & others.

[2020-03-17 08:25] #747 closed, assigned to nobody

[2020-03-22 12:33] Geod24 commented on #804
Also, if you go to something >= 2.089 we can remove more `stdc` module.
See e.g. https://github.com/dlang/druntime/commit/a2a88cf05cccbf70e7a1df167d28a45b827da5d4

[2020-07-29 14:57] MoonlightSentinel opened #827 "SmartUnion generates conflicting opCalls"
`SmartUnion` generates an `opCall` for every member of a given `union`, even if the union contains multiple members with identical types. This bug is silently accepted because of [this issue](https://issues.dlang.org/show_bug.cgi?id=2789) and blocks dlang/dmd#8429 which enables a deprecation for conflicting overloads.

[2020-08-13 15:13] Geod24 commented on #804
Done in #829

[2020-08-13 15:13] #804 closed, assigned to nobody

[2020-08-13 15:18] Geod24 commented on #704
Closing as WONTFIX since it's a well known behavior.

[2020-08-13 15:18] #704 closed, assigned to nobody

[2020-08-18 03:15] Geod24 commented on #827
PR #831 merged.

[2020-08-18 03:15] #827 closed, assigned to nobody

[2020-11-05 06:22] AndrejMitrovic opened #839 "Make ocean.core.Test @safe and @nogc, potentially also nothrow"
Currently we cannot use the `test` routine within `@safe` / `@nogc` unittests:

[code]

Additionally we cannot use `nothrow` because `test!()` throws an Exception rather than an Error.

I do not know of any code which specifically catches exceptions thrown by `test!()`. I don't see why it couldn't be changed to throw an Error instead.

`@safe` can be added more easily, there's only a few uses of u

[2020-11-05 06:30] AndrejMitrovic commented on #839
I was just informed by Mathias that `-checkaction=context` already shows the errors when using `assert`.

So we could close this, unless someone really wants to work on it.

[2021-04-07 05:56] Geod24 opened #846 "Formatter does not support enums with multiple identical values"
[code]

[code]

[2021-06-01 05:35] Geod24 commented on #839
Since `-checkaction=context` now works relatively well, I'm going to close this as WONTFIX.

[2021-06-01 05:35] #839 closed, assigned to nobody

[2021-12-11 18:44] dkorpel opened #857 "New release needed to unblock dmd's buildkite"
This PR: https://github.com/sociomantic-tsunami/ocean/pull/852
Is needed to make buildkite pass for this dmd PR: https://github.com/dlang/dmd/pull/12890
But buildkite checks out tag 6.1.0 from April, which doesn't include the fix.

I've tried contacting Matthias Lang with a GitHub ping and a Slack message, but he seems to be busy, so hopefully this issue is seen by someone who can make it happen.

[2021-12-12 09:49] Geod24 commented on #857
Thanks, this slipped my mind. New release out: https://github.com/sociomantic-tsunami/ocean/releases/tag/v6.2.0
Looking at Buildkite though, it looks like swarm & co also need to be updated.

[2021-12-12 17:46] dkorpel commented on #857
Can you do that please?

[2021-12-23 18:03] #857 closed, assigned to nobody